<% title "Sitzplan" %>
<% include_css "ticketing/seats" %>
<div class="hl">Sitzplan</div>

<p>
  Sitzplan wechseln:
  <%= @seatings.map { |seating| link_to_if @seating != seating, seating.name, seating }.join(', ').html_safe %>
</p>

<%= render "application/ticketing/seating", class: [:stage, :standalone], seating: @seating %>

<div class="hcen">
  Download: <%= link_to 'PDF', format: :pdf %> | <%= link_to 'SVG', format: :svg %>
</div>
