- title 'Mitgliedskonto aktivieren'

= render 'password_form', post_url: finish_activation_members_member_path, message: 'Bevor Sie sich das erste Mal im Mitgliederbereich umsehen, müssen Sie zunächst ein persönliches Passwort festlegen, mit dem Sie sich in Zukunft einloggen.'
