<% title "Passwort für Mitgliedskonto vergessen" %>
<div class="hl">Passwort vergessen</div>
<p>Hier hast du die Möglichkeit dein Passwort zurückzusetzen, falls du es mal vergessen haben solltest. Nach Eingabe deiner e-mail-Adresse erhältst du eine e-mail mit weiteren Instruktionen.</p>
<%= form_for Members::Member.new, :url => reset_password_members_member_path do |f| %>
  <table class="rounded panel">
  	<tr>
  		<td>e-mail Adresse:</td>
  		<td><%= f.text_field :email %></td>
  	</tr>
  </table>
  <div class="submit">
  	<%= f.submit "abschicken" %>
  </div>
<% end %>