<% title "Passwort für Mitgliedskonto vergessen" %>
<div class="hl">Passwort vergessen</div>
<p>Hier haben Sie die Möglichkeit, Ihr Passwort zurückzusetzen, falls Sie es vergessen haben sollten. Nach Eingabe Ihrer E-Mail-Adresse erhalten Sie eine E-Mail mit weiteren Instruktionen.</p>
<%= form_for Members::Member.new, :url => reset_password_members_member_path do |f| %>
  <table class="rounded panel">
    <tr>
      <td>E-Mail Adresse:</td>
      <td><%= f.email_field :email %></td>
    </tr>
  </table>
  <div class="submit">
    <%= f.submit "abschicken" %>
  </div>
<% end %>
