- title 'Passwort für Mitgliedskonto zurücksetzen'

= render 'password_form', post_url: finish_reset_password_members_member_path, message: 'Sie können nun ein neues Passwort für Ihr Mitgliedskonto festlegen.'
