<table class="rounded entries log details">
  <thead>
    <tr>
      <th colspan="3">Protokoll</th>
    </tr>
    <% if !events.size.zero? %>
      <tr>
        <th>Datum</th>
        <th>Aktion</th>
        <th>Benutzer</th>
      </tr>
    <% end %>
  </thead>
  <tbody>
    <% if events.size.zero? %>
      <tr>
        <td class="empty" colspan="3">Keine Protokolleinträge vorhanden.</td>
      </tr>
    <% else %>
      <% events.each do |event| %>
        <tr>
          <td class="date"><%= l event.created_at, format: "%d.%m.%y, %H:%M" %></td>
          <td><%= t event.name, { scope: scope }.merge(event.info) %></td>
          <td><%= "#{event.member.first_name} #{event.member.last_name}" if event.member %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
