<% content_for :footer do %>
  <div class="print-notification">
    <div class="spinner"></div>
    <div class="info">
      Die Tickets werden nun gedruckt. Einen Moment bitte.
      <p>Sollte der Drucker nach wenigen Augenblicken nicht reagieren, klicken Sie bitte <a href="" target="_blank">hier</a>, um die Tickets anzuzeigen und manuell auszudrucken.</p>
    </div>
  </div>
<% end %>