<% content_for :footer do %>
  <div class="print-notification">
    <%= render 'application/spinner' %>
    <div class="info">
      Die Tickets werden nun gedruckt. Einen Moment bitte.
      <p><a href="#" class="restart">Druckvorgang noch einmal starten</a> | <a href="" target="_blank" class="printable">Tickets manuell ausdrucken</a> | <a href="#" class="dismiss">Hinweis ausblenden</a></p>
    </div>
  </div>
<% end %>
