<%= content_tag :div, class: [:error, :plural_text] do %>
  <div>Sie m체ssen noch <b class="number plural"><span></span></b><span class="singular">einen</span> <span class="singular">Sitzplatz</span><span class="plural">Sitzpl채tze</span> ausw채hlen.</div>
<% end if (error_box ||= false) %>
<div class="plan">
  <div class="scroller">
    <% seats = seats.includes(:block) if !seats.is_a? Array %>
    <% seats.each_with_index do |seat, index| %>
      <% options = (seat_options(seat) if (respond_to? :seat_options)) || {} %>
      <%= div_for(seat, options.merge(data: { id: seat.id, number: seat.number, block: seat.block.id, :"grid-x" => seat.position_x, :"grid-y" => seat.position_y }) ) do %>
        <% if (numbers ||= false) %>
          <div class="number"><%= seat.number %></div>
        <% end %>
      <% end %>
    <% end %>
    <% if !(no_stage ||= false) %><div class="stage">B체hne</div><% end %>
  </div>
</div>