<% (options ||= {}).deep_merge!({ class: [:seating] }) { |key, old, new| Array.wrap(old) + Array.wrap(new) } %>
<%= content_tag :div, options do %>
  <%= content_tag :div, class: [:error, :plural_text] do %>
    <div>Sie müssen noch <b class="number plural"><span></span></b><span class="singular">einen</span> <span class="singular">Sitzplatz</span><span class="plural">Sitzplätze</span> auswählen.</div>
  <% end if (error_box ||= false) %>
  <%= content_tag :div, class: [:viewChooser] do %>
    Ansicht:<% [[:simple, "einfach"], [:numbers_and_underlay, "mit Sitznummern und Blockfarben"], [:photo, "Foto"]].each_with_index do |type, i| %><% if i > 0 %>|<% end %><%= link_to type.last, nil, data: { type: type.first }, class: (view ||= :simple) == type.first ? :selected : nil %><% end %>
  <% end if (view_chooser ||= false) %>
  <div class="move">
    zum <span class="left">linken</span><span class="right">rechten</span> Bereich bewegen
  </div>
  <div class="plan"></div>
<% end %>