<%
  options ||= {}
  (options[:class] ||= []) << :seating
  (options[:data] ||= {})[:event_id] = local_assigns[:event]&.id
  options[:data][:plan_path] = url_for((local_assigns[:event]&.seating || seating).plan)
%>
<%= content_tag :div, options do %>
  <%= content_tag :div, class: [:error, :plural_text] do %>
    <div>Sie müssen noch <b class="number plural"><span></span></b><span class="singular">einen</span> <span class="singular">Sitzplatz</span><span class="plural">Sitzplätze</span> auswählen.</div>
  <% end if (error_box ||= false) %>
  <div class="plan"></div>
<% end %>
