.coupons
  table.coupons.rounded
    tbody
      tr.coupon
        td.plural_text <span class="number"><span></span></span> Geschenkgutschein<span class="plural">e</span> über <span class="value"></span> €
        td.total <span></span> €
      tr.total
        td.plural_text Insgesamt <span class="number"><span></span></span> Geschenkgutschein<span class="plural">e</span>
        td.total <span></span> €
