p.note Ich habe die #{link_to 'AGB', agb_path, target: '_blank'} des Anbieters gelesen und erkläre mit dem Absenden der Bestellung mein Einverständnis. Die #{link_to 'Widerrufsbelehrung', widerruf_path, target: '_blank'} inklusive Muster-Widerrufsformular habe ich zur Kenntnis genommen.
