<thead>
  <tr>
    <th colspan="2"><%= title %></th>
  </tr>
</thead>
<tbody>
  <% overview.each do |row| %>
    <tr>
      <td class="label"><%= row[0] %>:</td>
      <td class="<%= row[2] %>"><%= row[1].presence || content_tag(:em, 'nicht angegeben', class: :small) %></td>
    </tr>
  <% end %>
</tbody>
