<% title "Bestellungen" %>
<% include_css "ticketing/orders" %>
<% include_js "ticketing/base" %>
<div class="index">
  <div class="hl">Bestellungen</div>
  <%= render "new_button", action: "neue Bestellung aufnehmen", url: new_ticketing_order_path %>
  <%= render "application/ticketing/orders_table", title: "Online-Bestellungen", orders: @orders[:web], web: true, cache_key: [:orders, :web] %>
  <%= render "application/ticketing/orders_table", title: "Vorverkaufsstellen", orders: @orders[:retail], web: false, cache_key: [:orders, :retail] %>
</div>