<% title "Bestellungen" %>
<% include_css "ticketing/orders" %>
<% include_js "ticketing/base" %>
<% cache [:ticketing, :orders, :index] do %>
  <div class="index">
    <div class="hl">Bestellungen</div>
    <%= render "application/ticketing/orders_table", title: "Online-Bestellungen", orders: @orders[:web], web: true %>
    <%= render "application/ticketing/orders_table", title: "Vorverkaufsstellen", orders: @orders[:retail], web: false %>
  </div>
<% end %>