<% title 'Tickets bestellen' %>
<% include_css "ticketing/orders" %>

<div class="hl">Tickets bestellen</div>

<div class="hcen">Bitte wählen Sie eine Veranstaltung.</div>

<div class="choose-event">
  <% @events.each do |event| %>
    <%= link_to event_slug: event.slug do %>
      <%= event_logo(event) %>
    <% end %>
  <% end %>
</div>
