ruby:
  payment_methods = [
    {
      name: :transfer,
      human_name: 'Vorkasse per Überweisung',
      desc: 'Der Kunde überweist das Geld und erhält seine Tickets an der Abendkasse oder anderweitig.'
    },
    {
      name: :cash,
      human_name: 'Barzahlung',
      desc: 'Der Kunde bezahlt in bar.'
    },
    {
      name: :box_office,
      human_name: 'Zahlung an der Abendkasse',
      desc: 'Der Kunde zahlt an der Abendkasse in bar oder per Karte.'
    }
  ]

- content_for :steps
  = render 'tickets'
  = render 'seats'
  = render 'address'
  = render 'covid19' if @event.covid19?
  = render 'payment', methods: payment_methods

  .stepCon.confirm
    = render 'confirm_tickets'
    = render 'confirm_address'

= render 'framework', title: 'Neue Bestellung aufnehmen'
