<% title "Bestellungen - Suche" %>
<% include_css "ticketing/orders" %>
<% include_js "ticketing/base" %>
<div class="index">
  <div class="hl">Suche</div>
  <%= render "new_button", action: "neue Bestellung aufnehmen", url: orders_path(admin? ? :new_admin_ticketing_order : :new_ticketing_order) %>
  <%= render "search_form" %>
  <%= render "application/ticketing/orders_table", table_title: "Suchergebnisse für „#{params[:q]}“", orders: @orders, web: true %>
</div>