.export {
  font-size: 12px;
  text-align: right;
  margin: 7px 10px;
  color: #cccccc;

  a {
    color: #cccccc;
  }
}
.files td {
  &:first-child {
    width: 10%;
    text-align: center;
  }

  &.download {
    width: 1%;
  }
}
.dates tr td {
  vertical-align: top;

  &:first-child {
    width: 28%;
  }
}

.edit_members_member, .new_members_member {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  input[type='text'], input[type='number'], input[type='email'] {
    width: 220px;
  }
}

div.cancelled {
  color: red;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
}
