/.bundle

/db/*.sqlite3

/log/*.log
/tmp

/node_modules

/public/system
/public/uploads
/public/assets

# Redis
dump.rdb

/config/master.key

/config/settings.local.yml
/config/settings/*.local.yml

.byebug_history
