[submodule "vendor/assets/javascripts/node-validator"]
	path = vendor/assets/javascripts/node-validator
	url = git@github.com:chriso/validator.js.git
[submodule "vendor/assets/javascripts/socket.io-client"]
	path = vendor/assets/javascripts/socket.io-client
	url = git@github.com:LearnBoost/socket.io-client.git
[submodule "vendor/assets/javascripts/spin.js"]
	path = vendor/assets/javascripts/spin.js
	url = git@github.com:fgnass/spin.js.git
[submodule "vendor/assets/javascripts/KineticJS"]
	path = vendor/assets/javascripts/KineticJS
	url = git@github.com:ericdrowell/KineticJS.git
[submodule "vendor/assets/javascripts/Chart.js"]
	path = vendor/assets/javascripts/Chart.js
	url = git@github.com:nnnick/Chart.js.git
