<% title "Mitgliederverwaltung" %>
<div class="hl">Mitgliederliste</div>
<%= render "new_button", :action => "neues Mitglied" %>
<table class="rounded">
	<tr>
		<th class="id">#</th>
		<th>Nachname</th>
		<th>Vorname</th>
	</tr>
	<% @members.each do |member| %>
		<tr>
			<td class="id"><%= member.id %></td>
			<td><%= member.last_name %></td>
			<td><%= member.first_name %></td>
		</tr>
	<% end %>
</table>