- title 'Mitgliederverwaltung'

.container
  h1 Mitglieder
  .row: .col
    p.text-center
      ' Aktuelle Mitgliederzahl:
      b> = @members.count
      em() (davon <b>#{@members.membership_cancelled.count}</b> gekündigt)
    = render 'new_button', model: Members::Member
    .card.table-responsive
      table
        thead
          tr
            th Nachname
            th Vorname
            th
        tbody
          - @members.each do |member|
            tr
              td.align-middle = link_to_if policy(member).show?, member.name.last_with_title_sorted, [:admin, member]
              td.align-middle = link_to_if policy(member).show?, member.name.first, [:admin, member]
              td.text-center width='20%'
                - if member.in_family?
                  span.cursor-help> title='Dieses Mitglied ist Teil einer Familie' 👨‍👩‍👧‍👦
                - if member.admin?
                  span.cursor-help> title='Dieses Mitglied ist Teil des Vorstandes' 👑
                - if member.membership_cancelled?
                  span.cursor-help> title='Für dieses Mitglied ist eine Kündigung vorgemerkt' ❌
                - if member.membership_fee_payments_paused?
                  span.cursor-help> title='Bei diesem Mitglied ist die letzte Zahlung des Mitgliedsbeitrages fehlgeschlagen' ‼️
                - if member.web_authn_set_up?
                  span.cursor-help> title='Passkey eingerichtet' 🔑
