- title 'Mitgliederverwaltung'

- cache @members
  .hl Mitgliederverwaltung
  = render 'new_button', action: 'neues Mitglied'
  p
    ' Aktuelle Mitgliederzahl:
    b = @members.count
  table.rounded
    thead
      tr
        th
        th Nachname
        th Vorname
    tbody
      - @members.each do |member|
        tr
          td.hcen width='15%'
            - if member.in_family?
              span> title='Dieses Mitglied ist Teil einer Familie' 👨‍👩‍👧‍👦
            - if member.admin?
              span> title='Dieses Mitglied ist Teil des Vorstandes' 👑
            - if member.membership_terminated?
              span> title='Für dieses Mitglied ist eine Kündigung vorgemerkt' ❌
          td = link_to member.name.last_with_title_sorted, [:admin, member]
          td = link_to member.name.first, [:admin, member]
