<%=
date = ticket.date.date.to_formatted_s(:w3c)

barcode = {
  format: 'PKBarcodeFormatQR',
  message: ticket.signed_info(medium: Ticketing::CheckIn.media[:passbook]),
  messageEncoding: 'utf-8',
  altText: ticket.number
}

_info = {
  formatVersion: 1,
  description: "Ticket für das Theaterstück „#{ticket.date.event.name}“",
  organizationName: "Freilichtbühne am schiefen Turm",
  passTypeIdentifier: "pass.de.theater-kaisersesch.FasT",
  groupingIdentifier: ticket.order.number.to_s,
  voided: ticket.cancelled?,
  teamIdentifier: "V48L6BF6M3",
  webServiceURL: api_passbook_root_url,
  relevantDate: date,
  barcode: barcode,
  barcodes: [barcode],
  locations: [
    {
      latitude: 50.23089,
      longitude: 7.141626
    }
  ],
  eventTicket: {
    primaryFields: [
      {
        key: "date",
        label: "Datum",
        value: date,
        dateStyle: "PKDateStyleFull",
        changeMessage: "Ihr Ticket wurde auf folgendes Datum umgebucht: %@"
      }
    ],
    secondaryFields: [
      {
        key: "opens",
        label: "Einlass",
        value: ticket.date.door_time.to_formatted_s(:w3c),
        timeStyle: "PKDateStyleShort"
      },
      {
        key: "time",
        label: "Beginn",
        value: date,
        timeStyle: "PKDateStyleShort",
        changeMessage: "Der Beginn der Aufführung wurde geändert auf %@."
      }
    ],
    auxiliaryFields: [
      {
        key: "location",
        label: "Ort",
        value: ticket.date.event.location
      },
      {
        key: "ticket_type",
        label: "Kategorie",
        value: ticket.type.name,
        changeMessage: "Die Kategorie Ihres Tickets wurde geändert auf „%@“."
      },
    ],
    backFields: [
      {
        key: "locationAddress",
        label: "Adresse der Spielstätte",
        value: "Burgstraße, 56759 Kaisersesch\nEine Karte mit Parkmöglichkeiten finden Sie <a href=\"#{info_url}\">hier</a>."
      },
      {
        key: "overviewUrl",
        label: "Ticket umbuchen oder stornieren",
        value: "Auf unserer <a href=\"#{order_overview_url(ticket.order.signed_info(authenticated: true))}\">Website</a> haben Sie die Möglichkeit, Ihre Tickets umzubuchen oder zu stornieren."
      },
      {
        key: "hotline",
        label: "Hotline",
        value: "+49 2653 282709"
      },
      {
        key: "order",
        label: "Ticketnummer",
        value: ticket.number
      }
    ]
  },
  backgroundColor: "rgb(255, 255, 255)",
  foregroundColor: "rgb(0, 0, 0)",
  labelColor: "rgb(0, 0, 0)"
}

if ticket.date.event.seating.bound_to_seats?
  _info[:eventTicket][:secondaryFields].unshift(
    {
      key: "block",
      label: "Block",
      value: ticket.seat.block.name,
      changeMessage: "Ihr Sitzplatz befindet sich nun in Block %@."
    },
    {
      key: "seat",
      label: "Sitzplatz",
      value: ticket.seat.number,
      textAlignment: "PKTextAlignmentLeft",
      changeMessage: "Ihre neue Sitznummer lautet %@."
    }
  )
else
  _info[:eventTicket][:secondaryFields].unshift({
    key: "seat",
    label: "Sitzplatz",
    value: "Freie Platzwahl"
  })
end

info = _info.deep_merge(info || {})
raw info.to_json
%>
