<%= render "passbook/template", ticket: ticket, info: {
  backgroundColor: "rgb(255, 255, 255)",
  foregroundColor: "rgb(240, 127, 60)",
  labelColor: "rgb(240, 127, 60)",
  locations: [
    {
      latitude: 50.232490,
      longitude: 7.143670
    }
  ],
  eventTicket: {
    backFields: [
      {
        key: "locationAddress",
        label: "Adresse der Spielstätte",
        attributedValue: "<a href='http://maps.apple.com/?ll=50.232490,7.143670&q=Alte+Schule+Kaisersesch'>Koblenzer Straße 19, 56759 Kaisersesch</a>",
        value: "Koblenzer Straße 19, 56759 Kaisersesch"
      }
    ]
  }
} %>
