<%= render "passbook/template", ticket: info[:ticket], info: {
  backgroundColor: "rgb(255, 255, 255)",
  foregroundColor: "rgb(240, 127, 60)",
  labelColor: "rgb(240, 127, 60)",
  locations: [
    {
      latitude: 50.232490,
      longitude: 7.143670
    }
  ],
  eventTicket: {
    backFields: [
      {
        key: "locationAddress",
        label: "Adresse der Spielstätte",
        attributedValue: "<a href='http://maps.apple.com/?ll=50.232490,7.143670&q=Alte+Schule+Kaisersesch'>Koblenzer Straße 19, 56759 Kaisersesch</a>",
        value: "Koblenzer Straße 19, 56759 Kaisersesch"
      },
      {
        key: "overviewUrl",
        label: "Ticket umbuchen oder stornieren",
        value: "Auf unserer <a href=\"#{order_overview_url(info[:ticket].order.signed_info(true))}\">Website</a> haben Sie die Möglichkeit, Ihre Tickets umzubuchen oder zu stornieren."
      },
      {
        key: "hotline",
        label: "Hotline",
        value: "+49 2653 282709"
      },
      {
        key: "order",
        label: "Ticketnummer",
        value: info[:ticket].number
      }
    ]
  }
} %>
