<%= render "passbook/template", ticket: ticket, info: {
  backgroundColor: "rgb(227, 216, 204)",
  foregroundColor: "rgb(23, 87, 43)",
  labelColor: "rgb(0, 0, 0)",
  locations: [
    {
      latitude: 50.228048,
      longitude: 7.125668
    }
  ],
  eventTicket: {
    backFields: [
      {
        key: "locationAdress",
        label: "Adresse der Spielstätte",
        attributedValue: "<a href='http://maps.apple.com/?ll=50.228048,7.125668&q=Friedenskirche+Kaisersesch'>In der Langheck 1, 56759 Kaisersesch</a>",
        value: "In der Langheck 1, 56759 Kaisersesch"
      }
    ]
  }
} %>
