<%= render "passbook/template", ticket: info[:ticket], info: {
  backgroundColor: "rgb(255, 255, 255)",
  foregroundColor: "rgb(0, 0, 0)",
  labelColor: "rgb(0, 102, 51)",
  locations: [
    {
      latitude: 50.230782,
      longitude: 7.141477
    }
  ],
  eventTicket: {
    backFields: [
      {
        key: "locationAddress",
        label: "Adresse der Spielstätte",
        attributedValue: "<a href='http://maps.apple.com/?ll=50.230782,7.141477&q=Altes+Kino+Kaisersesch'>Burgstraße, 56759 Kaisersesch</a>",
        value: "Burgstraße, 56759 Kaisersesch"
      }
    ]
  }
} %>
