<% title = "Vorverkaufsstellen-Login" %>
<div class="hl">Vorverkaufsstellen-Login</div>
<%= form_tag ticketing_retail_login_path do %>
  <table class="rounded panel">
    <tr>
      <td>Vorverkaufsstelle:</td>
      <td><%= select_tag :store_id, options_from_collection_for_select(@stores, :id, :name, cookies.permanent[selected_retail_store_id_cookie_name]) %></td>
    </tr>
    <tr>
      <td>Passwort:</td>
      <td><%= password_field_tag :password %></td>
    </tr>
  </table>
  <div class="submit">
    <%= submit_tag "login" %>
  </div>
<% end %>
