= form_for @coupon do |f|
  table.rounded.show
    thead
      tr: th colspan=2 Gutschein #{title}
    tbody
      tr
        td Empfänger:
        td = f.text_field :recipient
      tr
        td Firma / Gruppe / Zugehörigkeit:
        td = f.text_field :affiliation
      tr
        td Freikarten:
        td = f.number_field :free_tickets, class: :numberField

  .hcen.submit = f.submit 'speichern'
