- title 'Gutscheindetails'
- include_css 'ticketing/coupons'

= form_tag mail_ticketing_coupon_path(@coupon)
  table.rounded.show
    thead
      tr: th colspan=2 Gutscheindetails
    tbody
      tr
        td Code:
        td
          span.code = @coupon.code
          span.actionBtns = render 'admin_actions', obj: @coupon, delete_confirm: 'diesen Gutschein'
      tr
        td Empfänger:
        td
          - if @coupon.recipient.present?
            = @coupon.recipient
          - else
            em nicht angegeben
      tr
        td Zugehörigkeit:
        td
          - if @coupon.affiliation.present?
            = @coupon.affiliation
          - else
            em nicht angegeben
      tr
        td Ursprünglicher Wert:
        td = coupon_value(@coupon, initial: true)
      tr
        td Restwert:
        td = coupon_value(@coupon)
      - if @coupon.purchased_with_order.present?
        tr
          td Bestellt in:
          td = link_to "Bestellung #{@coupon.purchased_with_order.number}", ticketing_order_path(@coupon.purchased_with_order)
      tr
        td Eingelöst in Bestellungen:
        td
          - if @coupon.orders.any?
            ul
              - @coupon.orders.each do |order|
                li #{link_to order.number, ticketing_order_path(order)} | #{l(order.created_at, format: :medium)} | #{number_to_currency(order.total)}
          - else
            em keine

    thead
      tr: th colspan=2 Gutschein verschicken
    tbody
      tr
        td Empfänger:
        td = text_field_tag :recipient, @coupon.recipient
      tr
        td E-Mail-Adresse:
        td = email_field_tag :email
      tr
        td Mitglied:
        td
          = collection_select(:member, :id, @members, :id, proc { |member| member.name.sorted }, prompt: '')
          div
            = check_box_tag :member_is_recipient, true
            = label_tag :member_is_recipient, 'Mitglied auch als Empfänger des Codes eintragen'
      tr
        td Betreff:
        td = text_field_tag :subject, (session[:coupon_sending] ||= {})[:subject]
      tr
        td Nachricht:
        td = text_area_tag :text, session[:coupon_sending][:text]

  .submit = submit_tag 'senden'

= render 'application/ticketing/log_events', events: @coupon.log_events
= render 'application/ticketing/billing_transactions', record: @coupon, title: 'Gutscheinwertprotokoll', amount_label: 'Wert', number_placeholder: '1', number_step: '1'
