<% title "Aufführungstermine" %>
<div class="hl">Aufführungstermine</div>
<%= render "new_button", :action => "neuer Termin" %>
<table class="rounded">
	<thead>
		<tr>
			<th>Datum</th>
		</tr>
	</thead>
	<tbody>
		<% @dates.each do |date| %>
			<tr>
				<td>
          <%= link_to date do %>
            <%= l date.date, format: "%A, %d. %B, %H.%M" %> Uhr
          <% end %>
        </td>
			</tr>
		<% end %>
	</tbody>
</table>