[data-controller='ticketing--box-office--front-display'] {
  @extend .d-flex;
  @extend .text-center;
  flex-direction: column;
  height: 100vh;

  .slides {
    position: relative;
    margin: 30px;
    flex: 1 1 0%;
  }

  [data-ticketing--box-office--front-display-target='tips'],
  [data-ticketing--box-office--front-display-target='qrCode'] {
    @extend .d-flex;
    @extend .w-100;
    position: absolute;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
    flex-direction: column;

    &.visible {
      opacity: 1;
    }

    img, svg {
      flex: 1 1 0%;
      max-height: 100%;
      max-width: 100%;
    }

    p {
      font-size: 30px;
      margin: 30px 0;
    }
  }

  [data-ticketing--box-office--front-display-target='qrCode'] {
    background: $white;
    transition-duration: .3s;
  }
}
