@import 'seating';
@import 'ticket_printer_popover';

.progress, .stepBox {
  position: relative;
  overflow: hidden;
}

.progress {
  @extend %d-flex;
  @extend %justify-content-center;
  @extend %py-1;
  gap: spacing(1);

  .step {
    transition: color .5s ease-in-out;

    &.current {
      color: $red;
    }

    &:not(:last-child):after {
      @extend %ms-1;
      content: '–';
      color: $semi-gray;
    }
  }
}

.order-framework {
  transition: max-width .5s;
  max-width: 100%;

  .slidable {
    max-height: 0px;
    transition: max-height .5s;

    &.visible {
      max-height: inherit !important;
    }

    &:not(.visible) {
      overflow-y: hidden;
    }
  }

  .fadeable {
    opacity: 0;
    transition: opacity .5s;

    &.visible {
      opacity: 1;
    }

    &:not(.visible) {
      pointer-events: none;
    }
  }
}

.stepBox {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 400px;
  transition: height .5s;

  &:not(.initialized) {
    height: 400px;
  }

  .modalAlert {
    @extend %w-100, %h-100;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .85);
    z-index: 1;

    .spinner {
      @extend %my-4, %mx-auto;
      width: 5rem;
    }

    .alert {
      @extend %m-2;

      @include media-query(md) {
        margin: spacing(4);
      }
    }
  }
}

.stepCon {
  @extend %w-100;
  @extend %py-2;
  transition: left .5s;

  &.step-left {
    left: -100%;
  }

  &.step-current {
    left: 0%;
  }

  &, &.step-right {
    left: 100%;
  }

  &:not(.step-current), &.step-left, &.step-right, &.step-animating {
    position: absolute;
    @extend %px-2;
  }

  &.tickets, &.coupons {
    .event-logo {
      svg {
        @extend %d-block;
        height: 7rem;
      }

      svg, h2 {
        @extend %my-2, %mx-auto;
        max-width: 70%;
      }
    }
  }

  &.seats {
    .no-seating {
      text-align: center;
      font-style: italic;
    }
  }

  &.confirm {
    .payment {
      &:not(.charge) .charge, &:not(.transfer) .transfer,
      &:not(.box_office) .box_office, &:not(.cash) .cash {
        @extend %d-none;
      }
    }

    .checkboxes {
      margin: 15px auto;
      font-size: 14px;

      tr td {
        padding: 7px;

        &:first-child {
          width: 7%;
        }

        &:last-child {
          border-left: none;
        }
      }
    }
  }

  &.finish {
    p {
      @extend %text-center;
    }

    .tickets {
      @extend %d-none;
    }

    .info {
      width: 60%;
      margin: 30px auto;

      td {
        padding: 6px;

        &:not(.links) {
          text-align: left !important;
        }

        &.total {
          @extend %fw-bold;
          font-size: 30px;
        }
      }
    }

    .order-number {
      p {
        opacity: 0;
        transform: translateY(-(spacing(1)));
        animation: order-number .7s ease-out 1.3s forwards;
      }

      @keyframes order-number {
        100% {
          opacity: 1;
          transform: none;
        }
      }

      svg {
        @extend %d-block;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        stroke-width: 3px;
        stroke: #4bb71b;
        stroke-miterlimit: 10;
        box-shadow: inset 0px 0px 0px #4bb71b;
        animation: success-scale .4s ease-in-out 1.2s both;
        position:relative;
        top: 5px;
        right: 5px;
        margin: 0 auto;

        .circle {
          stroke-dasharray: 166;
          stroke-dashoffset: 166;
          stroke-miterlimit: 10;
          stroke: #4bb71b;
          animation: success-stroke 1.0s cubic-bezier(0.16, 1, 0.3, 1) .5s forwards;
        }

        .check {
          transform-origin: 50% 50%;
          stroke-dasharray: 48;
          stroke-dashoffset: 48;
          animation: success-stroke 0.6s cubic-bezier(0.7, 0, 0.84, 0) .5s forwards;
        }
      }

      @keyframes success-stroke {
        100% {
          stroke-dashoffset: 0;
        }
      }

      @keyframes success-scale {
        0%, 100% {
          transform: none;
        }

        40% {
          transform: scale(1.2);
        }
      }
    }
  }
}

.plural_text {
  .singular, .plural {
    @extend %d-none;
  }

  &.singular .singular, &.plural .plural {
    @extend %d-inline;
  }
}

table {
  tr.cancelled {
    color: #cccccc;
    text-decoration: line-through;
  }
}

dd .anonymized {
  font-style: italic;
  color: $semi-gray;
}
