.seating {
  position: relative;

  .error {
    @extend %my-2;
    background: $red;
    color: white;

    div {
      padding: 10px;
    }
  }

  .plan {
    .top-bar {
      @extend %text-center;
      @extend %pb-1;
      font-weight: bold;

      .unzoom {
        cursor: pointer;
      }
    }

    &:not(.zoomed) .unzoom {
      @extend %d-none;
    }

    .key {
      @extend %d-flex;
      @extend %justify-content-center;
      @extend %mt-2;
      @extend %py-1, %px-2;
      @extend %flex-wrap;
      gap: spacing(1) spacing(2);

      [data-status] {
        @extend %d-flex;
        @extend %align-items-center;
      }

      .icon {
        @extend %me-1;

        svg {
          @extend %d-block;
          width: auto;
          height: 15px;
        }
      }
    }

    .canvas, .key {
      border: 1px solid $light-gray;
    }

    svg {
      @extend %d-block;
      @extend %w-100;

      g.global {
        transform: scale(1);
        transition: transform .5s;
      }

      .shield {
        @extend %d-none;
      }

      .block {
        opacity: 1;
        transition: opacity .3s;

        &.disabled {
          opacity: .4;
          pointer-events: none;
        }
      }

      .seat {
        &.status-chosen {
          use {
            stroke: black;
            stroke-width: 2px;
          }

          text {
            fill: black !important;
          }
        }
      }

      .shield, .seat, .stairs {
        text {
          font-weight: bold;
        }
      }

      &.zoomable {
        .shield {
          @extend %d-block;
          opacity: 0;
          transition: opacity .2s;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }
        }

        &.zoomed-in .shield {
          opacity: 0;
          pointer-events: none;
        }
      }

      &:not(.numbers) .seat text {
        @extend %d-none;
      }

      @include media-dark-theme {
        text {
          fill: var(--body-color) !important;
        }

        .shield, path {
          stroke: $light-gray !important;
        }

        .stairs rect {
          fill: var(--secondary-bg-color) !important;
        }
      }
    }

    &:not(.stage) {
      .plan svg .stage {
        @extend %d-none;
      }
    }
  }

  &.chooser, &.selector {
    .seat {
      &.status-available, &.status-chosen, &.status-exclusive {
        cursor: pointer;
      }
    }
  }
}
