.seating {
  position: relative;
  width: 100%;
  border-top: 1px solid #ccc;

  .error {
    margin: 10px;
    background: red;
    color: white;
    border-radius: 10px;
    display: none;

    div {
      padding: 10px;
    }
  }

  .unsupported-browser {
    display: none;
  }

  .plan {
    .unzoom {
      position: absolute;
      left: 10px;
      top: 10px;
      font-size: 14px;
      font-weight: bold;
      opacity: 0;
      transition: opacity .3s;
      pointer-events: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    &.zoomed {
      .unzoom {
        opacity: 1;
        pointer-events: auto;
      }

      .shield {
        opacity: 0;
        pointer-events: none;
      }
    }

    svg {
      g.global {
        transform: scale(1);
        transition: transform .5s;
      }

      .shield {
        opacity: 0;
        transition: opacity .2s;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }

      .block {
        opacity: 1;
        transition: opacity .3s;

        &.disabled {
          opacity: .4;
          pointer-events: none;
        }
      }

      .seat {
        &.status-chosen {
          use {
            stroke: black;
            stroke-width: 2px;
          }

          text {
            fill: black !important;
          }
        }

        text {
          display: none;
          font-weight: bold;
        }
      }

      &.numbers .seat text {
        display: inline;
      }
    }

    &:not(.stage) {
      .plan svg .stage {
        display: none;
      }
    }
  }

  &.chooser {
    .seat {
      &.status-available, &.status-chosen, &.status-exclusive {
        cursor: pointer;
      }
    }
  }
}
