.seating {
  position: relative;
  width: 100%;

  .error {
    margin: 10px;
    background: red;
    color: white;
    border-radius: 10px;
    display: none;

    div {
      padding: 10px;
    }
  }

  .unsupported-browser {
    display: none;
  }

  .plan {
    .top-bar {
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      padding: 5px;

      .unzoom {
        display: none;
        cursor: pointer;
      }
    }

    &.zoomed {
      .unzoom {
        display: inline;
      }
    }

    .key {
      text-align: center;

      > div {
        display: inline-flex;
        align-items: center;
        padding: 5px 15px;
        margin: 5px 0 10px 0;
        background: #f4f8f8;
        border-radius: 7px;

        .icon {
          padding-right: 7px;
          box-sizing: border-box;

          svg {
            display: block;
            width: auto;
            height: 15px;
          }

          &:not(:first-child) {
            padding-left: 19px;
          }
        }

        .label {
          font-size: 12px;
        }
      }
    }

    .canvas {
      border-top: 1px solid #ccc;
    }

    svg {
      display: block;
      width: 100%;

      text {
        font-weight: bold;
      }

      g.global {
        transform: scale(1);
        transition: transform .5s;
      }

      .shield {
        opacity: 0;
        transition: opacity .2s;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }

      .block {
        opacity: 1;
        transition: opacity .3s;

        &.disabled {
          opacity: .4;
          pointer-events: none;
        }
      }

      .seat {
        &.status-chosen {
          use {
            stroke: black;
            stroke-width: 2px;
          }

          text {
            fill: black !important;
          }
        }

        text {
          display: none;
        }
      }

      &.numbers .seat text {
        display: inline;
      }

      &.zoomed-in .shield {
        opacity: 0;
        pointer-events: none;
      }
    }

    &:not(.stage) {
      .plan svg .stage {
        display: none;
      }
    }
  }

  &.chooser, &.selector {
    .seat {
      &.status-available, &.status-chosen, &.status-exclusive {
        cursor: pointer;
      }
    }
  }
}
