@import "_mixins";
@import "_seats";

.index table {
  td {
    &.date {
      text-align: right;
    }
  }
}

table {
  margin: 15px 0px;
  
  &.entries td {
    text-align: center;
  }
  
  &.log td {
    text-align: left;
  }
  
  tr.cancelled td {
    color: #cccccc;
    text-decoration: line-through;
  }
  
  td {
    padding: 5px 8px !important;
    
    &.checkbox {
      width: 7%;
    }
    
    &.name {
      text-align: left;
    }
    
    &.number {
      width: 10%;
      font-weight: bold;
    }
    
    &.tickets {
      width: 5%;
    }
    
    &.amount {
      text-align: right;
      width: 12%;
    }
    
    &.date {
      width: 20%;
    }
    
    &.label {
      width: 25%;
    }
    
    &.empty {
      font-style: italic;
      text-align: center;
    }
  }
}

.topTables {
  overflow: auto;
  
  > table {
    float: left;
    width: 58%;
  }
  
  .rightTables {
    float: right;
    width: 40%;
    
    .actions div {
      margin: 5px;
    }
    
    .cancellation th {
      color: red;
      text-shadow: 1px 1px 3px white;
    }
  }
}

.seating .plan {
  height: 200px;
  box-shadow: none;
}