@import "_mixins";
@import "_seats";

.index table {
  tbody tr:hover td:not(.empty) {
    background: $faint-blue;
    cursor: pointer;
    border-color: $light-blue;
  }
  
  td {
    &.date {
      text-align: right;
    }
  }
}

table {
  margin: 15px 0px;
  
  &.entries td {
    text-align: center;
  }
  
  td {
    padding: 5px 8px !important;
    
    &.name {
      text-align: left;
    }
    
    &.number {
      width: 10%;
      font-weight: bold;
    }
    
    &.tickets {
      width: 5%;
    }
    
    &.amount {
      text-align: right;
      width: 12%;
    }
    
    &.date {
      width: 20%;
    }
    
    &.label {
      width: 25%;
    }
    
    &.empty {
      font-style: italic;
    }
  }
}

.seating .plan {
  height: 200px;
  box-shadow: none;
}