@import 'seating';
@import 'print_notification';

.progress, .stepBox {
  position: relative;
  overflow: hidden;
}

.progress {
  border-bottom: 0;

  &.disabled .step {
    opacity: 0;
  }

  .step {
    position: relative;
    float: left;
    text-align: center;
    padding: 2px 0px;
    color: #cccccc;
    z-index: 2;
    display: none;
    transition: color .5s ease-in-out, opacity .5s;

    &.current {
      color: $white;
    }

    &.bar {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      display: block;
      background: $red;
      transition: left .5s ease-in-out;
    }
  }
}

.expiration {
  width: 80%;
  display: none;
  animation: .8s ease infinite alternate expiration;
}

@keyframes expiration {
  from {
    color: red;
  }
  to {
    color: white;
  }
}

.stepBox {
  .modalAlert {
    @extend .d-none;
    @extend .w-100;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .85);
    z-index: 1;

    .spinner {
      width: 5rem;
      margin: spacing(4) auto;
    }

    .alert {
      @extend .d-none;
      @extend .w-50;
      margin: spacing(4) auto;
    }
  }
}

.stepCon {
  @extend .px-2;
  position: absolute;
  left: 100%;
  min-height: 200px;
  width: 100%;
  display: none;

  &.tickets, &.coupons {
    .event-header {
      @extend .d-block;
      height: 7rem;
      margin: spacing(2) auto;
    }

    .covid19 {
      border: 1.5px solid red;
      padding: 20px;
      border-radius: 7px;

      h3 {
        margin-top: 0;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.seats {
    .no-seating {
      text-align: center;
      font-style: italic;
    }
  }

  &.confirm {
    .payment {
      .charge, .transfer, .box_office, .cash {
        @extend .d-none;
      }

      &.charge .charge, &.transfer .transfer, &.box_office .box_office, &.cash .cash {
        @extend .d-block;
      }
    }

    .date {
      font-weight: bold;
    }

    .checkboxes {
      margin: 15px auto;
      font-size: 14px;

      tr td {
        padding: 7px;

        &:first-child {
          width: 7%;
        }

        &:last-child {
          border-left: none;
        }
      }
    }
  }

  &.finish {
    text-align: center;

    .hl {
      font-size: 28px;
    }

    .tickets {
      display: none;
    }

    .info {
      width: 60%;
      margin: 30px auto;

      td {
        padding: 6px;

        &:not(.links) {
          text-align: left !important;
        }

        &.total {
          font-size: 30px;
          font-weight: bold;
        }
      }
    }

    .note {
      .order-number {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 16px;

        p {
          opacity: 0;
          transform: translateY(-7px);
          animation: order-number .7s ease-out 1.3s forwards;
        }

        @keyframes order-number {
          100% {
            opacity: 1;
            transform: none;
          }
        }

        svg {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          display: block;
          stroke-width: 3px;
          stroke: #4bb71b;
          stroke-miterlimit: 10;
          box-shadow: inset 0px 0px 0px #4bb71b;
          animation: success-scale .4s ease-in-out 1.2s both;
          position:relative;
          top: 5px;
          right: 5px;
          margin: 0 auto;

          .circle {
            stroke-dasharray: 166;
            stroke-dashoffset: 166;
            stroke-miterlimit: 10;
            stroke: #4bb71b;
            fill: #fff;
            animation: success-stroke 1.0s cubic-bezier(0.16, 1, 0.3, 1) .5s forwards;
          }

          .check {
            transform-origin: 50% 50%;
            stroke-dasharray: 48;
            stroke-dashoffset: 48;
            animation: success-stroke 0.6s cubic-bezier(0.7, 0, 0.84, 0) .5s forwards;
          }
        }

        @keyframes success-stroke {
          100% {
            stroke-dashoffset: 0;
          }
        }

        @keyframes success-scale {
          0%, 100% {
            transform: none;
          }

          40% {
            transform: scale(1.2);
          }
        }
      }
    }
  }

  .spam-note {
    border: 1px solid #feb138;
    margin: 25px;
    border-radius: 7px;
    padding: 10px;
    text-align: left;

    .icon {
      float: left;
      margin-right: 10px;

      img {
        display: block;
        width: 30px;
      }
    }
  }
}

.choose-event {
  text-align: center;

  a {
    display: block;
  }

  img {
    margin-top: 40px;
    width: 400px;
    transition: transform .1s;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.plural_text {
  .singular, .plural {
    @extend .d-none;
  }

  &.singular .singular, &.plural .plural {
    @extend .d-inline;
  }
}

table {
  tr.cancelled {
    color: #cccccc;
    text-decoration: line-through;
  }
}
