@import "../_seats";

@mixin box {
  position: relative;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

#seats {
  width: 95%;
  margin: auto;
  
  .seating {
    @include box;
    
    .ticketing_seat {
      cursor: move;
      
      &.selected {
        border-color: red;
      }
    }
    
    &.selecting {
      .ticketing_seat {
        cursor: pointer;
      }
    }
  }
  
  .new_seat, .edit_seats {
    @include box;
    overflow: auto;
    
    > div, > form > div {
      float: left;
      padding: 0px 10px;
      border-right: 1px solid #cccccc;
      vertical-align: top;
      height: 20px;
      
      &:last-of-type {
        border: none;
      }
    }
    
    .ticketing_seat {
      position: relative;
      float: left;
      margin-left: 10px;
      cursor: move;
      
      &:first-child {
        margin: 0px;
      }
    }
    
    input {
      width: 30px;
    }
  }
  
  .edit_seats {
    display: none;
    
    div:first-child {
      border: none !important;
    }
  }
  
  .blocks {
    @include box;
    
    table {
      border-collapse: collapse;
      
      tr:last-child td {
        border-top: 1px solid black;
      }
      
      tr td:first-child {
        width: 15px;
      }
      
      td {
        padding: 5px;
      }
      
      .ticketing_seat {
        position: relative;
      }
      
      .actions {
        text-align: right;
      }
    }
    
    .new {
      margin: 10px;
      
      input[type=text] {
        width: 130px;
      }
    }
  }
}
