//= require ./_seating

@import "_mixins";

$total-border: 2px $light-blue solid;

.stats {
  margin: 10px 0px;
  
  .chooser {
    text-align: center;
    width: 100%;
  
    .top {
      font-size: 15px;
    
      span {
        padding: 0px 5px;
        cursor: pointer;
        
        &:hover, &.selected {
          text-decoration: underline;
        }
      }
    }
  }
  
  div.table {
    margin: 10px 0px;
    
    &:not(.total):not(.active) {
      display: none;
    }
  }

  table {
    tr {
      td, th {
        &:not(:first-child) {
          text-align: center;
        }
      
        &.total {
          &.first {
            border-left: $total-border;
          }
          font-weight: bold;
        }
      }
    
      &.total td {
        border-top: $total-border;
      }
    
      &:last-child td {
        padding: 5px;
      }
    }
  }
  
  .daily_stats .key {
    .total {
      color: red;
    }
    
    .online {
      color: $dark-blue;
    }
    
    .retail {
      color: $light-blue;
    }
  }
}