.container
  .title
    = image_tag("theater/#{@event.assets_identifier}/title.svg", alt: @event.name)
  .box.dates
    .top Termine
    .con
      table
        - @event.dates.each do |date|
          = tag.tr class: (date.sold_out? || date.cancelled? ? :disabled : nil)
            td.point
            td.day
              span.line_through = l date.date, format: '%A'
              - if date.cancelled?
                .unavailable Aufführung entfällt
              - elsif date.sold_out?
                .unavailable derzeit ausverkauft
            td.date
              span.line_through
                = l date.date, format: '%-d. %B ' + (date.date > Time.current.end_of_year ? '%Y' : '')
              .line_through.time = l date.date, format: '%H.%M Uhr'
      p = local_assigns.fetch(:opens, 'Einlass eine Stunde vor Beginn.')
