<%= image_tag "theater/jedermann/teaser.png", alt: "Jedermann 2013", class: :banner %>
<div class="hcen" style="margin: 10px; font-size: 20px;">
  <%= link_to "Tickets bestellen", new_order_path %>
</div>