<div class="other-events">
  <% %w[sahnemixx blauer_planet].each do |identifier| %>
    <% if @event&.identifier != identifier %>
      <p>Termine zu <%= image_tag "theater/#{identifier}/ticket_header.svg", height: 50, valign: 'middle' %> finden Sie <%= link_to 'hier', dates_event_identifier_path(identifier) %>.</p>
    <% end %>
  <% end %>
</div>
