<div class="trenner"></div>
<div class="hl">
  Ticketvorverkauf
  <div class="small">
    ab <%= l @event.sale_start, format: '%-d. %B %Y' %>
  </div>
</div>
<div class="prices">
  <table class="rounded">
    <% @ticket_types.each do |type| %>
      <tr>
        <td class="price"><%= number_to_currency(type.price) %></td>
        <td><%= type.name %><div class="small"><%= type.info %></div></td>
      </tr>
    <% end %>
  </table>
</div>
