<div class="trenner"></div>
<div class="hcen hotline">
  <div class="hl">Sie haben Fragen?</div>
  <br />Schauen Sie in unsere <%= link_to "häufig gestellten Fragen", info_path(@event.slug) %> oder rufen Sie uns an:
  <a name="hotline"></a>
  <p>Info-Hotline: <b>(02653) 28 27 09</b> <em class="small">(zum Ortstarif)</em></p>
</div>
