<div class="restaurants">
  <div class="hl">
    <div class="small">Vor dem Theater noch den Gaumen verwöhnen?</div>
  </div>
  <ul>
    <li>Deutsch-Französisch im <%= link_to "Waldhotel Kurfürst", "http://www.waldhotel-kurfuerst.de/", target: :_blank %></li>
    <li>Deftig-fein in der <%= link_to "Brasserie Alt Esch", "http://www.brasserie-alt-esch.de/", target: :_blank %></li>
    <li>Asiatisch im <%= link_to "Yumi Hotel", "http://www.yumi-hotel.de/", target: :_blank %></li>
    <li>Italienisch bei <%= link_to "La Piazza", "http://www.lapiazza-esch.de/", target: :_blank %></li>
  </ul>
  Unsere örtlichen Gastronomiepartner freuen sich auf Ihren Besuch!
</div>