<div class="hcen teaser">
  <h3>Unser Sommernachtstheater 2020</h3>
  <h1>„In 80 Tagen um die Welt“</h1>
  <ul>
    <li>Freitag, 10. Juli</li>
    <li>Samstag, 11. Juli</li>
    <li>Freitag, 17. Juli</li>
    <li>Samstag, 18. Juli</li>
    <li>Freitag, 24. Juli</li>
    <li>Samstag, 25. Juli</li>
  </ul>
</div>
