.teaser
  .hl Gastspiel in Cochem
  p Am <b>14. September um 20 Uhr</b> geben wir mit <b>„Frau Müller muss weg“</b> ein Gastspiel im Cochemer Kapuzinerkloster.
  p Weitere Informationen und Tickets gibt es auf <a href="https://buchungssystem.stadtcochem.de/ticketdetails.aspx?ceid=139">www.stadtcochem.de</a>.
  .trenner

  p Voraussichtlich im Herbst 2021 geht es weiter mit unserem Kindertheater <b>„Aschenputtel“</b> und unserem Jugendtheater <b>„Carpe Diem“</b>.
