<div class="hcen teaser">
  <h3>Unser Kinder- und Jugendtheater 2018</h3>
  <h1>„Hilfe, die Herdmanns kommen“</h1>
  <h4>von Barbara Robinson</h4>
  <ul>
    <li>Freitag, 30. November</li>
    <li>Samstag, 1. Dezember</li>
    <li>Sonntag, 2. Dezember</li>
    <li>Freitag, 7. Dezember</li>
    <li>Samstag, 8. Dezember</li>
    <li>Sonntag, 9. Dezember</li>
  </ul>
</div>
