<div class="hcen teaser">
  <h3>Unser Sommernachtstheater 2017</h3>
  <h1>„Magdalena Himmelstürmerin“</h1>
  <ul>
    <li>Freitag, 14. Juli</li>
    <li>Samstag, 15. Juli</li>
    <li>Freitag, 21. Juli</li>
    <li>Samstag, 22. Juli</li>
    <li>Freitag, 28. Juli</li>
    <li>Samstag, 29. Juli</li>
  </ul>
  Der Vorverkauf beginnt am 4. Juni um 0 Uhr.
</div>
