<% title "Termine" %>
<% include_css "dates" %>
<script type="application/ld+json">
  <%= raw json_escape(@structured_data.to_json) %>
</script>
<div class="hl">Termine</div>
<div class="hcen teaser">
  <h3>Unser Sommernachtstheater 2016</h3>
  <h1>„Der Besuch der alten Dame“</h1>
  <ul>
    <li>Freitag, 15. Juli</li>
    <li>Samstag, 16. Juli</li>
    <li>Freitag, 22. Juli</li>
    <li>Samstag, 23. Juli</li>
    <li>Freitag, 29. Juli</li>
    <li>Samstag, 30. Juli</li>
  </ul>
  Der Vorverkauf beginnt am 5. Juni um 0 Uhr.
</div>
