<% title "Termine - Sommernachtstheater 2013 - Jedermann"%>
<div class="hcen" style="margin-top: 100px;">
	<%= image_tag "theater/jedermann/teaser.png", :alt => "Jedermann 2013" %>
	<div class="trenner"></div>
	<p>Weitere Informationen folgen bald!</p>
</div>