<% title "Termine - Sommernachtstheater 2013 - Jedermann"%>
<% include_css "dates" %>
<div class="jedermann hcen">
   <%= link_to "Informationen zu unserem Gastspiel in Bad Bertrich finden Sie hier.", dates_montevideo_path %>
   <div class="trenner"></div>
	<%= render "jedermann_banner" %>
	<div class="trenner"></div>
	<div class="hl">Aufführungen</div>
	<table class="rounded panel">
		<% [16, 17, 23, 24, 30, 31].each do |day| %>
			<% date = Date.new(2013,8,day) %>
			<tr>
				<td class="day"><%= l date, format: "%A" %></td>
				<td class="date"><%= l date, format: "%d. %B %Y" %></td>
				<td class="time">20 Uhr</td>
			</tr>
		<% end %>
	</table>
	<p>Weitere Informationen folgen bald!</p>
</div>