<% title "Vorschau 2019 – Termine" %>
<% include_css "dates" %>

<%= render 'other_events' %>

<h2 class="hcen">Unsere Vorschau für 2019</h2>
<object data="<%= asset_path('misc/preview_2019.svg') %>" type="image/svg+xml"></object>
