<% title "Termine" %>
<% include_css "dates" %>
<div class="hl">Termine</div>
<div class="hcen teaser">
  <h3>Unser Sommernachtstheater 2015</h3>
  <h1>Ladykillers</h1>
  <ul>
    <li>Freitag, 17. Juli</li>
    <li>Samstag, 18. Juli</li>
    <li>Freitag, 24. Juli</li>
    <li>Samstag, 25. Juli</li>
    <li>Freitag, 7. August</li>
    <li>Samstag, 8. August</li>
  </ul>
  Der Vorverkauf beginnt Anfang Juni.
</div>