<% title "Termine - Sommernachtstheater 2014" %>
<% include_css "dates" %>
<div class="hl">Unsere Saison 2014</div>
<div class="teaser">
  Unser <b>Sommernachtstheater 2014</b> wird an den folgenden Terminen im historischen Ortskern von Kaisersesch aufgeführt:
  <div class="box dates">
    <div class="top">
      Termine
    </div>
    <div class="con">
      <table>
        <tr>
          <td class="point"></td>
          <td class="day">Freitag</td>
          <td class="date">18. Juli 2014</td>
        </tr>
        <tr>
          <td class="point"></td>
          <td class="day">Samstag</td>
          <td class="date">19. Juli 2014</td>
        </tr>
        <tr>
          <td class="point"></td>
          <td class="day">Freitag</td>
          <td class="date">25. Juli 2014</td>
        </tr>
        <tr>
          <td class="point"></td>
          <td class="day">Samstag</td>
          <td class="date">26. Juli 2014</td>
        </tr>
        <tr>
          <td class="point"></td>
          <td class="day">Freitag</td>
          <td class="date">8. August 2014</td>
        </tr>
        <tr>
          <td class="point"></td>
          <td class="day">Samstag</td>
          <td class="date">9. August 2014</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="hcen">Der Name des Stückes wird bald bekanntgegeben.</div>
</div>