p Dies ist der Textstyle unserer Bodycopy BMR. Wir verwenden diesen Style mehr als alle anderen Styles, immer dann wenn mit Fließtext gearbeitet wird.
p Foo 123

h1 Headline
p H1LBI ist unser präferierter Headline Style. H2LBI/H3LBI/H2LI können für Unterüberschriften etc. verwendet werden.

h2 Alternative Headline
p Hier ein Beispiel für H2LI in Benutzung.

h3 Stückname
p H3MB wird in unserem Archiv verwendet um die Namen der Events hervorzuheben.

p.caption Maximiliane Mustermann
p C1LBI wird für Autor*innen Credits, Bildunterschriften und ähnlichem verwendet.

p.text-green Ambient Akzent Grün
p.text-red Call to Action

hr
= image_tag 'logo_v2.svg'
hr
= image_tag 'logo_v2_mid.svg'
hr
= image_tag 'logo_v2_horizontal.svg'
