p wir freuen uns über Ihren Besuch und heißen Sie herzlich willkommen bei uns.

p Gerne können Sie mithilfe des folgenden Buttons über die <a href="https://www.coronawarn.app/">Corona-Warn-App</a> bei unserer Veranstaltung einchecken. So werden Sie im Nachhinein gewarnt, sollte sich später eine COVID-19-Infektion unter den anwesenden Besuchern herausstellen.

p Die Information über Ihren Check-In wird ausschließlich auf Ihrem Gerät gespeichert und verlässt dieses nicht. Weitere Informationen zur Funktionsweise des Event-Check-Ins finden Sie <a href="https://www.coronawarn.app/de/faq/#check_in">hier</a>.

p.buttons = link_to 'In der Corona-Warn-App einchecken', @check_in_url

p Auch nachträglich ist ein Check-In möglich. Sollten Sie bereits über den vor Ort ausgehängten QR-Code eingecheckt haben, müssen Sie nichts weiter tun; der QR-Code enthält denselben Link.
