.event-header
  = image_tag "events/#{@event.assets_identifier}/photos/#{photo}.jpg", class: %i[photo active]
  .title.active class=('outline-sm' if local_assigns[:small_outline])
    = inline_svg "theater/#{@event.assets_identifier}/ticket_header"
