ruby:
  details = {
    info_box: {
      play: {
        'Autor' => 'Friedrich Dürrenmatt',
        'Uraufführung' => '1956'
      },
      event: {
        'Regie' => 'Helmut Mattern, Stephan Hilken'
      }
    }
  }
  styling = nil
  cast = [
    {
      entries: [
        {
          title: 'Claire Zachanassian, geb. Wäscher',
          doubles: [
            {
              actor: 'Susanne Schubert',
              dates: [0, 1, 2]
            },
            {
              actor: 'Simone Spies',
              dates: [3, 4, 5]
            }
          ]
        },
        {
          title: 'Ihr Gatte',
          actors: ['Gerd Röser']
        },
        {
          title: 'Der Butler',
          actors: ['Otto Krechel']
        },
        {
          title: 'Toby',
          actors: ['Nina Lübke']
        },
        {
          title: 'Koby',
          actors: ['Claudia Scholz']
        },
        {
          title: 'Bodyguard',
          actors: ['Bernd Venus']
        },
        {
          title: 'Alfred Ill',
          actors: ['Thomas Ellerich']
        },
        {
          title: 'Seine Frau',
          actors: ['Catrin Drogi']
        },
        {
          title: 'Carla, seine Tochter',
          actors: ['Sarah-Céline Schubert']
        },
        {
          title: 'Lisa, noch eine Tochter',
          actors: ['Johanna Ellerich']
        },
        {
          title: 'Der Bürgermeister',
          actors: ['Stephan Hilken']
        },
        {
          title: 'Seine Tochter',
          actors: ['Melissa Gasser']
        },
        {
          title: 'Der Pfarrer',
          actors: ['Stefan Gasser']
        },
        {
          title: 'Die Lehrerin',
          actors: ['Kirsten Roscher']
        },
        {
          title: 'Der Arzt',
          actors: ['Dieter Stein']
        },
        {
          title: 'Der Polizist',
          actors: ['Markus Müller']
        },
        {
          title: 'Herr Helmesberger',
          actors: ['Alexander Dorka']
        },
        {
          title: 'Erste Frau',
          actors: ['Michaela Venus']
        },
        {
          title: 'Zweite Frau',
          actors: ['Gaby Bernauer']
        },
        {
          title: 'Maler',
          doubles: [
            {
              actor: 'Willi Schrader',
              dates: [0, 1, 2, 3]
            }
          ]
        },
        {
          title: 'Der Erste',
          actors: ['Wilfried Bernauer']
        },
        {
          title: 'Der Zweite',
          doubles: [
            {
              actor: 'Uli Hesse',
              dates: [0, 2, 3, 4, 5]
            }
          ]
        },
        {
          title: 'Der Dritte',
          doubles: [
            {
              actor: 'Josef Kreutz',
              dates: [0, 1, 4, 5]
            }
          ]
        },
        {
          title: 'Zugführer',
          actors: ['Werner Lutz']
        },
        {
          title: 'Chefredakteurin',
          doubles: [
            {
              actor: 'Maria Oster',
              dates: [0, 1, 2, 3]
            },
            {
              actor: 'Julia Heinrich',
              dates: [4, 5]
            }
          ]
        },
        {
          title: 'Kameramann',
          actors: ['Albrecht Oster']
        },
        {
          title: 'Bürger von Güllen',
          actors: ['Mitglieder des Kirchenchors sowie der Blaskapelle Kaisersesch']
        },
        {
          title: 'weitere Rollen',
          actors: [
            'Margret Zeimetz',
            'Julia Heinrich',
            'Susanne Schubert',
            'Maria Oster'
          ]
        }
      ]
    }
  ]

= render 'event', styling:, details:, cast:
  = render 'about', details:
    p Claire Zachanassian kehrt nach vier Jahrzehnten in ihr Heimatstädtchen Güllen zurück, um Gerechtigkeit für die ehemals erlittene Schmach zu fordern. Als Siebzehnjährige musste sie unter Schimpf und Schande Güllen verlassen. Sie wurde zur Prostituierten, heiratete später jedoch mehrere steinreiche Männer, die ihr jeweils ein Vermögen hinterließen. Alfred hingegen blieb seiner kleinstädtischen Heimat verhaftet und wurde durch seine Heirat zu einem kleinen Krämer.
    p „Die Welt machte mich zu einer Hure, und nun mache ich sie zu einem Bordell“, diese Aussage prägt ihren weiteren Lebensweg, der von Härte und Unnahbarkeit gezeichnet ist. Als sie in Güllen eintrifft, hoffen die Bewohner auf ihre Mildtätigkeit, sie jedoch fordert gegen die Zahlung einer unvorstellbar hohen Summe Gerechtigkeit für ihr erlittenes Leid.
    p Die Tragikkomödie um Rache, Gier, Moral, Gerechtigkeit und Menschlichkeit nimmt ihren Lauf. „Die Thematik des Stücks hat eine hohe Aktualität und daher werden wir es zeitlos spielen und es in der heutigen Zeit Wirklichkeit werden lassen“, sagt Co-Regisseur Stephan Hilken.
