ruby:
  details = {
    retail_sale: false,
    catering: true,
    duration: 130,
    break_duration: 30,
    info_box: {
      play: {
        'Autor' => 'Karl Valentin',
        'Bühnenfassung' => 'Angelika Dormeyer, Arwed Werner'
      }
    },
    poster_filename: 'Muh_Theater_Plakat'
  }

= render 'header', gallery_id: 76

= render 'event'
  = render 'about', details:
    p Im September begrüßen wir als Gastspiel auf der „Kulturbühne Altes Wasserwerk“ das #{link_to '„Muh-Theater“', 'https://muh-theater.de'} aus Kliding mit „Arschlinks heißt von hinten herwärts!“.
    p Karl Valentin, einer der größten deutschsprachigen Komiker, verblüfft uns mit genialer Wortakrobatik, trockenem Witz und menschlichen Wahrheiten: Sketche, Monologe, Couplets und Biographisches. Von und mit Angelika Dormeyer und Arwed Werner.

  = render 'tickets'
  = render 'faq', details:
