= render 'header'

= render 'event'
  = render 'about', title: 'Über das Stück'
    p Der Autor Giovanni Guareschi wählt das norditalienische Nachkriegsdorf Brescello aus, um dort seine Geschichte vom katholischen Dorfpfarrer Don Camillo und dessen Erzfeind, dem kommunistischen Bürgermeister Peppone, spielen zu lassen. Immer wieder prallen diese unterschiedlichen Dickschädel mit ihren gegensätzlichen Lebensauffassungen aufeinander. Und doch haben beide eigentlich das Gleiche im Sinn: die ihnen Anvertrauten in bescheidenem Auskommen glücklich zu machen.
    p Freilich geschieht dies auf höchst unterschiedliche Art und Weise. In der Realisierung fliegen schon mal die Fäuste, da wird schon mal geschossen und Wortgefechte ausgetragen, aber wirklich hassen können die Beiden sich nicht, da sie doch das Herz auf dem rechten Fleck tragen.
    p Währenddessen erwächst zwischen den verfeindeten Lagern eine Liebesgeschichte zwischen der Gutsbesitzerstochter und einem mittellosen Landarbeitersohn, die das Dorf weiter spaltet. Das Kräftemessen der Dorfbewohner und ihren sturköpfigen Anführern wogt hin und her und man ist gespannt, ob das wohl ein gutes Ende nehmen wird.

  hr
  = render 'photos', gallery_id: 13

  ruby:
    cast = [
      {
        entries: [
          {
            title: 'Don Camillo',
            actors: ['Stephan Hilken']
          },
          {
            title: 'Peppone',
            actors: ['Jürgen Knaup']
          },
          {
            title: 'Signora Cristina',
            doubles: [
              {
                actor: 'Catrin Drogi',
                dates: [3, 4, 5, 6]
              },
              {
                actor: 'Maria Oster',
                dates: [0, 1, 2]
              }
            ]
          },
          {
            title: 'Ariana',
            doubles: [
              {
                actor: 'Kirsten Roscher',
                dates: [3, 4, 5, 6]
              },
              {
                actor: 'Susanne Schubert',
                dates: [0, 1, 2]
              }
            ]
          },
          {
            title: 'Pasotti',
            doubles: [
              {
                actor: 'Thomas Ellerich',
                dates: [2, 4, 5]
              },
              {
                actor: 'Otto Krechel',
                dates: [0, 1, 3, 6]
              }
            ]
          },
          {
            title: 'Gina',
            doubles: [
              {
                actor: 'Lena Schmitz',
                dates: [2, 4, 5, 6]
              },
              {
                actor: 'Sarah-Céline Schubert',
                dates: [0, 1, 3]
              }
            ]
          },
          {
            title: 'Mariolino',
            doubles: [
              {
                actor: 'Ron Linden',
                dates: [2, 4, 5, 6]
              },
              {
                actor: 'Alexander Dorka',
                dates: [0, 1, 3]
              }
            ]
          },
          {
            title: 'Bruciata',
            actors: ['Dieter Stein']
          },
          {
            title: 'Fulmine',
            actors: ['Werner Lutz']
          },
          {
            title: 'Smilzo',
            actors: ['Gerd Röser']
          },
          {
            title: 'Jesus',
            actors: ['Eugen Weiten']
          },
          {
            title: 'Messdiener',
            actors: ['Morten Roscher', 'Noel Schönberg']
          },
          {
            title: 'Schiedsrichterin',
            actors: ['Christiane Lares']
          },
          {
            title: 'Musiker',
            actors: ['Iwo Iwanov (Gitarre)', 'Annemarie Taßler (Flöte)', 'Dorothea Kirsch (Flöte)', 'Harriet Schmidt (Flöte)', 'Sabine Ziegler (Flöte)', 'Marie-Luise Bretz (Flöte)']
          },
          {
            title: 'Katholiken',
            doubles: [
              {
                actor: 'Wilfried Bernauer'
              },
              {
                actor: 'Gerda Schnitzler',
                dates: [1, 2, 5]
              },
              {
                actor: 'Heidrun Bretz',
                dates: [0, 1, 2, 3]
              },
              {
                actor: 'Renate Reifenrath'
              },
              {
                actor: 'Margit Fischer',
                dates: [2, 3, 4, 5]
              },
              {
                actor: 'Renate Sommer'
              },
              {
                actor: 'Gabi Bernauer'
              },
              {
                actor: 'Rolf Heidorn',
                dates: [3, 4, 5]
              },
              {
                actor: 'Karl-Heinz Werr',
                dates: [0, 1, 2, 3, 5]
              }
            ]
          },
          {
            title: 'Kommunisten',
            doubles: [
              {
                actor: 'Uli Hesse',
                dates: [0, 2, 3, 4, 5]
              },
              {
                actor: 'Christiane Lares'
              },
              {
                actor: 'Margret Zeimetz',
                dates: [0, 1, 4, 5]
              },
              {
                actor: 'Barbara Röser'
              },
              {
                actor: 'Josef Kreutz',
                dates: [0, 1, 4, 5]
              },
              {
                actor: 'Kathi Kreutz',
                dates: [0, 4, 5]
              },
              {
                actor: 'Dr. Elke Koller',
                dates: [3, 4, 5]
              },
              {
                actor: 'Martina Scheler',
                dates: [0, 1, 2, 3]
              },
              {
                actor: 'Simone Spies',
                dates: [0, 1]
              }
            ]
          },
          {
            title: 'Vorspann',
            actors: ['Johanna Ellerich', 'Jakob Ellerich', 'Saskia Scharbach', 'Annalena Keller', 'Carla Wink', 'Jule Thelen', 'Katharina May', 'Cécile Lares', 'Luca Ptachin', 'Anna Ptachin', 'Michéle Kemler', 'Johanna May', 'Anna Pulvermacher']
          }
        ]
      }
    ]
  hr
  = render 'cast', cast:

  hr
  = render 'tickets'
