= render 'header', photo: '2', small_outline: true

= render 'event'
  = render 'about', title: 'Über das Stück'
    p Das Stück wurde 1895 in London uraufgeführt und von Kritikern und Publikum gleichermaßen gefeiert, bis es bei Prozessbeginn abrupt vom Spielplan genommen wurde. „I really think it reads the best of my plays“ urteilte Wilde selbst über sein politisches und vielschichtiges letztes Bühnenwerk, das seine persönliche Erfahrung mit Erpressung und seine Angst von dem Verlust des gesellschaftlichen Ansehens verarbeitete.
    p Es geht um Insidergeschäfte, Erpressung, Intrigen, Geheimnisverrat, Börsenschwindel und Verwicklungen. Zeitlose Themen damals wie heute. Die Aktualität ist verblüffend.
    p Eine Intrigantin, Mrs Cheveley, die Zugang zu höchsten englischen Gesellschaftskreisen hat, versucht 1895 einen integren Politiker, Sir Robert, zu erpressen. Sie weiß genau um dessen dunkles Geheimnis am Anfang seiner Karriere und droht mit der Preisgabe dieses Geheimnisses an Presse und Gattin. Ein Freund möchte Sir Robert gerne helfen, verursacht dadurch jedoch nur noch mehr Verwicklungen.
    p Pikanter Inhalt gepaart mit geschliffenen Dialogen, Bonmots und einer spritzigen Inszenierung, machen die Aufführungen zum Vergnügen.

  hr
  = render 'photos', gallery_id: 71

  ruby:
    cast = [
      {
        title: 'Darsteller',
        entries: [
          {
            title: 'Sir Robert Chiltern',
            actors: 'Gerd Röser'
          },
          {
            title: 'Lady Gertrude Chiltern',
            actors: 'Susanne Schubert'
          },
          {
            title: 'Miss Mabel Chiltern',
            actors: 'Nadine Gründer'
          },
          {
            title: 'Lord Arthur Goring',
            actors: 'Stephan Hilken'
          },
          {
            title: 'Lord Caversham',
            actors: 'Walter Loreth'
          },
          {
            title: 'Mrs Laura Cheveley',
            actors: 'Simone Spies'
          },
          {
            title: 'Lady Markby',
            actors: 'Brigitte Meier'
          },
          {
            title: 'Lady Olivia Basildon',
            actors: 'Sonja Makhlis'
          },
          {
            title: 'Mrs Margaret Marchmont',
            actors: 'Chiara Jausel'
          },
          {
            title: 'Vicomte de Nanjac',
            actors: 'Thomas Ellerich'
          },
          {
            title: 'Phipps',
            actors: 'Daniela Gödert'
          },
          {
            title: 'Mason',
            actors: 'Jörg Wronka'
          },
          {
            title: 'Staff',
            actors: [
              'Monika Näckel',
              'Margit Fischer',
              'Daniela Gödert',
              'Lotte Schäfer',
              'Klara Spies',
              'Jakob Ellerich'
            ]
          }
        ]
      },
      {
        title: 'Hinter den Kulissen',
        entries: [
          {
            title: 'Regie',
            actors: 'Kirsten Roscher'
          },
          {
            title: 'Soufflage',
            actors: 'Helmut Mattern'
          },
          {
            title: 'Technik (Licht / Ton)',
            actors: [
              'Jens Krämer & Team',
              'Michael Lenz'
            ]
          },
          {
            title: 'Bühnenbild, Idee',
            actors: 'Kirsten Roscher'
          },
          {
            title: 'Bühnenbild, Malerei',
            actors: 'Willi Schrader'
          },
          {
            title: 'Kulissenbau',
            actors: [
              'Helmut Mattern',
              'Heinz Christ',
              'Klaus Junglas',
              'Klaus Herres',
              'Matthias Schnitzler',
              'Sigi Roscher',
              'Uli Hesse',
              'Werner Lutz'
            ]
          },
          {
            title: 'Maske / Frisuren',
            actors: [
              'Camelia Ellerich',
              'Christina Oster',
              'Cilli Loreth',
              'Johanna Ellerich',
              'Lea Franzke',
              'Marie Gödert',
              'Martina Steffes (Leitung)',
              'Michaela Venus',
              'Monika Weber',
              'Ursula Näckel-Bauck'
            ]
          },
          {
            title: 'Kostümwerkstatt',
            actors: [
              'Annemarie Taßler',
              'Elisabeth Pauken',
              'Monika Näckel',
              'Nadine Gründer',
              'Bärbel Junglas',
              'Maija-Leena Forys',
              'Susanne Schubert (Leitung)'
            ]
          },
          {
            title: 'Musikauswahl',
            actors: [
              'Stephan Hilken',
              'Kirsten Roscher'
            ]
          },
          {
            title: 'Piano (Einspieler)',
            actors: 'Jakob Ellerich'
          },
          {
            title: 'Ausstattung / Requisiten',
            actors: [
              'alle Darsteller',
              'Fundus'
            ]
          },
          {
            title: 'Bewirtung',
            actors: 'Maria Oster & Team'
          },
          {
            title: 'Öffentlichkeitsarbeit Medienkontakt / Werbung',
            actors: [
              'Maria Oster',
              'Otto Krechel'
            ]
          },
          {
            title: 'Texte',
            actors: [
              'Kirsten Roscher',
              'Maria Oster',
              'Susanne Schubert'
            ]
          },
          {
            title: 'Fotos',
            actors: [
              'Susanne Schubert',
              'Mario Spies'
            ]
          },
          {
            title: 'Titelbild / Drucksachen',
            actors: 'Susanne Schubert'
          }
        ]
      }
    ]
  hr
  = render 'cast', cast:

  hr
  = render 'tickets', retail: true

  hr
  = render 'faq', identifier: 'freilichtbuehne'
