ruby:
  cast = [
    {
      entries: [
        {
          title: 'Kathrin',
          actors: ['Susanne Schubert']
        },
        {
          title: 'Arnold',
          doubles: [
            {
              actor: 'Gerd Röser',
              dates: [0, 1]
            },
            {
              actor: 'Thomas Ellerich',
              dates: [2]
            }
          ]
        },
        {
          title: 'Götz',
          actors: ['Walter Loreth']
        },
        {
          title: 'Diana',
          doubles: [
            {
              actor: 'Simone Spies',
              dates: [0, 1]
            },
            {
              actor: 'Daniela Gödert',
              dates: [2]
            }
          ]
        }
      ]
    }
  ]
= render 'niere', cast:
  .card Das Stück wurde auf der KulturBühne Altes Wasserwerk bereits #{link_to '2024', event_path('die-niere')} aufgeführt. Dies ist eine Wiederaufnahme.
