ruby:
  cast = [
    {
      entries: [
        {
          title: 'Kathrin',
          doubles: [
            {
              actor: 'Susanne Schubert',
              dates: [0, 2]
            },
            {
              actor: 'Nadine Gründer',
              dates: [1, 3]
            }
          ]
        },
        {
          title: 'Arnold',
          doubles: [
            {
              actor: 'Thomas Ellerich',
              dates: [0, 2]
            },
            {
              actor: 'Gerd Röser',
              dates: [1, 3]
            }
          ]
        },
        {
          title: 'Götz',
          actors: ['Walter Loreth']
        },
        {
          title: 'Diana',
          doubles: [
            {
              actor: 'Simone Spies',
              dates: [0, 2]
            },
            {
              actor: 'Daniela Gödert',
              dates: [1, 3]
            }
          ]
        }
      ]
    }
  ]
= render 'niere', cast:
