ruby:
  details = {
    retail_sale: false,
    catering: true,
    duration: 60,
    break_duration: 0,
    info_box: {
      play: {
        'Autor' => 'L. Frank Baum',
        'Bühnenfassung' => 'Kirsten Roscher'
      },
      event: {
        'Spielleitung' => 'Kirsten Roscher, Stephan Hilken',
        'geeignet ab' => '6 Jahre'
      }
    },
    poster_filename: 'Plakat'
  }
  styling = {
    colors: ['76411D', 'E58E1C', '20CB81', 'E7E9E6', 'D8B12D'],
    stroke_logo_dark: false
  }
  cast = nil

= render 'event', styling:, details:, cast:
  = render 'about', details:
    p Ein Wirbelsturm hat Dotty und ihren Hund Toto weit von zu Hause fort über den Regenbogen in das Land Oz geweht. Nun machen sie sich auf den Weg zum großen und schrecklichen Oz, dem mächtigsten Zauberer des Landes, damit er ihnen hilft, wieder nach Hause zu kommen. Die Vogelscheuche, der Blechmann und der ängstliche Löwe werden zu ihren Gefährten, denn auch sie erhoffen sich vom Zauberer, was sie sich jeweils am meisten wünschen: Verstand, Herz und Mut.
    p Die im Jahre 1900 erschienene Märchengeschichte verzauberte in kurzer Zeit eine ganze Nation, bereits zwei Jahre später wurde sie erstmals auf einer Bühne gezeigt. Seither sind zahlreiche Generationen weltweit mit dieser Geschichte aufgewachsen, der Stoff wurde vielfach in Film, Theater und Musik verarbeitet. Als Klassiker gilt die berühmte Musical-Verfilmung mit Judy Garland mit dem Titelsong „Somewhere Over the Rainbow“.
    p Das Ensemble des Kinder- und Jugendtheaters zeigt die berühmte „Wonder Tale“ des amerikanischen Schriftstellers L. Frank Baum in einer eigenen Bühnenfassung.
