<% title "Statistik" %>
<% include_css "ticketing/statistics" %>
<% cache [:ticketing, :statistics, Ticketing::Ticket, @_retail_store] do %>
  <div class="hl">Ticket-Statistik</div>
  <div class="stats">
    <div class="table active">
      <%= render "stats_table", scopes: [{ title: "Statistik für Ihre Vorverkaufsstelle", scope: @stats[:retail][:stores][@_retail_store.id] }] %>
    </div>
  </div>
<% end %>