<div class="stepCon seats">
	<div class="note plural_text">
    Bitte wählen Sie Ihre<span class="singular">n</span> gewünschten<b class="number plural"> <span></span></b> <span class="singular">Sitzplatz</span><span class="plural">Sitzplätze</span> durch Anklicken.
  </div>
  <div class="additional">
    <p>Bitte scrollen (verschieben) Sie den Sitzplan nach rechts oder links, um alle Teile des Zuschauerraumes sehen zu können.</p>
    <p>Zur besseren Orientierung können Sie sich auch ein Foto des Zuschauerraumes <%= link_to "ansehen", "/assets/misc/seating.jpg", target: "_blank" %>.</p>
  </div>
	<div class="seating">
    <% cache [:new_order, :seats] do %>
		  <%= render "application/ticketing/seats", :seats => @seats, :error_box => true %>
    <% end %>
	</div>
  <div class="hcen">
		<div class="key">
      <div><b>Legende</b></div>
      <div><div class="ticketing_seat available"></div> Sitzplatz frei</div>
      <div><div class="ticketing_seat taken"></div> Sitzplatz bereits reserviert</div>
      <div><div class="ticketing_seat chosen"></div> Ihr Sitzplatz</div>
    </div>
  </div>
  <div class="additional">
    <p>Für gehbehindertengerechte Sitzplätze wenden Sie sich bitte an unsere <%= link_to "Hotline", dates_path(anchor: "hotline"), target: "_blank" %>.</p>
  </div>
</div>