<div class="stepCon seats">
	<div class="note message">
    Bitte wählen Sie Ihre<span class="singular">n</span> gewünschten<span class="number plural"> <span></span></span> <span class="singular">Sitzplatz</span><span class="plural">Sitzplätze</span> durch Anklicken.
  </div>
  <div class="additional">
    <p>Bitte scrollen (verschieben) Sie den Sitzplan nach rechts oder links, um alle Teile des Zuschauerraumes sehen zu können.</p>
    <p>Zur besseren Orientierung können Sie sich auch ein Foto des Zuschauerraumes <%= link_to "ansehen", "/assets/misc/seating.jpg", target: "_blank" %>.</p>
  </div>
  <div class="error message">
    Sie müssen noch <b class="number"></b> <span class="singular">Sitzplatz</span><span class="plural">Sitzplätze</span> auswählen.
  </div>
	<div class="seating noPadding">
		<%= render "application/ticketing/seats", :seats => @seats %>
	</div>
  <div class="hcen">
		<div class="key">
      <div><b>Legende</b></div>
      <div><div class="ticketing_seat available"></div> Sitzplatz frei</div>
      <div><div class="ticketing_seat taken"></div> Sitzplatz bereits reserviert</div>
      <div><div class="ticketing_seat selected"></div> Ihr Sitzplatz</div>
    </div>
  </div>
  <div class="additional">
    <p>Für gehbehindertengerechte Sitzplätze wenden Sie sich bitte an unsere <%= link_to "Hotline", dates_path(anchor: "hotline"), target: "_blank" %>.</p>
  </div>
</div>