.logo-generator {
  input[type='color'] {
    height: 3rem;
  }

  [data-admin--logo-generator-target='dominantColors'] .color {
    @extend .color-disk;
    width: 3rem;
    height: 3rem;
    cursor: pointer;

    &.selected {
      border-width: 3px;
      border-color: $cta-color;
    }
  }
}
