@import "../_seats";

@mixin box {
	position: relative;
	border: 1px solid #cccccc;
	border-radius: 10px;
	padding: 10px;
}

#seats {
	width: 95%;
	margin: auto;
	
	.seating {
		@include box;
	}

	.tickets_seat {
		cursor: move;
	}

	.actions {
		overflow: auto;
		margin-top: 10px;
	
		.blocks {
			width: 40%;
			float: left;
			@include box;
		
			.tickets_block {
				overflow: auto;
				margin: 3px 0px;
			
				.tickets_seat, .name {
					position: relative;
					float: left;
				}
			
				.name {
					margin-left: 6px;
				}
			}
		}
	
		.seats {
			float: right;
			width: 50%;
			@include box;
		}
	}
}
