@import "../_seats";

@mixin box {
	position: relative;
	border: 1px solid #cccccc;
	border-radius: 10px;
	padding: 10px;
}

#seats {
	width: 95%;
	margin: auto;
	
	.seating {
		@include box;
    
  	.ticketing_seat {
  		cursor: move;
      
      &.selected {
        border-color: red;
      }
  	}
    
    &.selecting {
    	.ticketing_seat {
    		cursor: pointer;
    	}
    }
	}

	.bottom {
		overflow: auto;
		margin-top: 10px;
	
		.blocks {
			width: 40%;
			float: left;
			@include box;
		
			.ticketing_block {
				overflow: auto;
				margin: 3px 0px;
			
				.ticketing_seat, .name {
					position: relative;
					float: left;
				}
			
				.name {
					margin-left: 6px;
				}
        
				.actions {
					float: right;
				}
			}
      
      .new {
        margin: 10px;
        
        input[type=text] {
          width: 130px;
        }
      }
		}
	
		.seats {
			float: right;
			width: 50%;
			@include box;
		}
	}
}
