div data-controller='items-reveal' data-items-reveal-initial-items-value=2 data-items-reveal-reveal-step-value=3
  h3 = title
  = render 'application/events/archive', events: events_for_ensemble(ensemble), small: true
