<%
  path = "uploads/presse/#{filename}"
  abs_path = Rails.public_path + path
  if File.exist?(abs_path)
    type = uppercase_file_extension(abs_path)
    size = File.new(abs_path).size
  else
    type = 'XXX'
    size = '0'
  end
%>
<li>
  <%= link_to text, "/#{path}" %>
  <% if local_assigns.has_key? :disclaimer %>
    <div class="disclaimer"><%= disclaimer %></div>
  <% end %>
  <div class="file-info"><%= type %>, <%= number_to_human_size(size) %></div>
</li>
