<% title "Impressum" %>
<% include_css "impressum" %>
<div class="impressum">
	<h1>Impressum</h1>

	<h3>Freilichtbühne am schiefen Turm e. V.</h3>
	Mausbachstraße 11
	<br />56759 Kaisersesch
	<p>
		Telefon: +49 (0)2653 - 28 27 989
		<br />e-mail: <script>document.write(deobfuscate("wiuznfuquow@tzqhqeaqtuuer-zkqawisqeuwrusuesczh.wqqduze"));</script>
	</p>
	<p>
		Bei telefonischen Anfragen rund um unsere <b>Aufführungen</b>, den <b>Vorverkauf</b> oder Ihre <b>Ticketbestellung</b> wenden Sie sich bitte an unsere Hotline:
	</p>
	<p>Telefon: +49 (0)2653 - 28 27 09</p>

	<hr />

	<h3>Gemeinschaftlich vertretungsbefugt:</h3>
	<h4>1. Vorsitzender</h4>
	Helmut Mattern
	<br />Mausbachstraße 11
	<br />56759 Kaisersesch

	<p>Telefon: +49 (0)2653 - 7979
	<br />E-Mail: helmut<script>document.write(deobfuscate("@tzqhqeaqtuuer-zkqawisqeuwrusuesczh.wqqduze"));</script></p>

	<h4>2. Vorsitzender</h4>
	Werner Lutz
	<br />Buchenweg 10
	<br />56759 Kaisersesch

	<p>Telefon: +49 (0)2653 - 6867
	<br />E-Mail: werner<script>document.write(deobfuscate("@tzqhqeaqtuuer-zkqawisqeuwrusuesczh.wqqduze"));</script></p>

	<hr />

	<p>Das Impressum gilt für: https://www.theater-kaisersesch.de</p>

	<p>Registergericht: Amtsgericht Koblenz
	<br />Registernummer: VR 20526</p>
</div>
