<% title "Impressum" %>
<% include_css "impressum" %>
<div class="impressum">
  <div class="hl">Impressum</div>

  <%= render 'main_address' %>

  <p>
    Registergericht: Amtsgericht Koblenz<br>
    Registernummer: VR 20526
  </p>

  <p>Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz: DE295892528</p>

  <h3>Vertretungsberechtigter Vorstand:</h3>
  <p>
    1. Vorsitzender: Helmut Mattern<br>
    2. Vorsitzender: Stefan Gasser
  </p>

  <h3>Verantwortliche i.S.d. § 55 Abs. 2 RStV:</h3>
  <p>
    Maria Oster<br>
    Masburger Straße 1c<br>
    56759 Kaisersesch
  </p>

  <p>
    Telefon: +49 2653 2827989<br>
    E-Mail: maria<script>document.write(deobfuscate("@tzqhqeaqtuuer-zkqawisqeuwrusuesczh.wqqduze"));</script>
  </p>

  <p>
    Plattform der EU-Kommission zur Online-Streitbeilegung: <a href="https://ec.europa.eu/consumers/odr">https://ec.europa.eu/consumers/odr</a>
  </p>

  <p>Wir sind zur Teilnahme an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle weder verpflichtet noch bereit.</p>
</div>
