<% title "Impressum" %>
<% include_css "impressum" %>
<div class="impressum">
	<div class="box contact">
		<div class="top">
			Kontakt
		</div>
		<div class="con">
			<h1>Freilichtbühne am schiefen Turm e.V.</h1>
			Postfach 1262
			<br />56759 Kaisersesch
			<p>e-mail: <script>document.write(deobfuscate("wiuznfuquow@tzqhqeaqtuuer-zkqawisqeuwrusuesczh.wqqduze"));</script></p>
			<hr />
			<h1>Vorstand</h1>
			<div class="board">
				<div>
					<h2>1. Vorsitzende</h2>
					Sabine Lübke
					<br />Auf der Wacht 11a
					<br />56759 Kaisersesch
				</div>
				<div>
					<h2>2. Vorsitzende</h2>
					Susanne Schubert
					<br />Im Haag 2
					<br />56759 Kaisersesch
				</div>
			</div>
			<hr />
			<div class="links hcen">
				<%= link_to "Satzung", satzung_path %> | <%= link_to "AGB", agb_path %>
			</div>
		</div>
	</div>
	<div class="box webdesign">
		<div class="top">
			Website
		</div>
		<div class="con">
			<h1>Albrecht Oster</h1>
			Masburger Straße 1c
			<br />56759 Kaisersesch
			<p>e-mail: <script>document.write(deobfuscate("wiuznfuquow@azlwwbqiwzsiuzguwnsu.wqqduze"));</script></p>
		</div>
	</div>
</div>