<% include_css "index" %>
<% include_js "index" %>
<% cache [:static, :index] do %>
  <div class="teaser don_camillo">
    <div class="closing">
      Eine grandiose Theatersaison ist zu Ende. Die Akteure sind glücklich und stolz, sieben ausverkaufte Vorstellungen präsentiert zu haben.
      <br />Wir danken unserem verehrten Publikum für das überwältigende Interesse an unseren Aufführungen, den Applaus und die vielen begeisterten Rückmeldungen.
      <p>Wir sehen uns wieder zum Sommernachtstheater 2015!</p>
    </div>
  </div>
  <div class="trenner"></div>
  <%= render "newsletter/form" %>
  <div class="partner-lotto">
    <span class="disclaimer">Mit freundlicher Unterstützung von:</span>
    <div>
      <%= link_to "https://www.lotto-rlp.de", target: "_blank" do %>
        <%= image_tag "misc/partner-lotto.png" %>
      <% end %>
    </div>
  </div>
<% end %>