<% include_css "index" %>
<% include_js "index" %>
		<div class="hl">
			Herzlich willkommen!
		</div>
		<div class="welcome hcen">
			Die Freilichtbühne am schiefen Turm heißt Sie herzlich willkommen auf unserer Homepage!
		</div>
		<div class="ad">
			<span class="disclaimer">Mit freundlicher Unterstützung von:</span>
			<div>
				<a href="http://www.lotto-rlp.de" target="_blank"><img src="/assets/misc/ad-lotto.png" alt="" /></a>
			</div>
		</div>