<% title "Vereinssatzung" %>
<% include_css "list" %>
<div class="headline">Satzung des Vereins „Freilichtbühne am schiefen Turm e. V.“</div>
<div class="parag">
  <h3>§ 1 Name, Rechtsform, Sitz</h3>
  <ol class="nrs">
    <li>Der Verein führt den Namen „Freilichtbühne am schiefen Turm e. V.“</li>
    <li>Der Verein hat seinen Sitz in Kaisersesch</li>
    <li>Der Verein soll in das Vereinsregister eingetragen werden.</li>
  </ol>
</div>
<div class="parag">
  <h3>§ 2 Gemeinnützigkeit, Aufgaben und Vereinszweck</h3>
  <ol class="nrs">
    <li>Der Verein dient der Förderung und Pflege von Kunst und Kultur in der Stadt Kaisersesch und der Region. Der Satzungszweck wird insbesondere durch die Aufführung von Theaterstücken, sowie der Organisation sonstiger kultureller Veranstaltungen und damit verbundenen Rahmenprogramme im Sinne der o.g. Zwecke verwirklicht.</li>
    <li>Der Verein richtet eine eigene Kinder-/Jugendabteilung ein, die der Förderung und Pflege der Nachwuchsarbeit im Theaterbereich dient.</li>
    <li>Der Verein verfolgt seine Zwecke neutral und unabhängig. Er ist parteipolitisch und konfessionell neutral.</li>
    <li>Der Verein verfolgt ausschließlich und unmittelbar gemeinnützige Zwecke i.S. des Abschnittes „Steuerbegünstigte Zwecke der Abgabenordnung“. Der Verein ist selbstlos tätig. Er verfolgt nicht in erster Linie eigenwirtschaftliche Zwecke.</li>
    <li>Die Mittel des Vereins dürfen nur für die satzungsmäßigen Zwecke verwendet werden. Die Mitglieder erhalten keine Zuwendungen aus Mitteln des Vereins. Es darf keine Person durch Ausgaben, die dem Zweck des Vereins fremd sind, oder durch unverhältnismäßig hohe Vergütung begünstigt werden.</li>
    <li>Von den Vereinseinnahmen werden die vereinszweckdienlichen Ausgaben abgezogen. Der verbleibende Gewinn kann für größere Vereinsanschaffungen gespart werden.</li>
    <li>Alle Inhaber von Vereinsämtern sind ehrenamtlich tätig. Sie haben Anspruch auf Ersatz angemessener Auslagen.</li>
    <li>Bei der Auflösung des Vereins ist das Vermögen zu steuerbegünstigten Zwecken zu verwenden.</li>
  </ol>
</div>
<div class="parag">
  <h3>§ 3 Mitgliedschaft</h3>
  <ol class="nrs">
    <li>Mitglied des Vereins kann jede volljährige natürliche Person werden. Jugendliche unter 18 Jahren können mit Zustimmung des gesetzlichen Vertreters aufgenommen werden. Die Mitgliedschaft ist nicht übertragbar.</li>
    <li>Die Aufnahme eines Mitgliedes setzt dessen schriftlichen Aufnahmeantrag an den Vereinsvorstand voraus. Der Vorstand entscheidet über die Aufnahme. Die Entscheidung, auch die Ablehnung des Antrages, kann ohne Angabe von Gründen erfolgen.</li>
    <li>Die Mitgliedschaft endet:
      <ol class="letters">
        <li>durch freiwilligen Austritt,</li>
        <li>durch Ausschluss aus dem Verein,</li>
        <li>mit dem Tod des Mitglieds.</li>
      </ol>
    </li>
    <li>Der freiwillige Austritt kann nur durch eine an den Vorstand gerichtete schriftliche Erklärung erfolgen. Er ist nur zum Ende eines Kalenderjahres unter Einhaltung einer Kündigungsfrist von 3 (drei) Monaten zulässig.</li>
    <li>Der Vorstand kann ein Mitglied, das in grober Weise gegen die Vereinsinteressen verstößt, dem Verein einen Schaden zugefügt oder sich unehrenhafter Handlungen schuldig gemacht hat, aus dem Verein ausschließen. Vor der Beschlussfassung ist dem Mitglied unter Beachtung einer Frist von zwei Wochen Gelegenheit zur persönlichen mündlichen oder schriftlichen Stellungnahme zu geben. Der Beschluss über einen Ausschluss aus dem Verein ist zu begründen und dem Mitglied mittels eingeschriebenen Brief bekannt zu machen.</li>
    <li>Gegen den Ausschluss kann das ausgeschlossene Mitglied innerhalb eines Monats seit Zugang des Beschlusses schriftlich beim Vorstand die Entscheidung der Mitgliederversammlung beantragen. Diese entscheidet bei der nächsten Mitgliederversammlung abschließend über den Ausschluss.</li>
    <li>Nach Ende der Mitgliedschaft besteht kein Anspruch auf Rückzahlung von bereits entrichteten Beiträgen.</li>
  </ol>
</div>
<div class="parag">
  <h3>§ 4 Rechte und Pflichten</h3>
  <ol class="nrs">
    <li>Die Vereinsmitglieder sind zur Zahlung eines Mitgliedsbeitrages verpflichtet. Einzelheiten regelt die Beitragsordnung des Vereins, die von der Mitgliederversammlung beschlossen wird.</li>
    <li>Jedes Mitglied hat in der Mitgliederversammlung Stimmrecht und aktives Wahlrecht.</li>
    <li>Jedes Mitglied hat das Recht, der Vorstandschaft und der Mitgliederversammlung Anträge zu unterbreiten.</li>
    <li>Jedes Mitglied ist verpflichtet, die Satzung des Vereins zu beachten, den Verein und die Vereinsziele nach besten Kräften zu fördern und die festgesetzten Beiträge zu leisten.</li>
  </ol>
</div>
<div class="parag">
  <h3>§ 5 Vereinsorgane</h3>
  <ol class="nrs no">
    <li>Organe des Vereins sind der Vorstand und die Mitgliederversammlung.</li>
  </ol>
</div>
<div class="parag">
  <h3>§ 6 Der Vorstand</h3>
  <ol class="nrs">
    <li>Der Vorstand besteht aus:
      <ol class="letters">
        <li>dem Vorsitzenden</li>
        <li>dem stellvertretenden Vorsitzenden</li>
        <li>dem Schriftführer</li>
        <li>ggf. dem stellvertretenden Schriftführer</li>
        <li>dem Kassierer</li>
        <li>ggf. dem stellvertretenden Kassierer</li>
        <li>den Beisitzern</li>
      </ol>
    </li>
    <li>Der jeweilige Regisseur/die jeweiligen Regisseure gehört/gehören dem Vorstand als geborenes/ geborene Mitglied/geborene Mitglieder in der Funktion eines Besitzers an.</li>
    <li>Den geschäftsführenden Vorstand im Sinne des § 26 BGB bilden der Vorsitzende, der stellvertretende Vorsitzende und der Schriftführer. Jeweils zwei vertreten den Verein nach außen im Sinne des BGB.</li>
    <li>Die Mitglieder des Vorstands werden einzeln auf die Dauer von zwei Jahren von der Mitgliederversammlung gewählt, sie bleiben jedoch so lange im Amt bis eine Neuwahl erfolgt ist. Wählbar sind Vereinsmitglieder.</li>
    <li>Scheidet ein Mitglied des Vorstandes während seiner Amtszeit aus, so wählt der verbleibende Vorstand ein Ersatzmitglied für die restliche Amtsdauer des ausgeschiedenen Mitglieds, dessen Wahl in der nächsten Mitgliederversammlung bestätigt werden muss.</li>
    <li>Rechtsgeschäfte mit einem Geschäftswert von über 500 Euro sind für den Verein nur verbindlich, wenn der gesamte Vorstand seine Zustimmung erteilt hat.</li>
    <li>Ein Vorstandsmitglied kann bei grober Amtspflichtverletzung oder aus sonstigem wichtigen Grund von den anderen Vorstandsmitgliedern abberufen werden. Der Abberufene kann die Berechtigung der Abberufung binnen einer Frist von einem Monat durch eine eigens hierfür einzuberufende Mitgliederversammlung prüfen lassen. Bis zur Entscheidung der Mitgliederversammlung ruhen die Rechte des abberufenen Mitglieds. Erst nach der Entscheidung der Mitgliederversammlung oder bei Verzicht auf deren Entscheidung kann der Nachfolger bestimmt werden.</li>
  </ol>
</div>
<div class="parag">
  <h3>§ 7 Beschlussfassung des Vorstandes</h3>
  <ol class="nrs">
    <li>Vorstandssitzungen werden unter Bezeichnung der Tagesordnung mindestens einmal im Jahr einberufen. Sitzungsleiter ist der Vorsitzende, im Verhinderungsfall sein Stellvertreter. Die Vorstandsbeschlüsse werden protokolliert und von den teilnehmenden Mitgliedern abgezeichnet. Der Vorstand ist beschlussfähig, wenn mehr als die Hälfte seiner Mitglieder anwesend sind. Beschlüsse werden mit einfacher Stimmenmehrheit gefasst. Besteht Stimmengleichheit, so gibt die Stimme des Vorstandsvorsitzenden den Ausschlag.</li>
    <li>Über jede Vorstandssitzung ist eine Niederschrift zu fertigen, die zumindest Anträge und Beschlüsse wiedergeben muss. Protokollführer ist der Schriftführer oder ein vom Sitzungsleiter bestimmtes Vorstandsmitglied oder der Sitzungsleiter selbst.</li>
  </ol>
</div>
<div class="parag">
  <h3>§ 8 Die Mitgliederversammlung</h3>
  <ol class="nrs">
    <li>Die Mitgliederversammlung ist das oberste Organ des Vereins.</li>
    <li>Die ordentliche Mitgliederversammlung findet einmal jährlich statt. Die Einladung erfolgt schriftlich durch den Vorstand und unter Mitteilung der Tagesordnung, mit einer Frist von 10 Werktagen. Jedes Mitglied hat in der Mitgliederversammlung eine Stimme. Die Ausübung des Stimmrechts ist in der Mitgliederversammlung persönlich wahrzunehmen. Stimmrechtsbündelung und Vertretung sind nicht zulässig.</li>
    <li>Die Mitgliederversammlung hat neben den an anderen Stellen der Satzung aufgeführten Aufgaben über die Belange des Vereins zu beschließen. Dies umfasst insbesondere:
      <ol class="nrs">
        <li>Entgegennahme des Jahresberichts des Vorstandes;</li>
        <li>Festsetzung der Höhe und Fälligkeit der Beiträge,</li>
        <li>Wahl und Abberufung der Mitglieder des Vorstandes und des Kassenprüfers, soweit die Satzung für die Bestimmung einzelner Organmitglieder keine andere Zuständigkeit festlegt,</li>
        <li>Beschlussfassung über die Änderung der Satzung und der Geschäftsordnung</li>
        <li>Beschlussfassung über die Auflösung des Vereins.</li>
      </ol>
    </li>
    <li>Die Mitgliederversammlung wird vom Vorsitzenden, bei dessen Verhinderung von dem stellvertretenden Vorsitzenden geleitet. Sind diese nicht anwesend, bestimmt die Versammlung einen Leiter.</li>
    <li>Es können nur persönlich anwesende Mitglieder für Ämter vorgeschlagen werden, sofern keine schriftliche Einverständniserklärung des fehlenden Mitgliedes vorliegt.</li>
    <li>Art und Durchführung der Versammlung legt der Versammlungsleiter fest. Alle Wahlen und Abstimmungen innerhalb des Vereins werden offen durchgeführt, wenn nicht mindestens eines der anwesenden stimmberechtigten Mitglieder eine geheime Wahl beantragt oder die Satzung einen anderen Modus vorschreibt.</li>
    <li>Die Mitgliederversammlung ist nichtöffentlich.</li>
    <li>Die Mitgliederversammlung ist grundsätzlich ohne Rücksicht auf die Anzahl der erschienenen Mitglieder beschlussfähig. Soll über eine Satzungsänderung abgestimmt werden, so muss mindestens die Hälfte der Mitglieder anwesend sein. Bei einer Abstimmung über die Auflösung des Vereins ist die Anwesenheit von mindestens 2/3 der Mitglieder erforderlich. Im Falle der Beschlussunfähigkeit ist der Vorstand verpflichtet, innerhalb von vier Wochen eine neue Mitgliederversammlung mit der gleichen Tagesordnung einzuberufen. Für diese gelten die gleichen Voraussetzungen hinsichtlich der Anwesenheit der Mitglieder.</li>
    <li>Beschlüsse werden im Allgemeinen mit einfacher Mehrheit der abgegebenen gültigen Stimmen gefasst. Eine Satzungsänderung oder die Auflösung des Vereins kann nur mit einer Mehrheit von 3/4 der anwesenden stimmberechtigten Mitglieder beschlossen werden.</li>
    <li>Über die Beschlüsse der Mitgliederversammlung ist ein Protokoll anzufertigen, das vom jeweiligen Versammlungsleiter und dem Protokollführer zu unterzeichnen ist. Der Protokollführer wird von dem Versammlungsleiter bestimmt. Sofern der Versammlungsleiter selber Protokollführer ist, wird das Protokoll zudem von einem weiteren anwesenden Vorstandsmitglied unterschrieben. Das Protokoll soll Feststellungen über Ort und Zeit der Versammlung, der Person des Versammlungsleiters und des Protokollführers, die erschienenen Mitglieder, die Tagesordnung, die einzelnen Abstimmungsergebnisse und die Art der Abstimmung enthalten. Bei Satzungsänderungen und Anträgen soll der genaue Wortlaut abgegeben werden.</li>
  </ol>
</div>
<div class="parag">
  <h3>§ 9 Außerordentliche Mitgliederversammlung</h3>
  <ol class="nrs">
    <li>Außerordentliche Mitgliederversammlungen können durch den Vorstand nach Bedarf einberufen werden. Eine Einberufung einer außerordentlichen Mitgliederversammlung hat zu erfolgen, wenn das Interesse des Vereins dies erfordert.<br>Eine außerordentliche Mitgliederversammlung ist innerhalb eines Monats einzuberufen, wenn mindestens 1/10 der Mitglieder dies beim Vorstand unter Angabe der Tagesordnung schriftlich beantragt.</li>
    <li>Für die Durchführung gilt § 8 dieser Satzung entsprechend.</li>
  </ol>
</div>
<div class="parag">
  <h3>§ 10 Kassenprüfer</h3>
  <ol class="nrs">
    <li>Die Mitglieder wählen in der Mitgliederversammlung für die Dauer von zwei Jahren zwei Kassenprüfer. Diese sind nicht Mitglied des Vorstandes und arbeiten als Kontrollorgan des Vorstandes im Auftrag der Mitglieder. Sie kontrollieren die Finanzgeschäfte des Vorstandes, unterbreiten der Jahresmitgliederversammlung einen Prüfungsbericht und stellen den Antrag auf Entlastung des Vorstandes.</li>
    <li>Die Prüfung erstreckt sich nicht auf die Zweckmäßigkeit der vom Vorstand genehmigten Ausgaben.</li>
    <li>Die Kassenprüfer unterliegen keinerlei Weisung durch den Vorstand oder die Mitgliederversammlung.</li>
  </ol>
</div>
<div class="parag">
  <h3>§ 11 Geschäftsjahr</h3>
  <ol class="nrs no">
    <li>Das Geschäftsjahr des Vereins ist das Kalenderjahr. Das erste Geschäftsjahr ist ein Rumpfgeschäftsjahr.</li>
  </ol>
</div>
<div class="parag">
  <h3>§ 12 Auflösung des Vereins</h3>
  <ol class="nrs">
    <li>Die Auflösung des Vereins kann nur in einer Mitgliederversammlung mit der in § 8 festgelegten Stimmenmehrheit beschlossen werden oder erfolgt durch Wegfall seines satzungsgemäßen Zwecks. Bei Auflösung oder Aufhebung des Vereins oder Wegfall seines steuerbegünstigten Zwecks fällt das Vereinsvermögen an die Stadt Kaisersesch, und zwar mit der Auflage, es entsprechend seinen bisherigen Zielen und Aufgaben ausschließlich und unmittelbar gemäß § 2 zu verwenden.</li>
    <li>Sofern die Mitgliederversammlung nichts anderes beschließt, sind der Vorsitzende und der stellvertretende Vorsitzende gemeinsam vertretungsberechtigte Liquidatoren.</li>
  </ol>
</div>
<div class="parag">
  <h3>§ 13 Inkrafttreten</h3>
  <ol class="nrs no">
    <li>Die Satzung hat die Gründungsversammlung am 22.04.2009 in Kaisersesch beschlossen. Sie tritt mit der Eintragung ins Vereinsregister in Kraft.</li>
  </ol>
</div>
<div class="parag">
  <h3>§ 14 Salvatorische Klausel</h3>
  <ol class="nrs no">
    <li>Sollte eine Bestimmung dieser Satzung unwirksam oder undurchführbar sein oder zukünftig unwirksam oder undurchführbar werden, so bleiben hiervon die übrigen Bestimmungen unberührt.</li>
  </ol>
</div>

<p class="appendix">
  Anlage 1 zur Satzung des Vereins „Freilichtbühne am schiefen Turm e.V.“
</p>

<h3>Datenschutzrichtlinie</h3>

<div class="parag">
  Verantwortlich für die Erhebung, Speicherung und Verarbeitung der personenbezogenen Daten ist die Freilichtbühne am schiefen Turm e.V.
  Mit der Verarbeitung von personenbezogenen Daten regelmäßig befasst sind:
  <ol class="nrs letters">
    <li>
      der geschäftsführende Vorstand,
      <ol class="nrs nrs">
        <li>der/die 1. Vorsitzende</li>
        <li>der/die 2. Vorsitzende</li>
        <li>der/die Schriftführer/in</li>
      </ol>
    </li>
    <li>der/die Kassenwart/in,</li>
    <li>der/die Beisitzende Aufführungsorganisation und</li>
    <li>der/die Web-Administrator/in.</li>
  </ol>
</div>

<div class="parag">
  Personenbezogene Daten werden erhoben und verarbeitet
  <ol class="nrs letters">
    <li>von Vereinsmitgliedern zur Ausübung der Mitgliedschaft im Sinne der Vereinssatzung,</li>
    <li>Kunden zum Besuch einer Aufführungsveranstaltung (nur bei Online-Bestellung der Eintrittskarten) und zur Information über geplante Aufführungen, z. B. über den Newsletter (siehe Datenschutzerklärung auf der Homepage).</li>
  </ol>
</div>

<div class="parag">
  Folgende personenbezogene Daten der Mitglieder werden erhoben und gespeichert:
  <ol class="nrs">
    <li>Name</li>
    <li>Vorname</li>
    <li>Straße</li>
    <li>PLZ, Wohnort</li>
    <li>Geburtsdatum</li>
    <li>E-Mail</li>
    <li>Telefon</li>
    <li>bei Erteilung eines Lastschriftmandates zur Zahlung des Mitgliedsbeitrags zusätzlich der Name des Inhabers und die IBAN des Kontos, von dem der Jahresbeitrag abgebucht wird.</li>
  </ol>
</div>

<div class="parag">
  Die Einwilligung in die Datenverarbeitung dieser Daten ist freiwillig und kann jederzeit schriftlich widerrufen werden. Gemäß Artikel 12 bis 14 DSGVO werden die Mitglieder über die Verwendung der personenbezogenen Daten und das Widerspruchsrecht informiert.
</div>

<div class="parag">
  Die Mitgliederdaten werden ausschließlich zum Zweck der Erfüllung der Mitgliedschaft im Sinne der Vereinssatzung erhoben, gespeichert und verarbeitet. Es erfolgt keine Weitergabe an Dritte. Bei Kündigung der Mitgliedschaft oder Wahrnehmung des Widerspruchsrechts werden die Daten unverzüglich gelöscht.
</div>

<h4>Bildmaterial</h4>

<div class="parag">
  Eine Einwilligung in die Veröffentlichung von Bildmaterial wird über den Mitgliedsantrag eingeholt. Die Einwilligung ist freiwillig und nicht an die Mitgliedschaft gebunden, eine erteilte Einwilligung kann jederzeit schriftlich widerrufen werden. Soweit die Einwilligung nicht widerrufen wird, gilt sie zeitlich unbeschränkt.
</div>

<div class="parag">
  Das Bildmaterial wird auf der Vereinshomepage, in Veranstaltungskalendern (auch online), in regionalen Presseerzeugnissen und in vereinseigenen Publikationen (z.B. Veranstaltungsflyern) veröffentlicht. Dies erfolgt zum Zweck der Präsentation des Vereins und seiner Veranstaltungen, der Bewerbung von geplanten Veranstaltungen und dem Erstellen einer Vereinschronik.
</div>
