<table>
  <tr>
    <td>Kontoinhaber:</td>
    <td>Freilichtbühne am schiefen Turm e. V.</td>
  </tr>
  <tr>
    <td>IBAN:</td>
    <td>
      DE65 5706 9144 0000 1781 67
      <div style="padding-top: 3px; font-size: 11px;">(Raiffeisenbank Eifeltor)</div>
    </td>
  </tr>
  <tr>
    <td>Verwendungszweck:</td>
    <td>Bestellung <%= @order.number %></td>
  </tr>
</table>
<div style="margin-top: -11px; margin-bottom: 20px; margin-right: 7%; font-size: 11px; text-align: right;">
  <%= link_to "Daten in Banking-Software übertragen", "bank://singlepaymentsepa?name=Freilichtbühne am schiefen Turm&iban=DE65570691440000178167&bic=GENODED1KAI&amount=#{@order.total}&currency=EUR&reason=Bestellung #{@order.number}" %>
</div>
