| leider mussten wir unsere letzte Aufführung von „In 80 Tagen um die Welt“ wetterbedingt vorzeitig abbrechen. Vielen Dank, falls Sie trotzdem gekommen sind!

p Über folgenden Link können Sie Ihre Tickets vollständig erstatten lassen: #{link_to 'Tickets stornieren', overview_url}.

p Wir bitten die entstandenen Unannehmlichkeiten zu entschuldigen.

p Mit freundlichen Grüßen
