nochmals vielen Dank für Ihre Bestellung <%= render_inline "order_number" %>!
<p>Mit dieser Mail möchten wir Ihnen noch einmal einen besseren Überblick über Ihre Tickets geben.</p>
<p>Sollten Sie ein Smartphone besitzen, haben Sie zudem ab sofort die Möglichkeit, Ihre Tickets in Passbook (vorinstalliert auf iPhones) oder <%= link_to "PassWallet", "https://play.google.com/store/apps/details?id=com.attidomobile.passwallet&hl=de" %> (separate App für Android-Geräte) abzuspeichern.</p>
<%= render "tickets_ordered", hide_notes: true %>
<p class="signature">Wir wünschen Ihnen viel Spaß bei der Aufführung!</p>
