<table>
  <tr>
    <td>Kontoinhaber:</td>
    <td>Freilichtbühne am schiefen Turm e.V.</td>
  </tr>
  <tr>
    <td>Kontonummer:</td>
    <td>178167</td>
  </tr>
  <tr>
    <td>BLZ:</td>
    <td>57069144</td>
  </tr>
  <tr>
    <td>Kreditinstitut:</td>
    <td>Raiffeisenbank Kaisersesch</td>
  </tr>
  <tr>
    <td>Verwendungszweck:</td>
    <td>Order <%= @order.bunch.number %></td>
  </tr>
</table>