<table>
  <tr>
    <td>Kontoinhaber:</td>
    <td>Freilichtbühne am schiefen Turm e. V.</td>
  </tr>
  <tr>
    <td>IBAN:</td>
    <td>DE65 5706 9144 0000 1781 67</td>
  </tr>
  <tr>
    <td>BIC:</td>
    <td>GENODED1KAI</td>
  </tr>
  <tr>
    <td>Kreditinstitut:</td>
    <td>Raiffeisenbank Eifeltor</td>
  </tr>
  <tr>
    <td>Verwendungszweck:</td>
    <td>Bestellung <%= @order.number %></td>
  </tr>
</table>