wir möchten Sie darauf hinweisen, dass Ihre Bestellung <b><%= @order.number %></b> aus folgendem Grund storniert wurde: <%= @order.cancellation.reason.present? ? @order.cancellation.reason : "<em>Kein Grund angegeben.</em>".html_safe %>
<p>Ihre Tickets verlieren damit ihre Gültigkeit. Bei weiteren Fragen können Sie sich gerne an uns wenden.</p>
<p>Mit freundlichen Grüßen</p>