Mit dieser Mail erhalten Sie noch einmal die Tickets zu Ihrer Bestellung <b><%= @order.bunch.number %></b>. Falls Änderungen an Ihrer Bestellung vorgenommen wurden, befindet sich im Anhang auch die aktualisierte Fassung Ihrer Tickets.
<%= render "tickets" %>
<p class="signature">Wir wünschen Ihnen nochmals viel Spaß bei der Aufführung!</p>