hr
h2.hcen Umbuchung Ihrer Tickets
p Sie haben die Möglichkeit Ihre Tickets auf ein anderes Datum #{@event.seating.plan? ? 'und/oder einen anderen Sitzplatz ' : '' }umzubuchen. Klicken Sie dazu bitte auf folgenden Link:
p.hcen = link_to 'Tickets umbuchen', ticket_transfer_path
p Gerne erreichen Sie uns bei weiteren Fragen oder besonderen Umbuchungswünschen auch auf folgenden Wegen:<br>
p.hcen
  <b>(02653) 28 27 09</b><br>
  = mail_to('info@theater-kaisersesch.de')
