- title 'Vorstandsbereich – Dokumente'
- include_css 'members/main'

- cache @documents
  .hl Dokumente
  p Diese Dokumente sind nur für den Vorstand einsehbar.
  = render 'new_button', action: 'Neues Dokument', url: new_admin_document_path
  - if @documents.any?
    table.rounded.files
      = content_tag_for :tr, @documents do |doc|
        td
          div: b = uppercase_file_extension(doc.file.path)
          small = number_to_human_size(doc.file.size)
        td
          = doc.title
          .small = doc.description
        td.download = link_to 'download', doc.file.url, target: '_blank'
        td.actionBtns = render 'admin_actions', obj: [:admin, doc], delete_confirm: 'dieses Dokument'
  - else
    em Keine Dokumente vorhanden.
