<% plays.each do |play| %>
  <%
    if play.is_a? Symbol
      event = Ticketing::Event.find_by(identifier: play)
      next if event.nil?
      slug = event.slug
      identifier = event.identifier
      title = event.name
    else
      slug = play[0]
      identifier = slug
      title = play[1]
    end
  %>
  <p>
    <%= link_to_if lookup_context.exists?(identifier, 'theater'),
                   image_tag("theater/#{identifier}.jpg",
                             srcset: [["theater/#{identifier}@2x.jpg", '2x']],
                             alt: title, title: title),
                   theater_play_path(slug) %>
  </p>
<% end %>
