<% title "Der Besuch der alten Dame" %>
<% include_css "alte_dame" %>
<% include_js "theater" %>
<div class="info">
  <div class="title">
    <p>Die Freilichtbühne am schiefen Turm präsentiert</p>
    <p class="highlight">Der Besuch Der Alten Dame</p>
    <p>eine tragische Komödie nach Friedrich Dürrenmatt</p>
  </div>
  <h2>Über das Stück</h2>
  <p>
    Claire Zachanassian kehrt nach vier Jahrzehnten in ihr Heimatstädtchen Güllen zurück, um Gerechtigkeit für die ehemals erlittene Schmach zu fordern. Als Siebzehnjährige musste sie unter Schimpf und Schande Güllen verlassen. Sie wurde zur Prostituierten, heiratete später jedoch mehrere steinreiche Männer, die ihr jeweils ein Vermögen hinterließen. Alfred hingegen blieb seiner kleinstädtischen Heimat verhaftet und wurde durch seine Heirat zu einem kleinen Krämer.
  </p>
  <p>
    „Die Welt machte mich zu einer Hure, und nun mache ich sie zu einem Bordell“, diese Aussage prägt ihren weiteren Lebensweg, der von Härte und Unnahbarkeit gezeichnet ist. Als sie in Güllen eintrifft, hoffen die Bewohner auf ihre Mildtätigkeit, sie jedoch fordert gegen die Zahlung einer unvorstellbar hohen Summe Gerechtigkeit für ihr erlittenes Leid.
  </p>
  <h2>Bitterböser und pechschwarzer Humor</h2>
  <p>
    Die Tragikkomödie um Rache, Gier, Moral, Gerechtigkeit und Menschlichkeit nimmt ihren Lauf. „Die Thematik des Stücks hat eine hohe Aktualität und daher werden wir es zeitlos spielen und es in der heutigen Zeit Wirklichkeit werden lassen“, sagt Co-Regisseur Stephan Hilken.
  </p>
  <p>
    Im historischen Ortskern, zwischen dem schiefen Turm von St. Pankratius und dem barocken Prison, bietet sich eine wunderschöne Kulisse für die 6 Aufführungen im Juli. Reservierte Plätze, gepflegte Getränke und leckere Kleinigkeiten sorgen für einen entspannten Rahmen an allen Vorstellungsabenden.
  </p>
</div>
