<% title "Die Drachenjungfrau" %>
<% include_css "drachenjungfrau" %>
<% include_js "theater" %>
<%
@cast = [
  {
    name: "Jambus",
    desc: "Erzähler 1",
    actors: ["Melissa Gasser"]
  },
  {
    name: "Trochäus",
    desc: "Erzähler 2",
    actors: ["Max Diederichs"]
  },
  {
    name: "Streuner",
    desc: "das Kätzchen",
    actors: ["Merle Barl"]
  },
  {
    name: "Heinrich",
    desc: "Wirt der Vulkanstube",
    actors: ["Tim Steffes"]
  },
  {
    name: "Hertha",
    desc: "Wirtin der Vulkanstube",
    actors: ["Sophie Meiers"]
  },
  {
    name: "Margarete",
    desc: "Wirtstochter",
    actors: ["Annalena Keller"]
  },
  {
    name: "Cornelia",
    desc: "Gretchens Freundin",
    actors: ["Maria Lehnen"]
  },
  {
    name: "Trudi",
    desc: "Gretchens beste Freundin",
    actors: ["Carla Wink"]
  },
  {
    name: "Lenchen",
    desc: "Gretchens Cousine",
    actors: ["Paulina Gorges"]
  },
  {
    name: "Fine",
    desc: "Gretchens Freundin",
    actors: ["Nele Fuhrmann"]
  },
  {
    name: "Pfarrer Martin",
    actors: ["Johanna May"]
  },
  {
    name: "Alfred",
    desc: "der Schmied",
    actors: ["Jule Thelen"]
  },
  {
    name: "Lehrerin",
    actors: ["Lara Heins"]
  },
  {
    name: "Doktor",
    actors: ["Jakob Ellerich"]
  },
  {
    name: "Emma",
    desc: "Gretchens Tante",
    actors: ["Michelle Kemler"]
  },
  {
    name: "Der Ältestenrat",
    actors: ["Jos Diederichs", "Katharina May", "Lorena Gorges"]
  },
  {
    name: "Hans",
    desc: "Glücksucher",
    actors: ["Noel Schönberg"]
  },
  {
    name: "Ignidur",
    desc: "der Drache",
    actors: ["Morten Roscher"]
  }
]
%>
<div class="info">
  Das Kinder- und Jugendtheater der Freilichtbühne am schiefen Turm präsentiert:
  <p class="hcen">
    <span class="highlight">„Die Drachenjungfrau“</span> - Ein Stück von Kirsten Roscher und Stephan Hilken
  </p>
  <h2>Premiere des Kinder- und Jugendtheaters</h2>
  <p>
    Die ohnehin beeindruckende Theaterlandschaft der Verbandsgemeinde Kaisersesch ist nun um eine Attraktion reicher: ein Kinder- und Jugendtheater. Die Freilichtbühne am schiefen Turm in der Kaisersescher Stadtmitte möchte dem Nachwuchs eine eigene Bühne bereiten und setzt künftig ihre jungen Talente noch stärker ins rechte Licht. Das Premierenstück hat die junge Truppe selbst entwickelt, Welturaufführung der „Drachenjungfrau“ ist im November.
  </p>
  <p>
    Eine wichtige Rolle spielt der Theaternachwuchs in Kaisersesch schon seit Jahren. Ob als große Kinderschar der Familie Nägler im „Haus von Montevideo“ oder als Dorfjugend im „Don Camillos“ Kirchengemeinde; in kleinen Rollen, oftmals eigens von Regisseur Helmut Mattern ersonnen, wirkten die jüngsten Mitglieder der Theatergruppe schon immer mit. Zahlreiche gut besuchte Ferienworkshops belegen überdies die Lust der Jugend aufs Theaterspiel. Höchste Zeit also, die jungen Talente intensiver zu fördern.
  </p>
  <h2>Die Drachen sind zurück in der Vulkaneifel</h2>
  <p>
    Zum ersten Treffen der Kinder- und Jugendgruppe erschienen rund zwanzig Kinder und Jugendliche. Um den vielen Darstellern gerecht zu werden, entwickelte die Truppe um ihre Anleiter Kirsten Roscher und Stephan Hilken selbst ihr Premierenstück. Als Input diente ein klassischer Stoff aus der Mythologie und Märchenwelt: der Drache, der einen Ort bedroht und jedes Jahr ein Opfer fordert. Dank vieler toller Ideen aus der Gruppe erhielt der klassische Stoff eine Menge an neuen Wendungen und interessanten Typen. In Dialogform wurde der rote Faden schließlich von Roscher und Hilken gesponnen - die Geschichte um die Drachenjungfrau und den Glückssucher wurde so sicherlich noch nie erzählt.
  </p>
  <p>
    Seit dem Ende der Sommerferien wird in der Friedenskirche Kaisersesch eifrig geprobt, mit Unterstützung von Pamela Diederichs und Helmut Mattern nimmt das Stück um den Drachen nun seine endgültige Gestalt an. Musikalisch begleitet wird das dramatische Geschehen von Annemarie Taßler und ihrer Flötengruppe. Mit dem näher rückenden Premierenwochenende am 13. und 14. November steigen allmählich Spannung und Vorfreude in der jungen Truppe.
  </p>
  <h2>Besetzung</h2>
  <%= render "cast" %>
</div>
