<% title "Der Gott des Gemetzels – Kammerspiel 2019" %>
<% include_css "gemetzel" %>
<div class="info">
  <p>
    Den Veranstaltungsreigen im Jahr unseres zehnjährigen Vereinsjubiläums beginnt unser neu gegründetes Kammerensemble „Kleine Bühne im Alten Wasserwerk“ mit dem Stück „Der Gott des Gemetzels“ von Yasmina Reza.
  </p>
  <h2>Über das Stück</h2>
  <p>
    Zwei Ehepaare treffen sich, um die Folgen eines Streits zwischen ihren elfjährigen Söhnen zu besprechen, bei dem einer der beiden zwei Zähne verloren hat. Was in versöhnlichem Ton mit den besten Absichten auf beiden Seiten beginnt, gerät allmählich außer Kontrolle, als unterschiedliche Erwartungen, Prinzipien und Weltanschauungen aufeinandertreffen und zu allem Überfluss noch Alkohol ins Spiel kommt.
  </p>
  <p>
    Yasmina Reza demaskiert in ihrem preisgekrönten Theaterstück genüsslich und boshaft die bürgerliche Fassade der gebildeten Mittelschicht im Europa des 21. Jahrhunderts.
  </p>
  <h2>Besetzung</h2>
  <div class="cast">
    <%= render 'cast', cast: [
      {
        name: 'Michel Houillé',
        doubles: [
          {
            name: 'Thomas Ellerich',
            dates: [0, 1, 2]
          },
          {
            name: 'Otto Krechel',
            dates: [3, 4, 5]
          }
        ]
      },
      {
        name: 'Véronique Houillé',
        doubles: [
          {
            name: 'Kirsten Roscher',
            dates: [0, 1, 3]
          },
          {
            name: 'Pam Diederichs',
            dates: [2, 4, 5]
          }
        ]
      },
      {
        name: 'Alain Reille',
        doubles: [
          {
            name: 'Stephan Hilken',
            dates: [0, 2, 4]
          },
          {
            name: 'Stefan Gasser',
            dates: [1, 3, 5]
          }
        ]
      },
      {
        name: 'Annette Reille',
        doubles: [
          {
            name: 'Susanne Schubert',
            dates: [0, 1, 5]
          },
          {
            name: 'Simone Spies',
            dates: [2, 3, 4]
          }
        ]
      },
    ] %>
  </div>
</div>
