<% title "Der Gott des Gemetzels – Kammerspiel 2020 zu Gast in Cochem" %>
<% include_css "gemetzel" %>
<div class="info">
  <p>
    Im Januar 2020 ist unser Kammerensemble „Kleine Bühne Altes Wasserwerk“ mit dem Stück „Der Gott des Gemetzels“ von Yasmina Reza zu Gast im Kulturzentrum Kapuzinerkloster Cochem.
  </p>
  <h2>Über das Stück</h2>
  <p>
    Zwei Ehepaare treffen sich, um die Folgen eines Streits zwischen ihren elfjährigen Söhnen zu besprechen, bei dem einer der beiden zwei Zähne verloren hat. Was in versöhnlichem Ton mit den besten Absichten auf beiden Seiten beginnt, gerät allmählich außer Kontrolle, als unterschiedliche Erwartungen, Prinzipien und Weltanschauungen aufeinandertreffen und zu allem Überfluss noch Alkohol ins Spiel kommt.
  </p>
  <p>
    Yasmina Reza demaskiert in ihrem preisgekrönten Theaterstück genüsslich und boshaft die bürgerliche Fassade der gebildeten Mittelschicht im Europa des 21. Jahrhunderts.
  </p>
  <h2>Besetzung</h2>
  <div class="cast">
    <%= render 'cast', cast: [
      {
        name: 'Michel Houillé',
        actors: ['Thomas Ellerich']
      },
      {
        name: 'Véronique Houillé',
        actors: ['Pam Diederichs']
      },
      {
        name: 'Alain Reille',
        actors: ['Stephan Hilken']
      },
      {
        name: 'Annette Reille',
        actors: ['Simone Spies']
      },
    ] %>
  </div>
</div>
