<% title "Unsere Theaterstücke" %>
<div class="hl">
	Unsere Theaterstücke
</div>
<div>
	Hier finden Sie einige Theaterstücke, die wir seit 2004 in Kaisersesch aufgeführt haben.
</div>
<div style="margin-top: 20px;" class="hcen">
	<% [
    ["krippenspiel", "Krippenspiel", false],
    ["jedermann", "Jedermann", true],
		["montevideo", "Das Haus in Montevideo", true],
		["hexenjagd", "Hexenjagd", true],
		["medicus", "Der Medicus vom Orient", true],
		["phantasus", "Der Riese Phantasus", true],
		["jedermann_2008", "Jedermann", true, "http://jedermann.theater-kaisersesch.de"],
		["hemd", "Das Hemd des Glücklichen", false],
		["bannmuenze", "Die Bannmünze", false]
	].each do |t| %>
    <%
      if t[3].blank?
        link_target = { action: t[0] }
      else
        link_target = t[3]
        link_opts = { :target => "_blank" }
      end
    %>
  	<p><%= link_to_if t[2], image_tag("theater/#{t[0]}.png", :alt => t[1]), link_target, link_opts %></p>
	<% end %>
</div>