<% title "Unsere Theaterstücke" %>
<div class="hl">
	Unsere Theaterstücke
</div>
<div>
	Hier finden Sie einige Theaterstücke, die wir seit 2004 in Kaisersesch aufgeführt haben.
</div>
<div style="margin-top: 20px;" class="hcen">
	<p><a href="/theater/montevideo"><img src="/assets/theater/montevideo.png" alt="Das Haus in Montevideo" /></a></p>
	<p><img src="/assets/theater/krippenspiel.png" alt="Krippenspiel" /></p>
	<p><a href="/theater/hexenjagd"><img src="/assets/theater/hexenjagd.png" alt="Hexenjagd" /></a></p>
	<p><a href="/theater/medicus"><img src="/assets/theater/medicus.png" alt="Der Medicus vom Orient" /></a></p>
	<p><a href="/theater/phantasus"><img src="/assets/theater/phantasus.png" alt="Der Riese Phantasus" /></a></p>
	<p><a href="http://jedermann.theater-kaisersesch.de"><img src="/assets/theater/jedermann.png" alt="Jedermann" /></a></p>
	<p><img src="/assets/theater/hemd.png" alt="Das Hemd des Glücklichen" /></p>
	<p><img src="/assets/theater/bannmuenze.png" alt="Die Bannmünze" /></p>
</div>