<% title "Unsere Theaterstücke" %>
<% include_css "theater" %>

<div class="theater index">
  <div class="hl">
    Unsere Theaterstücke
  </div>
  <p>
    Seit der Gründung unseres Vereins 2009 wachsen wir stetig. Wir freuen uns inzwischen über mehr als 100 Mitglieder und wir sind sehr stolz auf den großen Anteil an Kindern und Jugendlichen.
  </p>

  <h2>Unsere Sommernachtstheater</h2>
  <div class="hcen">
    <%= render 'index_plays', plays: [
      [:phantasus, "Der Riese Phantasus"],
      [:medicus, "Der Medicus vom Orient"],
      [:hexenjagd, "Hexenjagd"],
      [:montevideo, "Das Haus in Montevideo"],
      :jedermann,
      :don_camillo,
      :ladykillers,
      :alte_dame,
      :magdalena,
      :sommernachtstraum,
      :gloeckner
    ] %>
  </div>

  <h2>Kammerensemble „Kleine Bühne Altes Wasserwerk“</h2>
  <div class="hcen">
    <%= render 'index_plays', plays: [
      :gemetzel
    ] %>
    Das Kammerspiel feierte im März 2019 auf unserer neuen Bühne im „Alten Wasserwerk“ Premiere.
    Seither wurde es von uns an verschiedenen Orten als Gastspiel aufgeführt.
  </div>

  <h2>Unsere Kinder- und Jugendaufführungen im November</h2>
  <div class="hcen">
    <%= render 'index_plays', plays: %i[
      drachenjungfrau
      alice_wunderland
      willibald
      herdmanns
      blauer_planet
    ] %>
  </div>

  <h2>Weitere Aktivitäten</h2>
  <table class="others">
    <tr>
      <td>2012, 2014, 2016</td>
      <td>Teilnahme am Hambucher Nachttheater</td>
    </tr>
    <tr>
      <td>2013</td>
      <td>
        Gastspiel in Bad Bertrich: Das Haus in Montevideo<br>
        Krippenspiel, Theaterworkshops, Sketchszenen beim Altentag Kaisersesch
      </td>
    </tr>
  </table>

  <h2>Sie möchten Mitglied werden?</h2>
  <p>
    Wir freuen uns über neue Gesichter! Nicht nur auf der Bühne, auch hinter den Kulissen gibt es viele Bereiche, die kreativ sind: Technik, Maske, Frisuren, Kulissenbau, Bewirtung, ... <br>
    Nehmen Sie Kontakt mit uns auf: <%= mail_to 'info@theater-kaisersesch.de' %><br>
    Wir freuen uns auf Sie!
  </p>
</div>
