<% title "Jedermann" %>
<% include_css "jedermann" %>
<% include_js "theater" %>
<%
@date_groups = [
  [0, 1, 4],
  [2, 3, 5]
]
@cast = [
  {
    name: "Jedermann",
    doubles: [
      {
        name: "Stephan Hilken",
        date_group: 0
      },
      {
        name: "Otto Krechel",
        date_group: 1
      }
    ]
  },
  {
    name: "Tod",
    doubles: [
      {
        name: "Claudia Scholz",
        date_group: 1
      },
      {
        name: "Eugen Weiten",
        date_group: 0
      }
    ]
  },
  {
    name: "Guter Freund",
    doubles: [
      {
        name: "Gerd Roeser",
        date_group: 1
      },
      {
        name: "Dieter Stein",
        date_group: 0
      }
    ]
  },
  {
    name: "Koch",
    actors: ["Uli Hesse"]
  },
  {
    name: "Kochlehrling",
    actors: ["Morten Roscher"]
  },
  {
    name: "Schuldner",
    actors: ["Werner Lutz"]
  },
  {
    name: "Dicker Vetter",
    actors: ["Thomas Ellerich"]
  },
  {
    name: "Dünner Vetter",
    actors: ["Albrecht Oster"]
  },
  {
    name: "Hausvogt",
    actors: ["Matthias Schnitzler"]
  },
  {
    name: "Buhlschaft",
    doubles: [
      {
        name: "Pam Diederichs",
        date_group: 0
      },
      {
        name: "Kirsten Roscher",
        date_group: 1
      }
    ]
  },
  {
    name: "Mutter",
    doubles: [
      {
        name: "Maria Oster",
        date_group: 0
      },
      {
        name: "Renate Schüller",
        date_group: 1
      }
    ]
  },
  {
    name: "Arme Nachbarin",
    doubles: [
      {
        name: "Sabine Lübke",
        date_group: 1
      },
      {
        name: "Lena Schmitz",
        date_group: 0
      }
    ]
  },
  {
    name: "Frau des Schuldners",
    doubles: [
      {
        name: "Christiane Lares",
        date_group: 1
      },
      {
        name: "Nina Lübke",
        date_group: 0
      }
    ]
  },
  {
    name: "Kind des Schuldners",
    actors: ["Cosima Heinrich", "Cécile Lares"]
  },
  {
    name: "Erste Dame",
    doubles: [
      {
        name: "Liesel Hesse",
        dates: [0, 1, 2, 3, 4]
      },
      {
        name: "Nina Lübke",
        dates: [5]
      }
    ]
  },
  {
    name: "Zweite Dame",
    actors: ["Susanne Schubert"]
  },
  {
    name: "Dritte Dame",
    actors: ["Michaela Müller"]
  },
  {
    name: "Erster Gast",
    actors: ["Simone Spies"]
  },
  {
    name: "Zweiter Gast",
    actors: ["Christiane Lares", "Margret Zeimetz"]
  },
  {
    name: "Tischdamen",
    actors: ["Pam Diederichs", "Nina Lübke", "Sabine Lübke", "Maria Oster", "Kirsten Roscher", "Lena Schmitz", "Claudia Scholz", "Renate Schüller"]
  },
  {
    name: "Tischherren",
    actors: ["Gerd Roeser", "Dieter Stein", "Eugen Weiten"]
  },
  {
    name: "Lakaien / Knechte",
    actors: ["Johanna Ellerich", "Hannah Lehnen", "Lina Ramler", "Robby Sauer"]
  },
  {
    name: "Soldaten",
    actors: ["Thomas Ellerich", "Albrecht Oster"]
  },
  {
    name: "Weitere Darsteller",
    actors: ["Anja Fuhrmann", "Silvia Tibo-Lehnen"]
  },
  {
    name: "Musiker",
    actors: ["Julia Heinrich (Gesang)", "Iwo Iwanov (Gitarre)", "Dorothea Kirsch (Flöte)", "Harriet Schmidt (Flöte)", "Annemarie Taßler (Flöte)"]
  },
  {
    name: "Vereine",
    actors: ["Blaskapelle Kaisersesch", "Kirchenchor Kaisersesch"]
  },
  {
    name: "Vorspann",
    actors: ["Melina Bons", "Johanna Ellerich", "Hannah Lehnen", "Maria Lehnen", "Lina Ramler", "Robby Sauer", "Klara Steinkühler", "Leonardo Wink", "Carla Wink"]
  }
]
%>
<div class="info">
  <p>
    Die Freilichtbühne am schiefen Turm präsentiert:
    <p class="hcen">
      <span class="highlight">„Jedermann“</span> - Das Spiel vom Leben und Sterben eines reichen Mannes
      <br />Von Anna Barbara Koch-Spinnler nach dem Text von Hugo von Hofmannsthal
    </p>
  </p>
  <h2>Über das Stück</h2>
  <p>
    Seit der Uraufführung in Berlin im Dezember 1911, fasziniert das Leben und Sterben des reichen Jedermann die theaterinteressierten Menschen. Zahllose erfolgreiche Aufführungen, darunter natürlich an erster Stelle die seit 1920 aufgeführten, weltberühmten Salzburger Festspiele, zeigen die Faszination, die von dieser immer aktuellen Thematik ausgeht. Einst ein schwer verständliches, mittelalterliches Mysterienspiel, fasste Hugo von Hofmannsthal damals das Stück in eine modernere, verständlichere Form. Es blieben jedoch Gott, der Tod, die guten Werke, das Geld und ähnliche abstrakte Begriffe als Personen in der Handlung erhalten und sind als solche für den heutigen Menschen schwer verständlich.
  </p>
  <h2>Unsere Neuinszenierung</h2>
  <p>
    Eine neue, mutige Bearbeitung erfährt der „Jedermann“ nunmehr in Kaisersesch unter der Regie von Helmut Mattern. Die Zuschauer erleben einen reichen Kaufmann, der im Hier und Jetzt fest verankert ist und letztendlich nur an seinem Reichtum glaubt. Der Tod, Gott und das Jenseits sind in dieser Welt auf der Höhe seiner Schaffenskraft nicht relevant und er verdrängt diese Gedanken trotz vielfacher Mahnungen völlig. Verwirrt stellt er während eines großen Gelages mit vielen vermeintlichen Freunden fest, dass ihn der Tod plötzlich vor seinen Schöpfer zitieren will. Auf diesem schweren Weg möchte ihn niemand begleiten, weder aus Freundschaft, noch auf Befehl. Während Jedermann voller Verzweiflung in einen einsamen Tod geht, laben sich seine Freunde bereits an dessen irdischen Errungenschaften.
  </p>
  <p>
    Lassen Sie sich von der Neuinszenierung des Ensembles der Freilichtbühne am schiefen Turm in die Welt des reichen Jedermann entführen. Sehen Sie Laienschauspieler, die ihr Bestes geben, prächtige Kostüme, ein völlig neu gestaltetes Bühnenbild, lauschen Sie lustigen Trinkliedern und dunklen, mystischen Gesängen, sehen Sie anmutige Tänze und erleben Sie ein Gänsehautgefühl in dusteren Todesszenen.
    <br />Vergessen Sie Ihren Alltag und tauchen Sie für einen Abend in die faszinierende Welt des Theaters ein.
  </p>
  <h2>Besetzung</h2>
  <%= render "cast" %>
</div>
