<% title "Ladykillers" %>
<% include_css "ladykillers" %>
<% include_js "theater" %>
<%
@cast = [
  {
    name: "Mrs. Margaret Wilberforce",
    desc: "eine entzückende alte Lady",
    actors: ["Catrin Drogi"]
  },
  {
    name: "Prof. Marcus",
    desc: "ein undurchsichtiger Untermieter",
    actors: ["Gerd Röser"]
  },
  {
    name: "Dr. Courtenay",
    desc: "Doktor der Medizin, hat durch überreichlichen Alkoholgenuss seine Lizenz eingebüßt",
    actors: ["Dieter Stein"]
  },
  {
    name: "Willie Knoxton",
    desc: "ein gutmütiger, kräftiger Koloss",
    actors: ["Thomas Ellerich"]
  },
  {
    name: "Louis Harvey",
    desc: "ein harter Bursche mit viel krimineller Energie",
    actors: ["Stephan Hilken"]
  },
  {
    name: "Gwendolyn Livingstone",
    desc: "eine Freundin der Lady",
    actors: ["Maria Oster"]
  },
  {
    name: "Harriet Plimshead",
    desc: "noch eine Freundin der Lady",
    actors: ["Susanne Schubert"]
  },
  {
    name: "Adele Townsend",
    desc: "Nachbarin der Lady",
    actors: ["Michaela Venus"]
  },
  {
    name: "Griselda Cooke",
    desc: "noch eine Nachbarin der Lady",
    actors: ["Nina Lübke"]
  },
  {
    name: "Polizist 1",
    doubles: [
      {
        name: "Uli Hesse",
        dates: [0, 2, 3, 4, 5]
      },
      {
        name: "Otto Krechel",
        dates: [1]
      }
    ]
  },
  {
    name: "Polizist 2",
    actors: ["Werner Lutz"]
  },
  {
    name: "Special Guest",
    actors: ["David Davies"]
  }
]
%>
<div class="info">
  <p>
    Die Freilichtbühne am schiefen Turm präsentiert:
    <p class="hcen">
      <span class="highlight">„Ladykillers“</span> - Ein Theaterstück von Elke Körver und Maria Caleita
      <br />nach der Kriminalkomödie von William Rose
    </p>
  </p>
  <h2>Über das Stück</h2>
  <p>
    In einem nahezu friedlichen Idyll wohnt die alte Witwe Margaret Wilberforce. Sie fühlt sich in ihrem großen, in die Jahre gekommenen Haus alleine und sehnt sich nach einem Untermieter. Leider liegt ihr Haus an einer vielbefahrenen Bahnstrecke, weshalb es ihr bislang noch nicht geglückt ist, eines der leer stehenden Zimmer zu vermieten. Doch plötzlich taucht der verschrobene Professor Marcus auf und gibt sich von der Lage des Domizils und der bescheidenen Kammer vollkommen begeistert. Auch die alte Dame ist begeistert, denn der Professor kündigt an, mit seinen Freunden in dem Zimmer musizieren zu wollen.
  </p>
  <p>
    Freilich sind die Instrumente nur Tarnung und die Streichmusik ertönt lediglich von der Schallplatte. Gerne würde das Quartett auch seelenruhig seinen genialen Bankraub planen, wenn nicht die Witwe Wilberforce mit ihren überdrehten Freundinnen in übertriebener Fürsorge als Störfaktoren allgegenwärtig wären.
  </p>
  <p>
    Als sie dem Quartett schliesslich auf die Schliche kommt, bleibt den Ganoven nur ein Ausweg: Margaret Wilberforce muss weg. Von vielen Verwicklungen begleitet, türmen sich die Leichen auf der Bühne, doch ist auch die freundliche, alte Lady dabei?
  </p>
  <h2>Schwarzer Brit-Humor in Kaisersesch</h2>
  <p>
    Flankiert vom schiefen Kirchturm der St. Pankratius-Pfarrkirche, dem Alten Kino und dem barocken Prison, zeigen die Akteure im Historischen Ortskern von Kaisersesch schwarzen britischen Humor vom Feinsten. Spritzig und hintergründig inszeniert, mit Kostümen und Requisiten im englischen Stil, verspricht die diesjährige Produktion eine Kriminalkomödie der Extraklasse zu werden.
  </p>
  <p>
    Lassen Sie sich unter freiem Himmel Ihre Nerven und Lachmuskeln kitzeln, geniessen Sie schwarzen, britischen Humor und seien Sie gespannt auf den Ausgang des Stücks.
  </p>
  <h2>Besetzung</h2>
  <%= render "cast" %>
</div>
