<% title "Magdalena Himmelstürmerin – Sommernachtstheater – Luther 2017" %>
<% include_css "magdalena" %>
<% include_js "theater" %>
<%
@cast = [
  {
    name: "Magdalena Reinprecht",
    doubles: [
      {
        name: "Saskia Scharbach",
        dates: [0, 1]
      },
      {
        name: "Hannah Lehnen",
        dates: [2, 3]
      },
      {
        name: "Carla Wink",
        dates: [4, 5]
      }
    ]
  },
  {
    name: "Mutter Reinprecht",
    actors: ["Renate Schüller"]
  },
  {
    name: "Klaas Reinprecht",
    actors: ["Werner Lutz"]
  },
  {
    name: "Wendel Reinprecht",
    doubles: [
      {
        name: "Emil Johann",
        dates: [0, 1]
      },
      {
        name: "Tim Steffes",
        dates: [2, 3]
      },
      {
        name: "Frida Hartmann",
        dates: [4, 5]
      }
    ]
  },
  {
    name: "Vigo",
    actors: ["Thomas Ellerich"]
  },
  {
    name: "Rasso",
    actors: ["Morten Roscher"]
  },
  {
    name: "Naldo",
    actors: ["Stephan Hilken"]
  },
  {
    name: "Luna; Leo, der Affe",
    actors: ["Kirsten Roscher"]
  },
  {
    name: "Safi",
    actors: ["Michelle Sturz"]
  },
  {
    name: "Tetzel",
    actors: ["Gerd Röser"]
  },
  {
    name: "Elsbeth Wallmann",
    actors: ["Simone Spies"]
  },
  {
    name: "Student Sephus",
    actors: ["Jens Mindermann"]
  },
  {
    name: "Student Franz",
    actors: ["Lukas Franken"]
  },
  {
    name: "Jodokus Thyrlin",
    actors: ["Dieter Stein"]
  },
  {
    name: "Veit Thyrlin",
    actors: ["Markus Müller"]
  },
  {
    name: "Luther",
    actors: ["Karl-Heinz Lehner"]
  },
  {
    name: "Wachmann Bartel",
    doubles: [
      {
        name: "Josef Kreutz",
        dates: [0, 1, 4, 5]
      },
      {
        name: "Wilfried Bernauer",
        dates: [2, 3]
      }
    ]
  },
  {
    name: "Müntzer",
    actors: ["Stefan Gasser"]
  },
  {
    name: "Buchdrucker Heinze; Altgläubiger",
    actors: ["Otto Krechel"]
  },
  {
    name: "Weltuntergangs-Gertrudt",
    actors: ["Susanne Schubert"]
  },
  {
    name: "Reiche",
    actors: ["Magdalena Sturz"]
  },
  {
    name: "Knecht Heinze",
    actors: ["Noel Schönberg"]
  },
  {
    name: "Sohn des Feuerkünstlers",
    actors: ["Jakob Ellerich"]
  },
  {
    name: "Feuerkünstler",
    actors: ["Werner Lutz"]
  },
  {
    name: "Händler Getreide u. Nüsse",
    actors: ["Josef Kreutz"]
  },
  {
    name: "Händler Salben u. Tinkturen",
    actors: ["Wilfried Bernauer"]
  },
  {
    name: "Händlerin Kräuterhexe",
    actors: ["Gabi Bernauer"]
  },
  {
    name: "Stoffhändlerin",
    actors: ["Claudia Scholz"]
  },
  {
    name: "Edelsteinhändler",
    actors: ["Liam Scholz"]
  },
  {
    name: "Musiker",
    actors: ["Dorothea Kirsch", "Sabine Ziegler", "Annemarie Taßler"]
  },
  {
    name: "Bürger, Bergleute, Nonnen, Mönche, Bauern",
    doubles: [
      {
        name: "Uli Hesse",
        dates: [0, 1, 4, 5]
      },
      {
        name: "Gisela Lehner"
      },
      {
        name: "Liesel Hesse"
      },
      {
        name: "Maria Lehnen",
        dates: [0, 1, 2, 3]
      },
      {
        name: "Klara Steinkühler",
        dates: [0, 1, 2, 3, 4]
      },
      {
        name: "Renate Sommer",
        dates: [0, 2, 3, 4, 5]
      },
      {
        name: "Margit Fischer",
        dates: [0, 1, 2, 3, 5]
      },
      {
        name: "Monika Näckel",
        dates: [0, 2, 3, 4, 5]
      },
      {
        name: "Gerda Schnitzler",
        dates: [1, 2, 3, 4, 5]
      },
      {
        name: "Karlheinz Werr"
      },
      {
        name: "Heidrun Bretz",
        dates: [1, 4, 5]
      },
      {
        name: "Dr. Elke Koller",
        dates: [0, 1, 3, 4, 5]
      },
      {
        name: "Renate Reifenrath",
        dates: [0, 2, 3, 4, 5]
      },
      {
        name: "Karl-Heinz Steffes-enn",
        dates: [0, 1, 2, 3]
      },
      {
        name: "Rolf Heidorn",
        dates: [0, 1, 2, 3]
      }
    ]
  }
]
%>
<%= image_tag "theater/magdalena/luther2017.svg", alt: "Luther 2017 – 500 Jahre Reformation", class: "luther" %>
<div class="info">
  <h2>Über das Stück</h2>
  <p>
    Vor 500 Jahren veränderte sich die Welt dramatisch und unwiederbringlich: Gutenberg entwickelte die Buchdruckkunst, Kolumbus entdeckte Amerika und die revolutionären Gedanken Luthers traten von Deutschland aus ihren Siegeszug rund um den Globus an.
  </p>
  <p>
    Anlässlich des 500. Reformationsjubiläums präsentiert die Freilichtbühne am schiefen Turm e. V. „Magdalena Himmelstürmerin“ nach einem Roman aus der Lutherzeit von Rudolf Herfurtner. Das moderne deutsche Theaterstück erlebte vor wenigen Monaten seine umjubelte Uraufführung in München. Wir begleiten das blutjunge Mädchen Magdalena ein Stück auf seinem Lebensweg und erleben dadurch Geschichte: keinesfalls trocken oder belehrend, vielmehr als spannendes und pralles mittelalterliches Gemälde. So, wie die ganze Welt damals aus den Fugen geriet, erlebt auch sie in ihrer zunächst kleinen, überschaubaren Welt dramatische Entwicklungen und Umbrüche.
  </p>
  <p>
    Als Martin Luther seine 95 Thesen an der Schlosskirche zu Wittenberg anschlägt, ist Magdalena 14 Jahre alt.
    Bei einem Bergwerksunglück hatte sie zuvor Vater und Bruder verloren. Sie kommt daraufhin zu ihrer Tante nach Wittenberg und erlebt in dieser Stadt eine ganz neue Welt: eine Welt der Gläubigen und Ungläubigen, der Händler und Glaukler, der Räuber und Henker, der Weltuntergangsprediger und Aufklärer. Dort tritt sie auch die großen Gegenspieler ihrer Zeit Ablassprediger Tetzel und dessen standhaften Kritiker Luther.
  </p>
  <h2>Ein Historienspektakel</h2>
  <p>
    Erleben Sie in historischer Freilichtkulisse faszinierendes Theater, getragen vom engagierten Spiel der Kaisersescher Laienschauspieler. Weit mehr als 30 Darsteller lassen eindrucksvolle Szenen entstehen und die Kulissenbauer werden Wittenberg und die Schlosskirche vor dem Alten Kino auferstehen lassen. Für die Hauptrolle der Magdalena haben sich gleich drei unserer engagierten Nachwuchsschauspielerinnen gefunden und auch manch andere Rolle wird von unseren jugendlichen Talenten besetzt.
  </p>
  <p>
    Freuen Sie sich auf einen entspannten Theaterabend unter freiem Himmel. Reservierte Plätze, gepflegte Getränke und leckere Kleinigkeiten sorgen für einen entspannten Rahmen an allen Veranstaltungsabenden.
  </p>
  <h2>Besetzung</h2>
  <%= render "cast" %>
</div>
