- title 'Mit Abstand das Beste... – Sommernachtstheaterchen 2020'
- include_css 'mit_abstand'

.title
  = image_tag 'theater/mit_abstand/title.svg', alt: 'Mit Abstand das Beste...'

.info
  p Nach der Absage des jährlichen Sommernachtstheaters präsentieren die Aktiven der Freilichtbühne am schiefen Turm stattdessen das „Sommernachtstheaterchen“ 2020: <b>„Mit Abstand das Beste...“ – eine virale Satirerevue.</b>

  h2 Das Programm
  p „Viral“ – das trifft es ganz genau: durch das Virus verursacht. Das Programm ist zwar aus der Not geboren, aber es ist beileibe kein Notprogramm. Wir zeigen Ihnen eine knackige Nummernrevue mit bekannten Gedichten und Sketchen, aber auch einigen brandneuen Nummern aus eigener Feder. Das gut einstündige Programm beinhaltet tragikomische Szenen und besinnlich-heiter-boshafte Texte aus unserer verrückten Zeit, der Corona-Zeit.
  p Wir halten Abstand, wir beachten alle geltenden Hygienevorschriften, aber wir sind sicher: wir werden Sie berühren.

  h2 Besetzung
  ruby:
    cast = [
      {
        name: 'Darsteller',
        actors: ['Jakob Ellerich', 'Thomas Ellerich', 'Daniela Gödert', 'Emma Gödert', 'Nadine Gründer', 'Stephan Hilken', 'Nils Kollig', 'Walter Loreth', 'Sophie Meiers', 'Kirsten Roscher', 'Lotte Schäfer', 'Susanne Schubert', 'Michaela Venus', 'Jörg Wronka']
      },
      {
        name: 'Moderatoren',
        doubles: [
          {
            name: 'Maria Oster'
          },
          {
            name: 'Otto Krechel',
            dates: 0..1
          },
          {
            name: 'Albrecht Oster',
            dates: 2..5
          }
        ]
      },
    ]
  .cast = render 'cast', cast: cast
