<% title "Sommernachtstheater - Der Riese Phantasus" %>
<div style="position: relative; width: 80%; margin: auto;">
  <div style="text-align: center; margin: 10px; margin-bottom: 20px;">
    <strong style="font-size: 17px;">Sommernachtstheater 2009</strong>,
    <br />das waren 4 Aufführungen von
    <p><%= image_tag "theater/phantasus/logo.jpg", alt: "Der Riese Phantasus" %></p>
  </div>
  <div style="text-align: justify;">
    Ein bezauberndes, phantasie- und humorvolles Theaterstück für Kinder und Erwachsene, das Ihnen noch lange in Erinnerung bleiben wird.<br />
    Ein "echter" Riese, ein verzweifelter König, eine bemitleidenswerte Prinzessin, eine liebenswerte Hexe, zwei Spione und viele weitere phantasievolle Märchenwesen werden die Kinderherzen höher schlagen lassen und bei Erwachsenen Kindheitsträume wecken.<br />
  </div>
</div>
