<% title "Ein Sommernachtstraum – Sommernachtstheater 2018" %>
<% include_css "sommernachtstraum" %>
<% include_js "theater" %>
<div class="info">
  <h2>Über das Stück</h2>
  <p>
    Diese fantastische Liebeskomödie zählt zu den bekanntesten Werken Shakespeares, die auf allen Bühnen der Welt zu Hause ist und nun auch endlich ihren Weg auf die herrliche Freilichtbühne im Herzen von Kaisersesch findet.
  </p>
  <p>
    Zwar kann man die Finesse dieses ewig jungen Shakespeare- Klassikers nicht toppen, jedoch haben es Stephan Hilken als Regisseur und Kirsten Roscher als Dramaturgin geschafft, die Dialoge in einer modernen, spitzigeren und verständlicheren Sprache zu fassen. Das Verwirrspiel in der bunten, verzauberten Welt der Elfen und Kobolde kann beginnen: in einem magisch-verwunschenen Wald treffen liebestolle Herrscherpaare, verwirrte Liebende und ein Trupp biederer, schauspielernder Handwerker aufeinander. Der Kobold Puck zieht alle Register seiner Zauberkünste und stürzt so sämtliche Akteure in tiefste Gefühlswirrungen, bis kaum noch ein Ausweg aus der verfahrenen Situation in Sicht ist.
  </p>
  <p>
    Freuen Sie sich auf die „zauberhafte“ Lösung dieser Verstrickungen in unserem klassisch-unterhaltsamen Sommernachtstheater unter freiem Himmel. Erleben Sie im Schatten des schiefen Kirchturms von Kaisersesch einen unvergesslichen Abend.
  </p>
</div>
