div data-controller='photos' data-photos-vendor-stylesheet-paths-value=[asset_path('filepond.css'), asset_path('filepond-plugin-image-preview.css')].to_json data-photos-submit-path-value=(edit ? gallery_photo_path(@gallery) : gallery_photos_path(@gallery)) data-photos-is-edit-value=edit data-photos-max-position-value=@photos.maximum(:position)
  = form.file_field :image, class: 'filepond', multiple: !edit, data: { photos_target: 'filePond', accepted_file_types: 'image/png, image/jpeg, image/webp, image/heic, image/heif', label_idle: 'Dateien in dieses Feld ziehen oder <span class="filepond--label-action">durchsuchen</span>', label_file_processing_complete: 'vollständig hochgeladen', label_file_processing: 'lädt hoch', label_file_processing_aborted: 'Upload abgebrochen', label_file_processing_error: 'Fehler beim Upload' }
