div data-controller='photos' data-photos-photos-path=(edit ? gallery_photo_path(@gallery, @photo) : gallery_photos_path) data-photos-edit=edit
  = form.file_field :image, class: 'filepond', multiple: !edit, data: { target: 'photos.filePond', accepted_file_types: 'image/png, image/jpeg, image/webp', label_idle: 'Dateien in dieses Feld ziehen oder <span class="filepond--label-action">durchsuchen</span>', label_file_processing_complete: 'vollständig hochgeladen', label_file_processing: 'lädt hoch', label_file_processing_aborted: 'Upload abgebrochen', label_file_processing_error: 'Fehler beim Upload' }
