| leider müssen wir aufgrund von Coronainfektionen unter unseren Darstellern die Aufführungen von „Ein idealer Gatte“ am <b>22. und 23. Juli ausfallen lassen</b>.

p Als Ersatz haben wir eine <b>Zusatzaufführung am 31. Juli</b> organisieren können.

p Sie haben über folgenden Link die Möglichkeit die Tickets zu Ihrer <b>Bestellung #{@order.number}</b> auf einen der verbliebenen Termine umzubuchen oder zu stornieren:

p.buttons = link_to 'Tickets umbuchen / stornieren', overview_url

p Mit freundlichen Grüßen
