| wie wir Ihnen gestern bereits mitgeteilt haben, muss unser morgiges Konzert „One Night with ABBA“ aufgrund von Corona-Erkrankungen in der Band leider ausfallen.

p Ein Ersatztermin wurde nun gefunden: <b>15. April 2023 um 20 Uhr</b>.

p Ihre gebuchten Tickets behalten für den neuen Termin ihre Gültigkeit. Selbstverständlich haben Sie auch jederzeit die Möglichkeit, Ihre Tickets zu stornieren und den vollen Kaufbetrag zurückzuerhalten. Klicken Sie dazu bitte #{link_to 'hier', overview_url}.

p Wir möchten uns noch einmal für die entstandenen Unannehmlichkeiten entschuldigen und hoffen Sie im April bei unserem Konzert begrüßen zu dürfen.

p Mit freundlichen Grüßen
