| nicht nur die großen Bühnen in aller Welt spüren die Auswirkungen der Corona-Pandemie, sondern auch die kleinen vor Ort. <b>Auch wir müssen daher unsere Aufführungen von „Der Gott des Gemetzels“ in dieser Woche leider absagen.</b>

p <b>Selbstverständlich wird Ihnen der Kaufpreis aus Ihrer Ticketbestellung #{@order.number} vom #{l(@order.created_at, format: '%d.%m.%Y')} erstattet</b>. Bitte klicken Sie dazu auf den Button und folgen den Anweisungen. Sollten Sie noch weitere Bestellungen aufgegeben haben, führen Sie dies bitte auch für diese durch.

p.buttons = link_to 'Kaufpreis erstatten', overview_url

p Mit freundlichen Grüßen
