.alert {
  @extend .d-flex;
  @extend .mb-2;
  @extend .shadow;
  align-items: center;
  padding: .75rem 1rem;
  background: var(--alert-bg-color);
  color: var(--alert-fg-color);

  &.alert-notice {
    --alert-bg-color: #{lighten($green, 20%)};
    --alert-fg-color: #{darken($green, 40%)};
  }

  &.alert-warning {
    --alert-bg-color: #{lighten(yellow, 20%)};
    --alert-fg-color: #{darken(yellow, 40%)};
  }

  &.alert-alert {
    --alert-bg-color: #{lighten($red, 20%)};
    --alert-fg-color: #{darken($red, 40%)};
  }

  svg {
    @extend .me-1;
    width: 1rem;
    height: 1rem;
    fill: var(--alert-fg-color);
  }
}
