:root {
  --dynamic-color-0: #9FF3C6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: var(--topbar-total-height);
}

body {
  @extend .ff-m;
  @extend .m-0;
  font-size: $font-size-base;
  color: $black;
  background: $body-bg;
  min-width: 300px;
}

h1, h2, h3 {
  @extend .my-2;
  @extend .text-center;
  word-wrap: break-word;
}

h1 {
  @extend .f-lbi;
  font-size: .75rem * $heading-size-multiplier * $heading-size-multiplier * $heading-size-multiplier;
}

h2 {
  @extend .f-li;
  font-size: .75rem * $heading-size-multiplier * $heading-size-multiplier;
  font-weight: 400;
}

h3 {
  @extend .f-mb;
  font-size: .75rem * $heading-size-multiplier;
}

p {
  @extend .mt-0;
  @extend .mb-2;
  line-height: 1.4;
}

a {
  color: $cta-color;
  text-decoration: none;
  transition: color .3s;

  &:hover {
    color: $cta-color-hover;
  }

  &:active {
    color: $cta-color-active;
  }
}

hr {
  border: 0;
  height: 4px;
  background-image: url('data:image/svg+xml,%3csvg width="100%25" height="100%25" xmlns="http://www.w3.org/2000/svg"%3e%3crect width="100%25" height="200%25" fill="none" stroke="black" stroke-width="4" y="2" stroke-dasharray="3%2c8" stroke-linecap="round"/%3e%3c/svg%3e');
}

ul, ol {
  @extend .mt-0;

  &.spaced {
    @extend .mb-2;

    > li {
      @extend .mb-2;
    }

    > ul, ol {
      @extend .mb-0;

      > li:first-child {
        @extend .mt-2;
      }
    }
  }

  &.style-none {
    @extend .list-style-none;
  }
}

ol {
  &, &.digits {
    list-style-type: decimal;
  }

  &.letters {
    list-style-type: lower-alpha;
  }
}

table {
  @extend .w-100;
  border-spacing: 0;

  th, td {
    @extend .p-1;
    vertical-align: top;
    border-collapse: collapse;
    border-bottom: 1px solid $semi-gray;
  }

  tbody {
    &.hover tr:hover td {
      filter: brightness(97%);
      cursor: pointer;
    }

    th {
      border-bottom-width: 2px;
    }

    tr:nth-of-type(even) td {
      background: #F9F9F9;
    }

    tr:nth-of-type(odd) td {
      background: $white;
    }

    tr:last-child td {
      border-bottom-width: 0;
    }
  }
}

.table-responsive {
  overflow-x: auto;
}

.caption {
  @extend .f-lbi;
  font-size: 1rem / $heading-size-multiplier;
}

.text-green {
  color: $green;
}

.text-red {
  color: $red;
}

.text-gray {
  color: $dark-gray;
}

.shadow {
  box-shadow: 0 0 13px 0 rgba($black, 0.23);
}

.border-b {
  border-bottom: 1px solid $black;
}

.plane {
  *:first-child {
    @extend .mt-0;
  }

  *:last-child {
    @extend .mb-0;
  }

  ~ .caption {
    @extend .pt-2, .pe-1;
    @extend .text-end;
  }
}

.card {
  @extend .plane;
  @extend .p-2;
  background: $white;
}

.icon {
  width: 1rem;
  height: 1rem;

  a:not(.btn) & {
    fill: $cta-color;

    &:hover {
      fill: $cta-color-hover;
    }

    &:active {
      fill: $cta-color-active;
    }
  }
}

.list-style-none {
  @extend .m-0;
  @extend .p-0;
  list-style: none;
}

@include media-query(md) {
  html {
    font-size: 20px;
  }
}
