*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: var(--topbar-total-height);
}

body {
  @extend .ff-m;
  @extend %m-0;
  font-size: $font-size-base;
  color: var(--body-color);
  background: var(--body-bg);
  min-width: 300px;
}

h1, h2, h3 {
  @extend %my-2;
  @extend %text-center;
}

h1, h2, h3, h4 {
  word-wrap: break-word;
}

h1 {
  @extend .f-lbi;
  font-size: .75rem * $heading-size-multiplier * $heading-size-multiplier * $heading-size-multiplier;
}

h2 {
  @extend .f-li;
  font-size: .75rem * $heading-size-multiplier * $heading-size-multiplier;
  font-weight: 400;
}

h3 {
  @extend .f-mb;
  font-size: .75rem * $heading-size-multiplier;
}

h4 {
  @extend %mt-2;
  @extend %mb-1;
}

small, .small {
  font-size: .75rem;
}

p {
  @extend %mt-0;
  @extend %mb-2;
  line-height: 1.4;
}

a {
  color: $cta-color;
  text-decoration: none;
  transition: color .3s;

  &:hover {
    color: $cta-color-hover;
  }

  &:active {
    color: $cta-color-active;
  }
}

hr {
  border: 0;
  height: 4px;
  background-image: url('data:image/svg+xml,%3csvg width="100%25" height="100%25" xmlns="http://www.w3.org/2000/svg"%3e%3crect width="100%25" height="200%25" fill="none" stroke="black" stroke-width="4" y="2" stroke-dasharray="3%2c8" stroke-linecap="round"/%3e%3c/svg%3e');
}

ul, ol {
  @extend %mt-0;

  &.spaced {
    @extend %mb-2;

    > li {
      @extend %mb-2;
    }

    > ul, ol {
      @extend %mb-0;

      > li:first-child {
        @extend %mt-2;
      }
    }
  }

  &.style-none {
    @extend .list-style-none;
  }
}

ol {
  &, &.digits {
    list-style-type: decimal;
  }

  &.letters {
    list-style-type: lower-alpha;
  }
}

table {
  @extend %w-100;
  border-spacing: 0;

  th, td {
    @extend %p-1;
    vertical-align: top;
    border-collapse: collapse;
    border-bottom: 1px solid $semi-gray;
  }

  thead {
    th, td {
      border-bottom-width: 2px;
    }
  }

  tfoot {
    th, td {
      border-top: 2px solid $semi-gray;
    }
  }

  tbody {
    &.hover tr:hover td {
      filter: brightness(97%);
      cursor: pointer;
    }

    tr:nth-of-type(even) {
      th, td {
        background: var(--table-bg-even);
      }
    }

    tr:nth-of-type(odd) {
      th, td {
        background: var(--table-bg-odd);
      }
    }
  }

  tbody, tfoot {
    tr:last-child {
      th, td {
        border-bottom-width: 0;
      }
    }

    th[scope='row'] {
      @extend %text-start;
    }
  }
}

figure:has(blockquote) {
  @extend %m-0;
  @extend .card;
}

blockquote {
  @extend %m-0;
  @extend %mb-1;
  @extend %ps-2;
  font-size: 1.15rem;
  border-left: 2px solid var(--body-color);

  ~ figcaption {
    font-size: .875em;
    color: var(--secondary-body-color);

    &::before {
      content: '— ';
    }
  }
}

iframe {
  border: 0;
}

.table-responsive {
  overflow-x: auto;
}

.caption {
  @extend .f-lbi;
  font-size: 1rem / $heading-size-multiplier;
}

@each $name, $color in $text-colors {
  .text-#{$name} {
    color: $color;
  }
}

.text-body-secondary {
  color: var(--secondary-body-color);
}

.text-nowrap {
  white-space: nowrap;
}

.shadow {
  box-shadow: 0 0 13px 0 rgba($black, 0.23);
}

.border-b {
  border-bottom: 1px solid $black;
}

.bg-primary {
  background: var(--body-bg);
}

.plane {
  > *:first-child {
    @extend %mt-0;
  }

  > *:last-child, div > p:last-child {
    @extend %mb-0;
  }

  ~ .caption {
    @extend %pt-2, %pe-1;
    @extend %text-end;
  }
}

.card {
  @extend .plane;
  @extend %p-2;
  background: var(--card-bg);
}

.force-bright-bg {
  background: $light-gray;
}

.list-style-none {
  @extend %m-0;
  @extend %p-0;
  list-style: none;
}

.color-disk {
  @extend %d-inline-block;
  @extend %me-1;
  border: 1px solid darken($light-gray, 10%);
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
}

dl {
  dt {
    @extend .f-lbi;
  }

  dd {
    @extend %ms-0;
    margin-bottom: .5rem;
  }
}

.sortable-handle {
  cursor: move;
}

.slidable {
  max-height: 0px;
  transition: max-height .5s;

  &.visible {
    max-height: inherit !important;
  }

  &:not(.visible) {
    overflow-y: hidden;
  }
}

@include media-query(md) {
  html {
    font-size: 20px;
  }

  dl.md-horizontal {
    display: flex;
    flex-wrap: wrap;

    dd, dt {
      width: 50%;
      padding: 0 .5rem;
    }

    dt {
      text-align: right;
    }
  }
}
