table.billing-log {
  .log {
    tr:last-child td {
      border-top: 2px solid #ccc;
      font-weight: bold;
    }

    tr td {
      text-align: left;

      &:last-child {
        text-align: right;
      }

      &.positive {
        color: green;
      }

      &.negative {
        color: red;
      }
    }
  }

  .actions {
    text-align: center;
  }

  tbody:last-child {
    input[type=text] {
      width: 50px;
    }
  }
}
