.carousel {
  @extend %d-flex;
  @extend %align-items-end;
  @extend %justify-content-center;
  position: relative;
  height: 75vh;
  overflow: hidden;

  $carousel-transition-duration: 2s;

  &:empty {
    @extend %d-none;
  }

  .photo {
    position: absolute;
    transform: translateX(100%);

    &, img {
      @extend %w-100, %h-100;
      object-fit: cover;
      object-position: center 20%;
    }

    &.active {
      transform: translateX(0%);
    }

    &.out {
      transform: translateX(-100%);
    }

    &.active, &.out {
      transition: transform $carousel-transition-duration cubic-bezier(0.65, 0, 0.35, 1);
    }
  }

  .title {
    @extend %d-block;
    @extend %p-2;
    @extend %w-100;
    @extend %text-center;
    position: absolute;
    bottom: 0;
    transition: opacity $carousel-transition-duration * 0.5, transform $carousel-transition-duration * 0.8 cubic-bezier(0.33, 1, 0.68, 1);
    transform: rotateY(0deg); // Safari jitter workaround

    &:not(.active) {
      opacity: 0;
      pointer-events: none;
      transform: translateY(100%);
    }

    &:hover a > * {
      transform: scale(1.02) rotateY(0deg);
    }

    &:active a svg * {
      stroke: $cta-color-active;
    }

    &.outline-sm svg * {
      stroke-width: .15% !important;
    }

    a > * {
      transition: transform .3s;
    }

    svg * {
      fill: $white !important;
      stroke: $black !important;
      stroke-width: .3% !important;
      transition: stroke .2s;
    }

    h1 {
      $outline-width: .5px;
      @extend %mb-0;
      font-size: 2rem;
      color: $white;
      text-shadow: (-$outline-width) (-$outline-width) 0 $black,
                   $outline-width (-$outline-width) 0 $black,
                   (-$outline-width) $outline-width 0 $black,
                   $outline-width $outline-width 0 $black;
    }
  }
}

@include media-query(sm) {
  .carousel .title {
    padding-bottom: spacing(3);
  }
}

@include media-query(md) {
  .carousel .title svg {
    width: 60%;
  }
}

@include media-query(lg) {
  .carousel .title svg {
    width: 40%;
  }
}
