.event-header {
  @extend .carousel;
  height: 60vh;

  .title {
    h1 {
      color: $white;
    }

    @include media-query(md) {
      width: 80%;
    }

    @include media-query(lg) {
      width: 60%;
    }
  }
}

.event-logo {
  svg * {
    fill: var(--body-color) !important;
    stroke: none !important;
  }

  a & svg * {
    fill: $cta-color !important;
    transition: fill .3s;
  }

  a:hover & svg * {
    fill: $cta-color-hover !important;
  }

  a:active & svg * {
    fill: $cta-color-active !important;
  }
}

.info-cards {
  @extend %d-flex;
  @extend %flex-column;
  gap: 1rem;

  dl {
    @extend %my-0;
  }

  i {
    @extend %me-1;
  }

  @include media-query(sm) {
    dl {
      display: flex;
      flex-wrap: wrap;
    }

    dd, dt {
      width: 50%;
    }
  }
}

.cast {
  $border: 1px dashed $semi-gray;

  h3, .actors {
    @extend .f-li;
  }

  h3 {
    @extend %text-start;

    + .entry {
      border-top: $border;
    }
  }

  .entry {
    border-bottom: $border;
  }

  [data-controller='content-reveal'].transitioning .doubles,
  [data-controller='content-reveal'].revealed .doubles {
    border-top: $border;
  }

  .doubles {
    @extend .f-lbi;
    overflow-x: hidden;

    .col-6 {
      @extend %py-1, %ps-3;
    }
  }
}

#faq [data-controller='content-reveal'] {
  @extend %mb-2;

  &.revealed {
    [data-action='content-reveal#reveal'] {
      font-weight: 500;
    }

    [data-content-reveal-target='content'] {
      @extend %mt-1;
    }
  }
}
