.event-header {
  @extend .carousel;
  height: 60vh;

  .title {
    @include media-query(md) {
      width: 80%;
    }

    @include media-query(lg) {
      width: 60%;
    }
  }
}

.cast {
  $border: 1px dashed $semi-gray;

  h3 {
    @extend .f-li;
    @extend .text-start;

    + .row {
      border-top: $border;
    }
  }

  .row {
    border-bottom: $border;

    > *:last-child {
      @extend .ff-l;
      @extend .text-end;
    }
  }
}

[data-controller='content-reveal'] {
  @extend .mb-2;

  &.revealed {
    .reveal-trigger {
      font-weight: 500;
    }

    .revealed-content {
      @extend .mt-1;
    }
  }

  .reveal-trigger {
    cursor: pointer;
  }

  .revealed-content {
    max-height: 0px;
    overflow-y: hidden;
    transition: max-height .5s, margin-top .5s;
  }
}

[data-controller='map'] {
  .map {
    min-height: 300px;
    max-height: 60vh;
  }

  .mapboxgl-map {
    @extend .ff-m;
  }

  .mapboxgl-popup-content {
    @extend .p-2;
    @extend .text-center;
    @extend .shadow;
    border-radius: 0;

    h1, h2, h3 {
      @extend .mt-0;
      @extend .mb-1;
    }
  }

  .mapboxgl-marker {
    cursor: pointer;

    &.parking::before {
      position: relative;
      content: 'P';
      font-size: 20px;
      font-weight: bold;
      color: #0869ed;
    }
  }
}
