.event-header {
  @extend .carousel;
  height: 60vh;
}

.cast {
  $border: 1px dashed $semi-gray;

  h3 {
    @extend .f-li;
    @extend .text-start;

    + .row {
      border-top: $border;
    }
  }

  .row {
    border-bottom: $border;

    > *:last-child {
      @extend .ff-l;
      @extend .text-end;
    }
  }
}

[data-controller='content-reveal'] {
  @extend .mb-2;

  &.revealed {
    .reveal-trigger {
      font-weight: 500;
    }

    .revealed-content {
      @extend .mt-1;
    }
  }

  .reveal-trigger {
    cursor: pointer;
  }

  .revealed-content {
    max-height: 0px;
    overflow-y: hidden;
    transition: max-height .5s, margin-top .5s;
  }
}
