footer {
  @extend .mt-2;
  @extend .py-2;
  background: var(--dynamic-color-0);

  ul {
    @extend %d-flex;
    @extend %justify-content-center;
    @extend .ff-l;
    @extend .list-style-none;
    @extend %black-links;
    gap: spacing(1) spacing(2);
    flex-wrap: wrap;
  }
}
