label {
  @extend .mb-1;
  @extend %d-inline-block;
}

input[type=text],
input[type=email],
input[type=password],
input[type=tel],
input[type=number],
input[type=file],
input[type=date],
input[type=time],
input[type=datetime-local],
input[type=checkbox],
input[type=radio],
textarea,
select {
  border: 1px solid darken($light-gray, 10%);
  border-radius: 0;
  appearance: none;

  &:focus {
    outline: 0;
    box-shadow: 0 0 13px .25rem rgba($cta-color-hover, .25);
  }
}

input[type=text],
input[type=email],
input[type=password],
input[type=tel],
input[type=number],
input[type=file],
input[type=date],
input[type=time],
input[type=datetime-local],
textarea,
select {
  @extend %d-block;
  @extend .w-100;
  padding: $input-padding-y $input-padding-x;
  font-size: 1rem;
  line-height: 1.5;
  color: $black;
  transition: box-shadow .15s;

  &:disabled {
    background-color: $light-gray;
  }

  .was-validated &:invalid {
    border-color: darken($red, 25%);
  }
}

input[type=date],
input[type=time],
input[type=datetime-local] {
  // fix for Safari bottom padding
  @extend %d-flex;
}

input[type=file] {
  overflow: hidden;

  &:not(:disabled):not([readonly]) {
    cursor: pointer;
  }

  &::file-selector-button {
    @extend %btn-basic;
    margin: (-$input-padding-y) (-$input-padding-x);
    margin-inline-end: 1rem;
    pointer-events: none;
  }
}

textarea {
  min-height: 6rem;
  resize: vertical;

  &.honeypot {
    @extend .p-0;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
}

abbr[title] {
  cursor: help;

  &.required {
    color: $red;
  }
}

.form-text, .invalid-feedback {
  margin-top: .25rem;
  font-size: .75em;
}

.form-text {
  color: $dark-gray;
}

.invalid-feedback {
  @extend %d-none;
  @extend .w-100;
  color: darken($red, 25%);

  .was-validated :invalid ~ & {
    @extend %d-block;
  }
}

.form-check {
  @extend %d-block;
  min-height: 1.5rem;
  padding-left: 1.5rem;

  input[type=checkbox],
  input[type=radio] {
    float: left;
    width: 1rem;
    height: 1rem;
    margin-left: -1.5rem;
    margin-top: .1rem;
    vertical-align: top;
    background-color: $white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &:not(:disabled):active {
      filter: brightness(90%);
    }

    &:checked {
      background-color: $red;
      border-color: $red;
    }

    &:disabled, &:disabled ~ label {
      opacity: .4;
    }
  }

  input[type=checkbox]:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
  }

  input[type=radio] {
    border-radius: 50%;

    &:checked {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
    }
  }
}

select {
  background-color: $white;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right .5rem center;
  background-size: 16px 12px;
}

%btn-basic {
  @extend .f-lbi;
  @extend .py-1, .px-2;
  border: 0;
  font-size: 1rem;
  background: $cta-color;
  transition: background .3s;

  &, &:hover {
    color: $white;
  }

  &:hover {
    color: $white;
    background: $cta-color-hover;
  }

  &:active {
    background: $cta-color-active;
  }

  &:disabled {
    pointer-events: none;
    background: rgba($dark-gray, .3);
  }
}

.btn {
  @extend %btn-basic;
  @extend %d-inline-block;
  @extend %text-center;
  @extend .shadow;
  cursor: pointer;
  border-radius: 0; // for Safari iOS

  &.btn-sm {
    padding: spacing(1) / 2 spacing(1);
    font-size: .75rem;
  }

  svg {
    fill: $white;
    width: 1rem;
    height: 1rem;
    vertical-align: -.125em;
    margin-right: .25rem;
  }
}
