.gallery {
  .row {
    @extend .align-items-stretch;

    [class^='col-'] {
      @extend %d-flex;
      flex-direction: column;
      row-gap: 1rem;

      .photo {
        overflow: hidden;

        &, picture, img {
          @extend .w-100;
          height: 100%;
        }

        picture, img {
          @extend %d-block;
          object-fit: cover;
          transition: transform .3s;

          &:hover {
            transform: scale(1.02);
            cursor: pointer;
          }
        }
      }
    }
  }
}
