:root {
  --topbar-logo-height: #{$top-bar-initial-logo-height};
  --topbar-total-height: #{$top-bar-initial-logo-height + $top-bar-initial-padding * 2};

  &.top-bar-stuck {
    --topbar-logo-height: #{$top-bar-stuck-logo-height};
    --topbar-total-height: #{$top-bar-stuck-logo-height};
  }
}

header {
  position: sticky;
  top: 0;
  background: var(--dynamic-color-0);
  transition: padding $top-bar-stuck-transition-duration;

  .container {
    @extend %d-flex;
    @extend .align-items-center;
  }

  .menu-toggle {
    width: $top-bar-stuck-logo-height;
    height: $top-bar-stuck-logo-height;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background: $cta-color;
    position: relative;
    cursor: pointer;
    transition: transform $menu-reveal-duration, background .3s;

    &:after {
      @extend .ff-l;
      @extend .text-center;
      position: absolute;
      content: '...';
      color: $white;
      font-size: 2rem;
      width: 100%;
      margin-top: -10px;
    }

    &:hover {
      background: $cta-color-hover;
    }

    &:active, .menu-active & {
      background: $cta-color-active;
    }

    .menu-active & {
      transform: rotate(90deg);
    }
  }

  .logo {
    @extend .text-center;
    flex: 1;

    svg {
      @extend %d-inline-block;
      @extend .p-1;
      max-height: var(--topbar-logo-height);
      width: auto;
      transition: max-height $top-bar-stuck-transition-duration;

      @for $i from 1 through 4 {
        g:nth-of-type(#{$i}) * {
          fill: var(--dynamic-color-#{$i}) !important;
        }
      }

      g:nth-of-type(4) * {
        transform-box: fill-box;
        transform-origin: center;
        animation: rotate-diamond 1s;
      }

      @keyframes rotate-diamond {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(-180deg);
        }
      }
    }
  }
}

.sticky-helper {
  height: 0;
}

.container.nav {
  position: relative;
}

header, .container.nav {
  z-index: 10;
}

nav {
  position: fixed;
  width: 100%;
  height: 0;
  max-height: calc(100vh - var(--topbar-total-height));
  overflow-y: auto;
  scrollbar-width: none;
  background: $white;
  transition: height $menu-reveal-duration;

  &::-webkit-scrollbar {
    @extend %d-none;
  }

  ul {
    @extend .list-style-none;
    @extend .f-li;
  }

  > ul {
    @extend .py-1, .px-2;
    @extend %black-links;
    font-size: 2rem;
    font-weight: 400;

    li > ul {
      @extend .py-0, .px-2;

      li {
        padding-bottom: .25rem;
        font-size: 1rem;
      }
    }
  }
}

@include media-query(sm) {
  header .container, .container.nav {
    padding: spacing(0);
  }

  .menu-active nav {
    height: 100vh !important;
  }
}

@include media-query(md) {
  header {
    :root:not(.top-bar-stuck) & {
      padding: $top-bar-initial-padding 0;
    }

    .menu-toggle:after {
      margin-top: -12px;
    }
  }

  nav {
    width: auto;
  }
}
