$bootstrap-icons-font: 'Bootstrap Icons';
$bootstrap-icons-map: (
  'arrow-clockwise': '\f116',
  'bell-fill': '\f189',
  'book': '\f194',
  'box-arrow-up-right': '\f1c5',
  'calendar-week-fill': '\f1f2',
  'check-circle-fill': '\f26a',
  'chevron-right': '\f285',
  'clipboard2-check': '\f725',
  'clipboard2-x': '\f732',
  'clock-fill': '\f291',
  'cloud-arrow-down-fill': '\f294',
  'door-open-fill': '\f307',
  'exclamation-triangle-fill': '\f33a',
  'file-post': '\f3ad',
  'geo-alt-fill': '\f3e7',
  'google': '\f3f0',
  'hand-index-thumb': '\f402',
  'info-circle-fill': '\f430',
  'key-fill': '\f44e',
  'megaphone-fill': '\f483',
  'pencil-fill': '\f4c9',
  'plus-circle-fill': '\f4f9',
  'p-circle-fill': '\f804',
  'search': '\f52a',
  'shuffle': '\f544',
  'telephone': '\f5c1',
  'ticket-detailed': '\f6c7',
  'trash3-fill': '\f78a',
  'x-octagon-fill': '\f626',
);

@include font-face($bootstrap-icons-font, normal, normal, 'bootstrap-icons', block);

.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
  @extend %d-inline-block;
  font-family: $bootstrap-icons-font;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@each $icon, $codepoint in $bootstrap-icons-map {
  .bi-#{$icon}::before {
    content: $codepoint;
  }
}
