@mixin font-face($family, $style, $weight, $filename) {
  @font-face {
    font-display: swap;
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    src: url(asset_path('#{$filename}.woff2')) format('woff2'),
         url(asset_path('#{$filename}.woff')) format('woff');
  }
}

@mixin media-query($size) {
  @media (map-get($media-queries, $size)) {
    @content;
  }
}

@mixin all-media-queries() {
  @each $size in map-keys($media-queries) {
    @include media-query($size) {
      @content($size);
    }
  }
}

%black-links {
  a:not(:hover, :active) {
    color: $black;
  }
}
