$faint-blue: #d7f1fb;
$light-blue: #aae7ff;
$dark-blue: #216bed;

@mixin font-face($name) {
  @font-face {
    font-family: "#{$name}";
    src: url(asset_path("#{$name}.woff")) format('woff');
  }
}
