.page-nav {
  @extend .text-center;
  position: sticky;
  top: $top-bar-stuck-logo-height;
  padding: .75rem 0;
  box-shadow: 0 2px 10px rgba($black, 0.07);
  background: $body-bg;
  z-index: 9;

  ul {
    @extend %d-flex;
    @extend .justify-content-center;
    @extend .ff-l;
    @extend .list-style-none;
    @extend %black-links;
    gap: spacing(1);

    li {
      &.active {
        @extend .f-lbi;
      }
    }
  }
}

.page-nav-anchor {
  scroll-margin-top: 2.5rem;
}

@include media-query(md) {
  .page-nav ul {
    gap: spacing(2);
  }
}
