.schedule {
  &:not(.schedule-sm) .row > *:nth-child(1) {
    @extend %text-center;
    @extend .text-red;
  }

  .row {
    @extend %d-flex;
    @extend %align-items-center;
    font-size: .75rem;

    > * {
      @extend %py-0;
    }

    .day, .year {
      @extend .f-li;
      font-weight: 700;
      line-height: .9;
    }

    .day {
      font-size: 2.5rem;
    }

    .year {
      font-size: 1.75rem;
    }

    .date {
      @extend %text-start;
      @extend .f-lbi;
      color: $black;
      font-size: 1.2rem;
    }

    .info {
      @extend %d-flex;
      flex-wrap: wrap;
      column-gap: spacing(2);

      .segment {
        @extend %d-flex;
        @extend %align-items-center;

        &.location svg {
          margin-right: 3px;
        }

        svg {
          height: .75rem;
          width: .75rem;
          margin-right: 5px;
        }
      }
    }

    .title {
      @extend .f-mb;
      @extend %m-0;
      @extend %black-links;
      font-size: 1.25rem;

      @include media-query(md) {
        font-size: 1rem * $heading-size-multiplier;
      }
    }

    > *:nth-child(3) {
      @extend %text-center;

      @include media-query(sm) {
        .btn {
          width: 100%;
          margin-top: spacing(2);
        }
      }
    }
  }
}
