.schedule, .archive {
  &, .tickets {
    position: relative;
  }

  &.cancelled {
    &, a {
      color: $semi-gray !important;
    }
  }

  &.schedule-sm {
    .date {
      @extend %d-block;
      @extend .justify-content-start;
      font-size: 1.2rem;
    }

    .cancelled {
      text-decoration: line-through;
    }
  }

  &:not(.schedule-sm) .row > *:nth-child(1) {
    @extend %text-end;
    @extend .text-red;
  }

  &.archive {
    .date {
      @extend %flex-column;
    }
  }

  &.archive-sm {
    .title {
      @include media-query(md) {
        font-size: 1.25rem;
      }
    }
  }

  .row {
    @extend %d-flex;
    @extend %align-items-center;
    font-size: .75rem;

    > * {
      @extend %py-0;
    }

    > *:nth-child(3) {
      @extend %text-center;

      @include media-query(sm) {
        .btn {
          width: 100%;
          margin-top: spacing(2);
        }
      }
    }
  }

  .date .day, .year {
    line-height: .9;
  }

  .date {
    @extend %d-flex;
    @extend %align-items-end;
    @extend %flex-column;
    @extend .f-lbi;

    .day {
      font-size: 2.5rem;
    }

    @include media-query(md) {
      justify-content: end;
      flex-direction: row-reverse;

      .day {
        padding-left: 5px;
      }
    }
  }

  .year {
    font-size: 1.75rem;
  }

  .info {
    @extend %d-flex;
    @extend %flex-wrap;
    column-gap: spacing(2);

    .segment {
      @extend %d-flex;
      @extend %align-items-center;

      &.location i {
        margin-right: 3px;
      }

      i {
        margin-right: 5px;
      }
    }
  }

  .title {
    @extend .f-mb;
    @extend %m-0;
    @extend %black-links;
    font-size: 1.25rem;

    @include media-query(md) {
      font-size: 1rem * $heading-size-multiplier;
    }
  }

  .tickets.col-4 .btn {
    font-size: calc(min(1rem, 3vw)); // calc -> workaround for SassC complaining about min
  }

  .cancelled-banner {
    @extend .f-lbi;
    @extend %text-center;
    @extend %py-1;
    position: absolute;
    top: 50%;
    left: 50%;
    background: $red;
    color: $white;
    transform: translate(-50%, -50%) rotate(-10deg);
  }

  .cancelled-banner {
    @extend %px-3;
    font-size: 1.3rem;
  }
}
