.schedule {
  .row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: .75rem;

    > * {
      @extend .py-0;
    }

    > *:nth-child(1) {
      @extend .text-center;
      @extend .text-red;

      .day {
        @extend .f-li;
        @extend .m-0;
        font-size: 2.5rem;
        font-weight: 700;
        margin-top: -(spacing(1));
        margin-bottom: -(spacing(1));
      }
    }

    > *:nth-child(2) {
      .info {
        @extend .d-flex;
        flex-wrap: wrap;
        column-gap: spacing(2);

        svg {
          height: 13px;
          width: auto;
          padding-right: 4px;
        }
      }

      .title {
        @extend .f-mb;
        @extend .m-0;
        font-size: 1.25rem;
      }
    }

    > *:nth-child(3) {
      @extend .text-center;

      @include media-query(sm) {
        button {
          width: 100%;
          margin-top: spacing(2);
        }
      }
    }
  }
}

.archive {
  @extend .schedule;
}
