.seating {
	position: relative;
	height: 400px;
	box-shadow: inset 0px 0px 8px #cccccc;
}

.tickets_seat {
	position: absolute;
	width: 18px;
	height: 16.5px;
	border: 1px solid #cccccc;
	font-size: 12px;
	text-align: center;
	color: white;
	text-shadow: 0px 0px 3px black;
	padding-top: 2.5px;
}