.seating {
	position: relative;
	height: 400px;
	box-shadow: inset 0px 0px 8px #cccccc;
  
  .ticketing_seat {
    cursor: pointer;
  }
  
  &.selectable {
    .ticketing_seat {
      &.selected {
        border-color: red;
      }
    }
  }
  
  &.draggable:not(.selecting) {
    .ticketing_seat {
      cursor: move;
    }
  }
}

.ticketing_seat {
	position: absolute;
	border: 1px solid #cccccc;
	font-size: 12px;
	text-align: center;
	color: white;
	text-shadow: 0px 0px 3px black;
  background: black;
  width: 15px;
  height: 15px;
  
  &.available {
		background: green;
  }

	&.taken {
    cursor: auto;
		background: red;
	}
  
  &.reserved {
    background: orange;
  }
}