@mixin utility-class($selector, $properties, $value, $placeholder: true) {
  @if $placeholder {
    %#{$selector} {
      @each $property in $properties {
        #{$property}: #{$value};
      }
    }
  }

  .#{$selector} {
    @each $property in $properties {
      #{$property}: #{$value} !important;
    }
  }
}

@mixin utility-set($prefix, $property, $mappings, $size-classes: false) {
  @each $suffix, $value in $mappings {
    $value: if($value, $value, $suffix);
    @include utility-class(#{$prefix}-#{$suffix}, $property, $value);
  }

  @if $size-classes {
    @include all-media-queries() using ($size) {
      @each $suffix, $value in $mappings {
        $value: if($value, $value, $suffix);
        @include utility-class(#{$prefix}-#{$size}-#{$suffix}, $property, $value, false);
      }
    }
  }
}

@include utility-set(fw, font-weight, (bold), true);
@include utility-set(text, text-align, (start: left, center: center, end: right), true);
@include utility-set(d, display, (block, inline, inline-block, flex, none), true);
@include utility-set(align-items, align-items, (start, center, end, stretch));
@include utility-set(justify-content, justify-content, (start, center, end, space-between));
@include utility-set(align, vertical-align, (middle));
@include utility-set(w, width, (100: 100%, 100vw: 100vw));
@include utility-set(h, height, (100: 100%, 50vh: 50vh, 100vh: 100vh));
@include utility-set(min-h, min-height, (100: 100%, 100vh: 100vh));
@include utility-set(flex, flex-wrap, (wrap));
@include utility-set(flex, flex-direction, (row, column));
@include utility-set(cursor, cursor, (help));

@each $step, $factor in $spacing-steps {
  @each $property, $abbreviation in (margin: m, padding: p) {
    @each $side, $side-abbreviation in (top: t, bottom: b, left: s, right: e) {
      @include utility-class(#{$abbreviation}#{$side-abbreviation}-#{$step}, #{$property}-#{$side}, spacing($step));
    }

    @each $type in ('%', '.') {
      #{$type}#{$abbreviation}x-#{$step} {
        @extend #{$type}#{$abbreviation}s-#{$step};
        @extend #{$type}#{$abbreviation}e-#{$step};
      }

      #{$type}#{$abbreviation}y-#{$step} {
        @extend #{$type}#{$abbreviation}t-#{$step};
        @extend #{$type}#{$abbreviation}b-#{$step};
      }
    }

    @include utility-class(#{$abbreviation}-#{$step}, $property, spacing($step));
  }

  @include utility-class(flex-gap-#{$step}, gap, spacing($step));
}

@include utility-class(mx-auto, (margin-left, margin-right), auto);

@each $scheme in (light, dark) {
  @media (prefers-color-scheme: $scheme) {
    .d-#{$scheme}-none {
      display: none;
    }
  }
}
