@each $step, $factor in $spacing-steps {
  @each $property, $abbreviation in (margin: m, padding: p) {
    @each $side, $side-abbreviation in (top: t, bottom: b, left: s, right: e) {
      .#{$abbreviation}#{$side-abbreviation}-#{$step} {
        #{$property}-#{$side}: spacing($step);
      }
    }

    .#{$abbreviation}x-#{$step} {
      @extend .#{$abbreviation}s-#{$step};
      @extend .#{$abbreviation}e-#{$step};
    }

    .#{$abbreviation}y-#{$step} {
      @extend .#{$abbreviation}t-#{$step};
      @extend .#{$abbreviation}b-#{$step};
    }

    .#{$abbreviation}-#{$step} {
      #{$property}: spacing($step);
    }
  }
}

@each $class, $alignment in (start: left, center: center, end: right) {
  .text-#{$class} {
    text-align: $alignment;
  }

  @each $size in map-keys($media-queries) {
    @include media-query($size) {
      .text-#{$size}-#{$class} {
        text-align: $alignment !important;
      }
    }
  }
}

@each $display in (none, block, inline, inline-block, flex) {
  .d-#{$display} {
    display: $display;
  }

  @each $size in map-keys($media-queries) {
    @include media-query($size) {
      .d-#{$size}-#{$display} {
        display: $display !important;
      }
    }
  }
}

@each $alignment in (start, center, end, stretch) {
  .align-items-#{$alignment} {
    align-items: $alignment;
  }
}

@each $alignment in (start, center, end) {
  .justify-content-#{$alignment} {
    justify-content: $alignment !important;
  }
}

@each $alignment in (middle) {
  .align-#{$alignment} {
    vertical-align: $alignment;
  }
}
