/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "_mixins";


body {
  background: #0869ed url(asset_path("bg.png")) repeat-x;
  color: #043448;
  margin: 0px;
  font: {
    family: "Arial", "DejaVu Sans";
    size: 15px;
  }
}
img {
  border: none;
}
a {
  text-decoration: underline;
  color: #0064ec;

  &:hover {
    text-decoration: none;
  }
}
.shadow {
  color: inherit;
  @include transition(text-shadow, .3s);
  text: {
    decoration: none;
    shadow: 0px 0px 2px rgba(230, 33, 32, .5);
  }

  &:hover {
    text-shadow: 0px 0px 4px rgba(230, 33, 32, 1);
  }
}
table {
  width: 100%;
}
h3 {
  margin: {
    bottom: 4px;
    top: 20px;
  }
}

@include font-face(qlassik);
@include font-face(ovo);
@font-face {
  font-family: "Open Sans";
  src: url(asset_path("OpenSans-Regular.woff"));
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(asset_path("OpenSans-Bold.woff"));
  font-weight: bold;
  font-style: normal;
}

html {
  #jr_inner {
    font-size: 0.9em;
    min-width: 600px;
    max-width: 600px;

    ul {
      text-align: center;
      display: inline-block;
      margin: 20px auto;
    }

    #jr_close {
      font-size: 0.8em;
    }
  }
}

#wrapper {
  position: relative;
  width: 918px;
  margin: auto;
}

#sky {
  width: 993px;
  height: 283px;
  background: url(asset_path("sky.png")) no-repeat;
  z-index: -1;
  position: absolute;
  top: -54px;
  left: -30px;
}

#left {
  position: absolute;
  width: 258px;
  left: 5px;
  z-index: 4;
}
#right {
  position: absolute;
  width: 699px;
  right: 0px;
  z-index: 3;
}

@mixin left-bg {
  background: {
    image: url(asset_path('left.png'));
    repeat: no-repeat;
    size: 258px 659px;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url(asset_path('left@2x.png'));
  }
}

#logo {
  width: 100%;
  height: 149px;
  display: inline-block;
  text-indent: -999px;
  @include left-bg;
}

// navi
#navi {
  position: relative;
  height: 510px;
  background-position: 0px -149px;
  @include left-bg;

  ul {
     position: relative;
     list-style: none;
     margin: 0px 0px 0px 37px;
     padding: 0px;
     font-family: "Qlassik", "Arial";

    a {
       color: #ffffff;
       text-decoration: none;
    }

    li {
      padding: 10px 0px 10px 0px;
      font-size: 28px;
       text-shadow: #000000 1px 1px 5px;

      &.spacer {
         margin-left: 5px;
         @include background-gradient(
          left bottom,
          (
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 50%,
            rgba(255, 255, 255, 0) 100%
          ),
          white
        );
         padding: 0px;
         height: 2px;
         width: 60%;
      }

      @for $i from 0 through 3 {
        &:nth-of-type(#{2 + $i * 2}) {
          width: 76% - 4 * $i;
          }
      }
    }
  }
}

// content space
#content {
  position: relative;
  width: 100%;

  > .top {
     background: url(asset_path("content_top.png")) no-repeat;
     height: 49px;
     width: 100%;
     margin-top: 20px;

    .login {
      position: absolute;
      top: 23px;
      right: 40px;
      padding: 3px 9px;
      border-radius: 0 0 9px 9px;
      color: white;
      font-size: 13px;
      display: block;
      text-decoration: none;
      @include background-gradient(top, (#ff5451 0%, #db0303 70%), #db0303);

      &:hover {
        @include background-gradient(top, (#ff5451 0%, red 70%), red);
      }
    }
  }

  > .content {
    position: relative;
    background: url(asset_path("content_bg.png")) repeat-y;
    padding: 1px 50px 10px 50px;
    min-height: 550px;

    ul.navi {
      margin: auto;
      padding: 0px;
      width: 90%;
      display: table;

      &:first-child {
        li {
          &:first-child {
            border-top-left-radius: 10px;
          }

          &:last-child {
            border-top-right-radius: 10px;
          }
        }
      }

      &:last-of-type {
        margin-bottom: 15px;

        li {
          &:first-child {
            border-bottom-left-radius: 10px;
          }

          &:last-child {
            border-bottom-right-radius: 10px;
          }
        }
      }

      li {
        list-style-type: none;
        display: table-cell;
        text-align: center;
        color: white;
        @include background-gradient(top, (#ff5451 0%, #db0303 70%), #db0303);
        border: {
          right: 1px solid #c99c9c;
          bottom: 2px solid #cccccc;
        }

        &:hover:not(:first-child) {
          @include background-gradient(top, (#ff5451 0%, red 70%), red);
        }

        &:first-child {
          width: 25%;
          font-weight: bold;
          text-shadow: 1px 1px 3px black;
        }

        &:last-child {
          border-right: none;
        }

        &.selected {
          border-bottom-color: #690000;
          text-shadow: 0px 0px 2px black;
        }

        a {
          display: block;
          color: white;
          text-decoration: none;
          line-height: 30px;
        }
      }

      @mixin navi-gradient($first, $second, $third) {
        li {
          @include background-gradient(top, ($first 0%, $second 70%), $first);

          &:hover:not(:first-child) {
            @include background-gradient(top, ($first 0%, $third 70%), $third);
          }

          &.selected {
            border-bottom-color: #64410d;
          }
        }
      }

      &.admin, &.ticketing {
        @include navi-gradient(#ffdf38, #e2c939, #e0d702);

        &.ticketing {
          li:not(:first-child) {
            font-size: 12px;
          }
        }
      }

      &.ticketing_retail {
        @include navi-gradient(#539DF7, #3971CA, #2F9BF0);
      }
    }
  }

  > .bottom {
    position: relative;
    background: url(asset_path('content_bottom.png')) no-repeat;
    width: 100%;
    min-height: 50px;
    padding: 25px 0;
    text-align: center;
    font-size: 12px;

    &, a {
      color: #ffffff;
    }

    ul {
      padding: 0;

      li {
        display: inline;

        &:not(:first-child):before {
          content: '–';
          padding-right: 3px;
        }
      }
    }
  }
}

#cookie-consent {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  background: white;
  z-index: 99;
  font-size: 13px;
  overflow: auto;
  transition: margin-top .3s;
  transition-timing-function: ease-out;

  .note {
    width: 82%;
    float: left;
  }

  button {
    display: block;
    width: 16%;
    padding: 8px 0;
    float: right;
    background: #0064ec;
    color: white;
    font-size: 13px;
    font-weight: bold;
    border: 0;
    cursor: pointer;

    &:hover {
      background: lighten(#0064ec, 10%);
    }
  }
}


// common classes
.hcen {
  text-align: center;
}
.hright {
  text-align: right;
}
.vcen {
  vertical-align: middle;
}
.hl {
  text-align: center;
  margin-bottom: 15px;
  text-shadow: #cccccc 1px 1px 2px;
  color: #000000;
  font: {
    size: 40px;
    family: "Qlassik", "Arial";
  }

  .small {
    font-size: 25px;
    color: black;
  }
}
.small {
  font-size: 13px;
  color: lighten(black, 40%);
}
.trenner {
  background: url(asset_path("trenner.png")) no-repeat;
  width: 578px;
  height: 6px;
  margin: 30px auto;
}
.inner {
  width: 60%;
  margin: 20px auto;

  &.newSection {
    border-top: 1px solid #cccccc;
    width: 70%;
  }
}
input.btn {
  font-size: 15px;
  width: 120px;
  height: 30px;
}
.submit {
  text-align: center;
  margin: 10px;

  input {
    width: 100px;
    height: 30px;
  }
}
.move_handle {
  cursor: move;
}

.messages {
  width: 95%;
  margin: 15px auto;
  color: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
  overflow: auto;
  background: #239915;
  border: 1px solid #005806 {
    radius: 10px;
  }

  > * {
    margin: 8px 10px;
  }

  .icon {
    background: url(asset_path("messages.png")) no-repeat;
    width: 28px;
    height: 24px;
    float: left;
  }

  ul {
    padding: 0px;
    float: none;
    overflow: hidden;
    list-style-type: none;

    li {
      padding: 3px 0px;
    }
  }

  .btn {
    display: inline-block;
    background: white;
    color: black;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;

    &:hover {
      box-shadow: 0px 0px 6px black;
    }
  }

  &.alert {
    border-color: #470000;
    background: #8a0300;

    .icon {
      width: 24px;
      background-position: -28px 0px;
    }
  }

  &.warning {
    border-color: #b57223;
    background: #e79d34;

    .icon {
      width: 8px;
      margin-left: 10px;
      background-position: -52px 0px;
    }
  }
}


@mixin box-border {
  border-radius: 10px;
}

@mixin box-shadow {
  box-shadow: 0px 2px 4px 1px #e1e1e1, inset 0 0 2px 2px $faint-blue;
}

@mixin box-shadow-border {
  @include box-border;
  @include box-shadow;
  border: 1px solid $light-blue;
}

@mixin box-sky($position: center) {
  background: url(asset_path("sky.png")) no-repeat $position;
}

@mixin box-white-text {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
  color: white;
}

// box
.box {
  width: 98%;
  margin: 15px auto;
  @include box-shadow-border;

  > .top {
    @include box-border;
    @include box-sky;
    @include box-white-text;
    padding: 3px 10px;
    font-size: 17px;
  }

  > .con {
    padding: 10px;
  }

  > .actions {
    @include box-sky(top);
    text-align: right;
    padding: 2px 7px;
    border: {
      top: 1px solid #cccccc;
      radius: 0px 0px 10px 10px;
    }

    a {
      color: white;
    }
  }
}

.new_element {
  text-align: right;

  > a {
    @include box-shadow-border;
    @include box-sky;
    @include box-white-text;
    overflow: auto;
    display: inline-block;
    padding: 0px 7px;
    margin: 10px;

    > div {
      float: left;
    }

    > .plus {
      font-size: 24px;
      font-weight: bold;
      margin-right: 6px;
    }

    > .action {
      padding-top: 5px;
    }
  }
}

.monospace {
  font-family: monospace;
}

table.rounded {
  $border-radius: 10px;
  $border-inner: 1px $faint-blue solid;
  $border-outer: 1px $light-blue solid;

  @include box-border;
  @include box-shadow;
  border-spacing: 0px;

  &.panel {
    width: 60%;
    margin: auto;
    margin-top: 30px;

    td, th {
      padding: 6px 10px;
    }
  }

  *:first-child tr:first-child {
    td, th {
      border-top: $border-outer;

      &:first-child {
        border-top-left-radius: $border-radius;
      }

      &:last-child {
        border-top-right-radius: $border-radius;
      }
    }
  }

  *:last-child tr:last-child {
    td, th {
      border-bottom: $border-outer;

      &:first-child {
        border-bottom-left-radius: $border-radius;
      }

      &:last-child {
        border-bottom-right-radius: $border-radius;
      }
    }
  }

  td, th {
    border-bottom: $border-inner;
    border-left: $border-inner;
    padding: 3px 5px;

    &:first-child {
      border-left: $border-outer;
    }

    &:last-child {
      border-right: $border-outer;
    }

    &.id {
      width: 7%;
      text-align: center;
    }

    &.actionBtns {
      width: 8%;
      text-align: center;
    }
  }

  th {
    @include box-sky;
    @include box-white-text;
  }

  td {
    font-size: 13px;
  }

  tr.highlighted td {
    background: #FFFC8F;
  }

  tbody.hover tr:hover td:not(.empty) {
    background: $faint-blue;
    cursor: pointer;
    border-color: $light-blue;
  }
}

.actionBtns {
  a {
    width: 15px;
    height: 15px;
    background: $light-blue url(asset_path("actions.png")) no-repeat;
    border-radius: 2px;
    display: inline-block;

    &.edit {
      background-position: 0px 1px;
    }

    &.delete {
      background-position: -15px 1px;
    }
  }
}

.plural_text {
  .singular, .plural {
    display: none;
  }

  &.singular .singular, &.plural .plural {
    display: inline;
  }
}

.spinner {
  animation: spinner-rotate 2s linear infinite;
  display: block;

  .path {
    stroke: white;
    stroke-linecap: round;
    animation: spinner-dash 1.3s ease-in-out infinite;
  }

  @keyframes spinner-rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes spinner-dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
}

.newsletter {
  font-size: 12px;

  input {
    &[type=text] {
      width: 150px;
    }
  }

  form {
    width: 90%;
    margin: 10px auto;

    .field_with_errors {
      display: inline;
    }
  }
}

.restaurants {
  margin-bottom: 20px;

  ul {
    padding-left: 0;

    li {
      list-style-type: none;
    }
  }
}
