table {
  width: 100%;

  td {
    padding-top: 10px;

    &:last-child {
      width: 60%;
    }
  }
}

textarea {
  height: 150px;
}

input[type='text'], input[type='email'], input[type='tel'], textarea {
  width: 90%;
}
