.other-events {
  margin-bottom: 20px;
  text-align: right;

  img {
    padding: 0 10px;
  }
}

.gemetzel {
  .hl, .hl .small, .prices table td.price, .dates td {
    color: black;
    text-shadow: none;
  }

  .title {
    padding-top: 30px !important;

    img {
      width: 275px;
    }
  }
}

.abba {
  .hl, .hl .small, .prices table td.price, .dates td {
    color: #001E7C;
    text-shadow: none;
  }

  .title {
    padding-top: 60px !important;

    img {
      width: 270px;
      padding-right: 20px;
    }
  }
}

.frau_mueller {
  .title {
    padding-top: 20px !important;

    img {
      width: 250px;
    }
  }
}

.container {
  overflow: auto;
  margin: 20px 0px;

  .title {
    float: left;
    width: 52%;
    text-align: center;
    padding-top: 50px;
  }

  .dates {
    width: 43%;
    float: left;

    .con {
      padding: 15px;
    }

    tr {
      &.disabled td {
        color: #cccccc;

        .line_through {
          text-decoration: line-through !important;
        }

        .unavailable {
          color: red;
          font: {
            style: italic;
            size: 12px;
            weight: normal;
          }
        }
      }

      td {
        font-weight: bold;
        vertical-align: top;

        &.date {
          text-align: right;
        }

        .time {
          font-size: 12px;
        }
      }
    }

    p {
      margin-bottom: 0;
    }
  }
}

.hl {
  &.order {
    font-size: 30px;
    display: block;
    margin: 20px auto;
    margin-bottom: 30px;
  }
}

.prices {
  table {
    width: 70%;
    margin: auto;

    td {
      font-size: 18px !important;
      padding: 10px !important;

      &.price {
        vertical-align: middle;
        white-space: nowrap;
        padding: 10px 20px !important;
      }
    }

    .price {
      vertical-align: top;
      text-align: right;
      font-weight: bold;
    }
  }
}

.stores {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  font-size: 13px;

  p {
    margin-top: 10px;
  }
}

.hotline {
  margin-top: 30px;
}

.teaser {
  text-align: center;

  img {
    width: 70%;
  }

  h2 {
    margin-top: 40px;
  }

  p {
    margin-top: 10px;
    font-size: 18px;
  }
}

