$highlightColor: black;
$shadowColor: black;

.jedermann {
  $highlightColor: #d10a11;
  $shadowColor: #fff7b2;

  .hl, .shadow, .prices table td.price, .dates td {
    color: $highlightColor;
  }
}

.don_camillo {
  $highlightColor: #f23233;
  $shadowColor: #00900E;

  .hl, .shadow, .prices table td.price, .dates td {
    color: $highlightColor;
  }
}

.ladykillers {
  $highlightColor: #CC003A;
  $shadowColor: #00900E;

  .hl, .shadow, .prices table td.price, .dates td {
    color: $highlightColor;
  }
}

.drachenjungfrau {
  $highlightColor: #006733;
  $shadowColor: black;

  .hl, .shadow, .prices table td.price, .dates td, a {
    color: $highlightColor;
  }
}

.alte_dame {
  $highlightColor: #e6007e;
  $shadowColor: rgba(black, .5);

  .hl, .hl .small, .shadow, .prices table td.price, .dates td {
    color: $highlightColor;
  }
}

.alice_wunderland {
  $highlightColor: #F07F3C;
  $shadowColor: rgba(black, .5);

  .hl, .hl .small, .shadow, .prices table td.price, .dates td {
    color: $highlightColor;
  }

  .title {
    padding-top: 50px !important;
  }
}

.willibald {
  $highlightColor: #006633;

  .hl, .hl .small, .prices table td.price, .dates td {
    color: $highlightColor;
  }

  .title {
    padding-top: 80px !important;

    img {
      width: 90%;
    }
  }
}

.magdalena {
  $highlightColor: #5e799a;
  $shadowColor: rgba(black, .5);

  .hl, .hl .small, .prices table td.price, .dates td {
    color: $highlightColor;
  }

  .title {
    padding-top: 90px !important;

    img {
      width: 270px;
    }
  }
}

.sommernachtstraum {
  $highlightColor: #B1CB22;

  .hl, .hl .small, .prices table td.price, .dates td {
    color: $highlightColor;
    text-shadow: none;
  }

  .title {
    padding-top: 115px !important;

    img {
      width: 275px;
    }
  }
}



.container {
  overflow: auto;
  margin: 20px 0px;

  .title {
    float: left;
    width: 52%;
    text-align: center;
    padding-top: 50px;
  }

  .dates {
    width: 46%;
    float: left;

    tr {
      &.disabled td {
        color: #cccccc;

        .line_through {
          text-decoration: line-through !important;
        }

        .sold_out {
          color: red;
          font: {
            style: italic;
            size: 12px;
            weight: normal;
          }
        }
      }

      td {
        font-weight: bold;
        vertical-align: top;

        .time {
          font-size: 12px;
        }
      }
    }

    p {
      font-size: 13px;
      padding: 0px 15px;
    }
  }
}

.hl {
  &.order {
    font-size: 30px;
    display: block;
    margin: 20px auto;
    margin-bottom: 30px;
  }
}

.point {
  width: 25px;
  height: 25px;
  background: url(asset_path("point.png")) no-repeat;
  padding: 0px 6px;
}

.prices {
  table {
    width: 70%;
    margin: auto;

    td {
      font-size: 18px !important;
      padding: 10px !important;

      &.price {
        vertical-align: middle;
        white-space: nowrap;
        padding: 10px 20px !important;
      }
    }

    .price {
      vertical-align: top;
      text-align: right;
      font-weight: bold;
    }
  }
}

.stores {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  font-size: 13px;

  p {
    margin-top: 10px;
  }
}

.hotline {
  margin-top: 30px;
}

#spons {
  position: relative;
  height: 100px;
  overflow: hidden;
  margin-bottom: 10px;
  width: 100%;

  .logos {
    position: absolute;
    top: 20px;
    left: 0px;
    white-space: nowrap;
    display: block;

    div {
      padding: 0px 30px;
      border-right: 1px solid #cccccc;
      position: absolute;
      top: 0px;
    }
  }

  .fg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url(asset_path("dates/spons-fg.png")) no-repeat;
    z-index: 2;
  }
}

.teaser {
  .dates {
    width: 60%;
    margin: 30px auto;
    font-weight: bold;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }
}
