.other-events {
  margin-bottom: 20px;
  text-align: right;

  img {
    padding: 0 10px;
  }
}

.gemetzel {
  .hl, .hl .small, .prices table td.price, .dates td {
    color: black;
    text-shadow: none;
  }

  .title {
    padding-top: 30px !important;

    img {
      width: 275px;
    }
  }
}

.blauer_planet {
  .hl, .hl .small, .prices table td.price, .dates td {
    color: #bfd66a;
    text-shadow: none;
  }

  .title {
    padding-top: 50px !important;

    img {
      width: 260px;
    }
  }
}

.sahnemixx {
  .hl, .hl .small, .prices table td.price, .dates td {
    color: #219ad5;
    text-shadow: none;
  }

  .title {
    padding-top: 30px !important;

    img {
      width: 250px;
    }
  }

  .video {
    box-sizing: border-box;
    margin: 30px 100px;

    video {
      width: 100%;
    }
  }
}

.container {
  overflow: auto;
  margin: 20px 0px;

  .title {
    float: left;
    width: 52%;
    text-align: center;
    padding-top: 50px;
  }

  .dates {
    width: 46%;
    float: left;

    tr {
      &.disabled td {
        color: #cccccc;

        .line_through {
          text-decoration: line-through !important;
        }

        .unavailable {
          color: red;
          font: {
            style: italic;
            size: 12px;
            weight: normal;
          }
        }
      }

      td {
        font-weight: bold;
        vertical-align: top;

        .time {
          font-size: 12px;
        }
      }
    }

    p {
      font-size: 13px;
      padding: 0px 15px;
    }
  }
}

.hl {
  &.order {
    font-size: 30px;
    display: block;
    margin: 20px auto;
    margin-bottom: 30px;
  }
}

.point {
  width: 25px;
  height: 25px;
  background: url(asset_path("point.png")) no-repeat;
  padding: 0px 6px;
}

.prices {
  table {
    width: 70%;
    margin: auto;

    td {
      font-size: 18px !important;
      padding: 10px !important;

      &.price {
        vertical-align: middle;
        white-space: nowrap;
        padding: 10px 20px !important;
      }
    }

    .price {
      vertical-align: top;
      text-align: right;
      font-weight: bold;
    }
  }
}

.stores {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  font-size: 13px;

  p {
    margin-top: 10px;
  }
}

.hotline {
  margin-top: 30px;
}

.teaser {
  ul {
    padding: 0;
    list-style-type: none;
  }
}

