@import "theater";

$regularColor: white;
$highlightColor: #f23233;

// adjust content space for microsite
#content {
  > .top {
    background: url(asset_path("theater/don_camillo/content_top.png")) no-repeat;
    height: 806px;
  }

  > .content {
    background: url(asset_path("theater/don_camillo/content_bg.png")) repeat-y;
    padding: 1px 50px;
    min-height: 0px;
    color: white;
  }

  > .bottom {
    background: url(asset_path("theater/don_camillo/content_bottom.png")) no-repeat;
    height: 30px;
  }
}

.info {
  margin-top: -100px;
  color: $regularColor;
  line-height: 1.5em;
  font: {
    size: 18px;
    family: 'Ovo', cursive;
  }
  text: {
    align: justify;
    shadow: #000000 0px 0px 10px;
  }
  
  h2, a, .highlight {
    color: $highlightColor;
  }

  a {
    font-style: italic;
    text-decoration: none;
  }

  h2 {
    margin: 0px 0px 15px -15px;
    font: {
      size: 26px;
      weight: bold;
    }
  }
}

.cast {
  line-height: 1.2em;
  
  .alt {
    background: rgba(black, .2);
  }
  
  .actor {
    color: $highlightColor;
  }
  
  .small {
    color: $regularColor;
  }
}