@import "theater";

$regularColor: black;
$highlightColor: #17572b;

// adjust content space for microsite
#content {
  > .top {
    background: url(asset_path("theater/drachenjungfrau/content_top.png")) no-repeat;
    height: 614px;
  }

  > .content {
    background: url(asset_path("theater/drachenjungfrau/content_bg.png")) repeat-y;
    padding: 0 50px;
    min-height: 0px;
    color: white;
  }

  > .bottom {
    background: url(asset_path("theater/drachenjungfrau/content_bottom.png")) no-repeat;
    height: 30px;
  }
}

.info {
  margin-top: -1px;
  margin-bottom: -1px;
  padding-bottom: 1px;
  color: $regularColor;
  line-height: 1.5em;
  font: {
    size: 18px;
    family: 'Ovo', cursive;
  }
  text: {
    align: justify;
  }

  h2, a, .highlight {
    color: $highlightColor;
  }

  a {
    font-style: italic;
    text-decoration: none;
  }

  h2 {
    margin: 0px 0px 15px -15px;
    font: {
      size: 26px;
      weight: bold;
    }
  }
}

.cast {
  line-height: 1.2em;
  
  .alt {
    box-shadow: none;
    background: transparent;
    border: $highlightColor solid {
      width: 1px 0;
    }
  }
  
  .actor {
    color: $highlightColor;
  }
  
  .small {
    color: $regularColor;
  }
}