.contact {
	float: left;
	width: 49%;
}

.webdesign {
	float: right;
	width: 48%;

	.con {
		overflow: auto;
		width: 100%;
	}

	.logo {
		float: left;
		margin: 7px;
	}

	.info {
		float: left;
	}

	.links {
		margin-top: 30px;
	}
}

h1 {
	font-size: 16px;
	margin-top: 0px;
}
h2 {
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 0px;
}