@import "_mixins";

.index .alert {
  border: 2px solid red;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  margin: auto;

  div {
    text-align: center;
    font-weight: bold;
    margin-bottom: 7px;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
  }
}

.teaser {
  margin: 30px auto;
  text-align: center;

  img {
    margin: 20px;
    width: 70%;
  }

  h3, .links {
    font: {
      family: 'Ovo', serif;
      size: 22px;
      weight: bold;
    }
  }

  h3 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 24px;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  .links {
    text-align: center;

    a, span {
      padding: 0px 7px;
    }

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &.gemetzel {
    h3, .links {
      color: black;
    }
  }
}

.partner {
  margin: 30px 10px 0px 10px;
  text-align: center;

  .disclaimer {
    color: #cccccc;
    font-size: 12px;
  }

  ul {
    padding-left: 0;
    margin: 0;
    margin-top: 5px;
    padding-top: 10px;
    list-style: none;
    border-top: 1px solid #cccccc;

    li {
      display: inline;
      margin: 0 15px;

      img {
        height: 80px;
        max-width: 250px;
      }
    }
  }
}
