.welcome {
	margin-top: 30px;
	font-size: 20px;
}

.teaser {
	margin: 30px 0px;
  
  &.jedermann {
    position: relative;
    background: url(/assets/theater/jedermann/index.png);
    width: 610px;
    height: 545px;
    margin: auto;
    
    > div {
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 18px;
      color: #fff7b2;
      font-family: "Ovo", cursive;
      font-size: 24px;
      text-shadow: -2px -1px 0px #d10a11;
      
      a {
        padding: 0px 10px;
        color: #fff7b2;
        text-decoration: none;
        
        &:hover {
          color: #d10a11;
          text-shadow: none;
        }
      }
    }
  }
}

.ad {
	position: absolute;
	margin: 0px 10px 10px 10px;
	text-align: center;
	bottom: 0px;

	.disclaimer {
		color: #cccccc;
		font-size: 12px;
		padding: 0px 5px;
	}

	.line {
		position: absolute;
		height: 1px;
		background: #cccccc;
		top: 0px;
	}

	div {
		margin-top: 10px;
	}
}

.tsmgo {
  .container {
    overflow: auto;
    
    div {
      float: left;
      

      
      &:last-child {
        width: 65%;
      }
    }
  }
}