.teaser {
  img {
    float: left;
    margin: 0px 15px 10px 0px;
  }
}

.partner-lotto {
	position: absolute;
	margin: 0px 10px 10px 10px;
	text-align: center;
	bottom: 0px;

	.disclaimer {
		color: #cccccc;
		font-size: 12px;
		padding: 0px 5px;
	}

	.line {
		position: absolute;
		height: 1px;
		background: #cccccc;
		top: 0px;
	}

	div {
		margin-top: 10px;
	}
}