@import "_mixins";

.teaser {
	margin: 30px 0px;
    
    .dates {
      width: 60%;
      margin: 30px auto;
      font-weight: bold;
    }
  
    ul {
      padding: 0;
      list-style-type: none;
    }
  
  &.don_camillo {
    position: relative;
    background: url(asset_path("theater/don_camillo/index.png")) no-repeat;
    width: 610px;
    height: 545px;
    margin: auto;
    
    .closing {
      position: absolute;
      bottom: 0px;
      color: white;
      padding: 10px;
      text-align: center;
      text-shadow: 0px 0px 4px black;
    }
    
    .links, .highlight {
      position: absolute;
      font-family: "Qlassik", "Arial";
      
      &.links {
        width: 100%;
        text-align: center;
        bottom: 18px;
        color: #00900E;
        font-size: 27px;
        
        a {
          padding: 0px 10px;
          color: white;
          text-decoration: none;
        
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  
  .highlight {
    top: 150px;
    right: 30px;
    font-size: 45px;
    color: red;
    text-shadow: -1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white, 1px 1px 0 white, 1px 1px 4px black;
    z-index: 99;
    @include animation(highlight, 1s, 1);
    @include vendor-specific(transform, rotate(350deg));
    
    &.addition {
      top: 70px;
      right: 20px;
      @include vendor-specific(animation-name, (highlight, addition));
      @include vendor-specific(animation-duration, (1s, 1s));
      @include vendor-specific(animation-iteration-count, (1, infinite));
      @include vendor-specific(animation-direction, alternate);
    }
  }
}

@include keyframes(highlight) {
  from {
    @include vendor-specific(transform, rotate(0deg) scale(0));
  }
  
  to {
    @include vendor-specific(transform, rotate(710deg) scale(1));
  }
}

@include keyframes(addition) {
  from {
    @include vendor-specific(transform, scale(1) rotate(350deg));
  }
  
  to {
    @include vendor-specific(transform, scale(.9) rotate(350deg));
  }
}

.partner-lotto {
	position: absolute;
	margin: 0px 10px 10px 10px;
	text-align: center;
	bottom: 0px;

	.disclaimer {
		color: #cccccc;
		font-size: 12px;
		padding: 0px 5px;
	}

	.line {
		position: absolute;
		height: 1px;
		background: #cccccc;
		top: 0px;
	}

	div {
		margin-top: 10px;
	}
}