//= require ol3-bower

@import "_mixins";

.other-events {
  margin-bottom: 20px;
  text-align: right;

  img {
    padding: 0 10px;
  }
}

.section {
  margin: 30px 15px;

  h2 {
    font-size: 20px;
  }

  > div, > p {
    margin-left: 10px;
    margin-top: 8px;
  }

  .question {
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;

    &.disclosed {
      font-weight: bold;
    }
  }

  .answer {
    margin-left: 20px;
    margin-bottom: 25px;
    display: none;

    > *:last-child {
      margin-bottom: 0;
    }
  }
}

#map, #wu {
  margin-bottom: 30px;
}

#map {
  height: 270px;

  .popup {
    background: white;
    border-radius: 4px;
    padding: 6px;
    opacity: .9;
  }
}

#wu {
  position: relative;

  .loader {
    width: 100%;
    opacity: 1;
    transition: opacity .3s;

    &.out {
      opacity: 0;
    }
  }

  .fadeIn {
    opacity: 0;
    transition: opacity 1s;

    &.in {
      opacity: 1;
    }
  }

  .source, .info {
    clear: both;
  }

  .source {
    font-size: 12px;
    text-align: center;

    img {
      height: 25px;
      vertical-align: bottom;
    }
  }

  .info {
    width: 65%;
    margin: auto;

    .icon {
      float: left;
      font-size: 30px;

      img {
        vertical-align: middle;
      }
    }

    .data {
      padding-top: 7px;
      float: right;
    }
  }
}
