@import "theater";

$regularColor: #fff7b2;
$highlightColor: #d10a11;

// adjust content space for microsite
#content {
	> .top {
		background: url(asset_path("theater/jedermann/content_top.png")) no-repeat;
		height: 834px;
	}

	> .content {
		background: url(asset_path("theater/jedermann/content_bg.png")) repeat-y;
		padding: 1px 50px;
		min-height: 0px;
    color: white;
	}

	> .bottom {
		background: url(asset_path("theater/jedermann/content_bottom.png")) no-repeat;
	}
}

.info {
	color: $regularColor;
  line-height: 1.5em;
	font: {
		size: 18px;
		family: 'Ovo', cursive;
	}
	text: {
		align: justify;
		shadow: #000000 0px 0px 10px;
	}
  
  h2, a, .highlight {
    color: $highlightColor;
  }

	a {
		font-style: italic;
		text-decoration: none;
	}

	h2 {
		margin: 0px 0px 15px -15px;
		font: {
			size: 26px;
			weight: bold;
		}
	}
}

.cast {
  line-height: 1.2em;
  
  .actor {
    color: $highlightColor;
  }
  
  .small {
    color: $regularColor;
  }
}