.parag {
  margin-top: 20px;

  h3 {
    font-size: 16px;
    margin: 15px 0px;
  }

  p {
    margin: 7px 0px;
  }

  .nrs {
    font-weight: normal;
    margin: 0px 20px;
  }

  ol {
    &.nrs {
      margin: 0px 10px;
    }

    &.letters {
      list-style-type: lower-alpha;
    }

    &.no {
      list-style-type: none;
    }

    li {
      margin: 4px 0px;
    }
  }
}

.headline {
  font-size: 18px;
  text-align: center;
  margin: 10px 0;
}

.closure {
  margin-top: 40px;
}

.privacy, .agb, .widerruf {
  ol {
    counter-reset: item;
    padding: 0;

    li:before {
      counter-increment: item;
    }
  }

  ol > li {
    display: block;

    p:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    li {
      padding-top: 5px;
      list-style-type: disc;
    }

    &.long {
      padding-top: 5px;

      li {
        padding-top: 10px;
      }
    }
  }

  > ol > li {
    padding: 10px 0;
    font-weight: bold;

    &:before {
      content: counters(item, '.') ') ';
    }

    p, li {
      font-weight: normal;
    }

    ol > li {
      padding: 10px;

      &:before {
        content: counters(item, '.') ' ';
        font-weight: bold;
      }

      ul li:before {
        display: none;
      }
    }
  }

  iframe {
    height: 180px;
    width: 100%;
    display: block;
    border: 0;
  }
}

.widerruf table {
  tr {
    &:not(:last-child) td {
      padding: 10px 0;
      vertical-align: bottom;

      &:last-child {
        width: 60%;
        height: 40px;
        border-bottom: 1px solid black;
      }
    }

    &:last-child td {
      width: 50%;
      height: 100px;
      padding-top: 30px;
      border-bottom: 1px solid black;
      vertical-align: top;
    }
  }
}
