@import "_mixins";


// adjust content space for microsite
#content {
	> .top {
		background: url(/assets/theater/montevideo/content_top.png) no-repeat;
		height: 606px;
	}

	> .content {
		background: url(/assets/theater/montevideo/content_first.png) no-repeat;
		padding: 1px 230px 1px 50px;
		min-height: 332px;
	}

	> .content.next {
		background: url(/assets/theater/montevideo/content_bg.png) repeat-y;
		padding: 1px 50px;
		min-height: 0px;
	}

	> .bottom {
		background: url(/assets/theater/montevideo/content_bottom.png) no-repeat;
	}
}

@include font-face(ovo);

.info {
	color: #ffffff;
	font: {
		size: 18px;
		family: 'Ovo', cursive;
	}
	text: {
		align: justify;
		shadow: #000000 0px 0px 10px;
	}

	a {
		color: #cccccc;
		font-style: italic;
		text-decoration: none;
	}

	h2 {
		margin: 0px 0px 15px -15px;
		font: {
			size: 26px;
			weight: bold;
		}
	}

	.cast {
		margin: 20px 0px;
		font-size: 16px;

		.row {
			padding: 4px 0px;
			overflow: auto;
	
			> div {
				width: 46%;
				float: left;
				padding: 0px 10px;
				vertical-align: top;
			}
			
			.small {
				font-size: 11px;
			}
		}

		p {
			margin: 10px 0px;
		}
		.role {
			text-align: right;
		}
		.actor {
			font-weight: bold;
			text-align: left;
		}
		.newSection div {
			padding-top: 20px;
		}
		.alt {
			font-size: 13px;
			background: #2d2d2d;
			box-shadow: inset 0px 2px 5px black;
			padding-top: 5px;
			display: none;
			width: 100%;
			margin-bottom: 15px;

			span {
				width: 50px;
				display: inline-block;
				text-align: center;
			}
		}
		
		.double {
			.actor, .alt {
				cursor: pointer;
			}
		}
	}
}