.press_material {
  ul {
    margin-top: 10px;
    margin-bottom: 25px;
    padding-left: 30px;

    li {
      margin-bottom: 5px;

      .disclaimer {
        font-size: 13px;
        font-style: italic;
        font-weight: bold;
      }

      .file-info {
        font-size: 13px;
      }
    }
  }
}
