/* maven-pro-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: url(asset_path('maven-pro-v32-latin-regular.woff2')) format('woff2'),
       url(asset_path('maven-pro-v32-latin-regular.woff')) format('woff');
}
/* maven-pro-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 500;
  src: url(asset_path('maven-pro-v32-latin-500.woff2')) format('woff2'),
       url(asset_path('maven-pro-v32-latin-500.woff')) format('woff');
}
/* maven-pro-900 - latin */
@font-face {
  font-display: swap;
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 900;
  src: url(asset_path('maven-pro-v32-latin-900.woff2')) format('woff2'),
       url(asset_path('maven-pro-v32-latin-900.woff')) format('woff');
}
/* lora-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url(asset_path('lora-v32-latin-regular.woff2')) format('woff2'),
       url(asset_path('lora-v32-latin-regular.woff')) format('woff');
}
/* lora-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: url(asset_path('lora-v32-latin-italic.woff2')) format('woff2'),
       url(asset_path('lora-v32-latin-italic.woff')) format('woff');
}
/* lora-700italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: url(asset_path('lora-v32-latin-700italic.woff2')) format('woff2'),
       url(asset_path('lora-v32-latin-700italic.woff')) format('woff');
}

$font-size-base: 1rem;
$heading-size-multiplier: 1.618;

// column widths: 20, 25, 33, 50, 66, 75, 80 %
$column-widths: 5, 4, 3, 2, 1.5, (100/75), 1.25;

$green: #78ff1f;
$red: #ff5c5c;
$black: #1F2034;
$dark-gray: #666666;
$light-gray: #f2f2f2;
$white: #ffffff;

$cta-color: $red;
$cta-color-hover: darken($red, 10%);

$menu-reveal-duration: .5s;

.ff-m {
  font-family: 'Maven Pro', sans-serif;
}

.ff-l {
  font-family: 'Lora', sans-serif;
}

.f-mb {
  @extend .ff-m;
  font-weight: 900;
}

.f-li {
  @extend .ff-l;
  font-style: italic;
}

.f-lbi {
  @extend .f-li;
  font-weight: 700;
}

@for $i from 1 through 4 {
  .mt-#{$i} {
    margin-top: #{$i}rem;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}rem;
  }

  .my-#{$i} {
    @extend .mt-#{$i};
    @extend .mb-#{$i};
  }
}

@each $alignment in center, right {
  .text-#{$alignment} {
    text-align: $alignment;
  }
}

:root {
  --dynamic-color-0: #9FF3C6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  @extend .ff-m;
  margin: 0;
  font-size: $font-size-base;
  color: $black;
  background: $light-gray;
}

h1, h2, h3 {
  @extend .my-1;
}

h1 {
  @extend .f-lbi;
  font-size: 1rem * $heading-size-multiplier * $heading-size-multiplier * $heading-size-multiplier;
}

h2 {
  @extend .f-li;
  font-size: 1rem * $heading-size-multiplier * $heading-size-multiplier;
  font-weight: 400;
}

h3 {
  @extend .f-mb;
  font-size: 1rem;
}

p {
  @extend .my-1;
}

a {
  color: $cta-color;
  text-decoration: none;
  transition: color .3s;

  &:hover {
    color: $cta-color-hover;
  }
}

hr {
  border: 0;
  height: 4px;
  background-image: url('data:image/svg+xml,%3csvg width="100%25" height="100%25" xmlns="http://www.w3.org/2000/svg"%3e%3crect width="100%25" height="200%25" fill="none" stroke="black" stroke-width="4" y="2" stroke-dasharray="3%2c8" stroke-linecap="round"/%3e%3c/svg%3e');
}

header {
  position: sticky;
  top: 0;
  background: var(--dynamic-color-0);

  .container {
    display: flex;
    align-items: center;
  }

  .menu-toggle {
    width: 2.5rem;
    height: 2.5rem;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background: var(--dynamic-color-4);
    position: relative;
    cursor: pointer;
    transition: transform $menu-reveal-duration, background .3s;

    &:after {
      @extend .ff-l;
      @extend .text-center;
      position: absolute;
      content: '...';
      color: $white;
      font-size: 2rem;
      width: 100%;
      margin-top: -10px;
    }

    &:hover {
      background: var(--dynamic-color-4-hover);
    }

    &:active, .menu-active & {
      background: var(--dynamic-color-4-active);
    }

    .menu-active & {
      transform: rotate(90deg);
    }
  }

  .logo {
    flex: 1;

    svg {
      display: block;
      padding: .5rem;
      margin: auto;
      max-height: 2.5rem;

      @for $i from 1 through 4 {
        g:nth-of-type(#{$i}) * {
          fill: var(--dynamic-color-#{$i}) !important;
        }
      }

      g:nth-of-type(4) * {
        transform-box: fill-box;
        transform-origin: center;
        animation: rotate-diamond 1s;
      }

      @keyframes rotate-diamond {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(-180deg);
        }
      }
    }
  }
}

.container.nav {
  position: relative;
}

header, .container.nav {
  z-index: 10;
}

nav {
  position: fixed;
  width: 100%;
  height: 0;
  overflow: hidden;
  background: $white;
  transition: height $menu-reveal-duration;

  ul {
    @extend .f-li;
    font-size: 2rem;
    font-weight: 400;

    a, a:hover {
      color: $black;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

footer {
  @extend .mt-2;
  background: var(--dynamic-color-0);

  ul {
    @extend .f-mb;

    li {
      margin-bottom: .3rem;
    }

    a {
      color: $black;
      text-decoration: underline;

      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

nav ul, footer ul {
  list-style: none;
  margin: 0;
  padding: .5rem 1rem;
}

.caption {
  @extend .f-lbi;
  font-size: 1rem / $heading-size-multiplier;
}

.text-green {
  color: $green;
}

.text-red {
  color: $red;
}

.shadow {
  box-shadow: 0 0 13px 0 rgba($black, 0.23);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -.5rem;
  margin-left: -.5rem;
}

@mixin col($width) {
  width: $width;
  padding: .5rem;
}

@mixin col-classes($device-size: null) {
  $device-infix: if($device-size, '-#{$device-size}', '');

  @each $column-width in $column-widths {
    $width: 100 / $column-width;

    .col#{$device-infix}-#{floor($width)} {
      @include col($width * 1%);
    }
  }
}

.col {
  @include col(100%);

  &:not(.w-100) {
    max-width: 600px;
  }
}

[class^='col-'] {
  // necessary for case like this: div.col-md-50
  // devices smaller than md will then default to 100%
  @include col(100%);
}

@include col-classes();

@each $width in 50, 100 {
  .w-#{$width} {
    width: $width * 1%;
  }
}

.container {
  max-width: 1000px;
  box-sizing: content-box;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.plane {
  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

  > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  ~ .caption {
    padding-top: 1rem;
    padding-right: .5rem;
    text-align: right;
  }
}

.card {
  @extend .plane;
  padding: 1rem;
  background: $white;
}

.btn {
  @extend .f-lbi;
  @extend .shadow;
  padding: 1rem;
  border: 0;
  font-size: 1rem;
  background: $cta-color;
  color: $white;
  cursor: pointer;
  transition: background .3s;

  &:hover {
    background: $cta-color-hover;
  }

  &:active {
    background: darken($cta-color-hover, 20%);
  }

  &.expand {
    @extend .w-100;
  }
}

.carousel {
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  height: 75vh;
  overflow: hidden;

  $carousel-transition-duration: 2s;

  .photo {
    @extend .w-100;
    height: 100%;
    position: absolute;
    object-fit: cover;
    transform: translateX(100%);

    &.active {
      transform: translateX(0%);
    }

    &.out {
      transform: translateX(-100%);
    }

    &.active, &.out {
      transition: transform $carousel-transition-duration cubic-bezier(0.65, 0, 0.35, 1);
    }
  }

  .title {
    width: calc(100% - 1rem);
    position: absolute;
    display: block;
    margin: 1rem;
    transition: opacity $carousel-transition-duration * 0.5, transform $carousel-transition-duration * 0.8 cubic-bezier(0.33, 1, 0.68, 1);
    transform: rotateY(0deg); // Safari jitter workaround

    &:not(.active) {
      opacity: 0;
      pointer-events: none;
      transform: translateY(100%);
    }

    &:hover {
      cursor: pointer;

      svg * {
        fill: $red;
      }
    }

    svg * {
      fill: $white;
      stroke: $black;
      stroke-width: .4%;
    }
  }

  &.variant-b .title {
    margin-bottom: 0;
    transform: translateY(50%);
  }
}

.schedule {
  .row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0;

    > * {
      padding: 0;
    }

    > *:nth-child(1) {
      @extend .text-center;
      color: $red;
    }

    &:nth-child(2) {
      > *:nth-child(1) {
        @extend h2;
        font-weight: 700;
        margin: 0;
      }

      > *:nth-child(2) {
        @extend h3;
        margin: 0;
        font-size: 1.5rem;
      }

      > *:nth-child(3) {
        @extend .text-center;
      }
    }
  }
}

// small
@media (max-width: 767px) {
  header .container, .container.nav, footer .container {
    padding: 0;
  }

  .menu-active nav {
    height: 100vh !important;
  }
}

// medium
@media (min-width: 768px) {
  html {
    font-size: 20px;
  }

  @include col-classes('md');

  header .menu-toggle:after {
    margin-top: -12px;
  }

  nav {
    width: 300px;
  }

  .carousel .title {
    width: 60%;
  }
}

// large
@media (min-width: 992px) {
  .carousel .title {
    width: 50%;
  }
}
