- title "Newsletter – #{title}"
- include_css 'admin/newsletters'

.hl Newsletter
= form_with model: @newsletter, url: @newsletter.new_record? ? admin_newsletters_path : admin_newsletter_path(@newsletter), local: true do |f|
  .box
    .top = title
    .con
      = render 'errors', errors: @newsletter.errors
      table
        tr
          td Betreff:
          td = f.text_field :subject, required: true, readonly: @newsletter.sent?
        tr
          td Text (Text):
          td
            | Sehr geehrte Theaterfreundin, sehr geehrter Theaterfreund,
            p = f.text_area :body_text, required: true, readonly: @newsletter.sent?
            = render 'layouts/mailer_ending'
        tr
          td
            | Text (HTML):<br>
            p: em Dieses Feld bitte leer lassen, falls HTML automatisch generiert werden soll.
          td
            | Sehr geehrte Theaterfreundin, sehr geehrter Theaterfreund,
            p = f.text_area :body_html, readonly: @newsletter.sent?
            = render 'layouts/mailer_ending'
        tr
          td Empfängergruppe:
          td = f.collection_check_boxes(:subscriber_list_ids, @subscriber_lists, :id, :name) do |b|
            div
              = b.label(class: 'check_box')
                = b.check_box
                = subscriber_list_with_count(b.object)
        - unless @newsletter.sent?
          tr
            td Vorschau verschicken an:
            td
              = check_box_tag :send_preview_email
              = email_field_tag :preview_email, current_user&.email, placeholder: 'E-Mail-Adresse'
      - if @newsletter.sent?
        .hcen Dieser Newsletter wurde bereits verschickt.
      - else
        .submit = cond_submit f

- if @newsletter.persisted?
  .box
    .top Hochgeladene Fotos
    .con
      a name='images'
      - if @newsletter.images.any?
        table
          - @newsletter.images.each do |image|
            tr
              td = image_tag image.image.url(:thumb)
              td
                input type='text' value="%%bild_#{image.id}%%"
                p Dieser Code kann an beliebiger Stelle im Text eingefügt werden und wird beim Versenden durch das entsprechende Foto ersetzt. Das Foto links ist nur eine Vorschau und wird später in der E-Mail größer und im ursprünglichen Format angezeigt.
                - unless @newsletter.sent?
                  p = link_to 'Foto löschen', admin_newsletter_image_path(@newsletter, image), method: :delete, data: { confirm: 'Möchten Sie dieses Foto wirklich löschen?' }
      - else
        em Zu diesem Newsletter wurden keine Fotos hochgeladen.
  - unless @newsletter.sent?
    .box
      .top Neues Foto hochladen
      .con = form_for Newsletter::Image.new, url: admin_newsletter_images_path(@newsletter) do |f|
        = f.file_field :image, required: true, accept: 'image/png, image/jpeg, image/webp, image/heic, image/heif'
        p.hcen = f.submit 'hochladen'
