<% if @_member.admin? %>
	<div class="actions">
		<%= link_to "löschen", obj, :method => :delete, :data => { :confirm => "Möchten Sie #{(delete_confirm || "dieses Element")} wirklich löschen?" } %> | <%= link_to "bearbeiten", :action => :edit, :id => obj %>
	</div>
<% end %>