<% if errors.any? %>
  <div class="messages alert">
    <div class="icon"></div>
      <ul>
        <% errors.each do |attr, msg| %>
        <%= content_tag :li, msg %>
        <% end %>
      </ul>
  </div>
<% end %>
