<%= content_tag :ul, class: ["navi", (css_class ||= nil)] do %>
	<li><%= title %></li>
	<% controllers.each do |c| %>
    <% con = "#{namespace.capitalize}::#{c[0].capitalize}Controller".constantize %>
		<% options = { class: :selected } if controller.class == con %>
		<%= content_tag :li, options do %>
			<%= link_to t("members.navi." + c[0].to_s), controller: con.controller_path, action: c[1] %>
		<% end %>
	<% end %>
<% end %>