<%= content_tag :ul, class: [:navi, local_assigns[:css_class] || namespace] do %>
  <li><%= title %></li>
  <% actions.each do |action| %>
    <% action = Array(action) %>
    <% path = send((action[1].present? ? "#{action[1]}_" : "") + "#{namespace}_#{action[0]}_path") %>
    <% options = { class: :selected } if request.path.starts_with?(path) %>
    <%= content_tag :li, options do %>
      <%= link_to t(action[0], scope: [:navi, namespace]), path, action[2] %>
    <% end %>
  <% end %>
<% end %>
