<% if !(admin_required ||= false) || current_user&.admin? %>
  <% url ||= { :action => "new" } %>
  <div class="new_element">
    <%= link_to url do %>
      <div class="plus">+</div>
      <div class="action"><%= action %></div>
    <% end %>
  </div>
<% end %>
