<div class="other-events">
  <% %w[blauer_planet].each do |identifier| %>
    <% next if @event&.identifier == identifier %>
    <p>Informationen zu <%= image_tag "theater/#{identifier}/ticket_header.svg", height: 50, valign: 'middle' %> finden Sie <%= link_to 'hier', info_identifier_path(identifier) %>.</p>
  <% end %>
</div>
