<div data-controller="question-answer">
  <div data-action="click->question-answer#disclose" class="question">
    <%= question %>
  </div>
  <div data-target="question-answer.answer" class="answer">
    <div><%= yield %></div>
  </div>
</div>
