- title "#{@event.name} – Häufig gestellte Fragen"
- include_css 'info'

= render 'other_events'

.hl Häufig gestellte Fragen

/ .hcen
  / = image_tag "theater/#{@event.assets_identifier}/title.svg", width: 300
