<% title "#{@event.name} – Häufig gestellte Fragen" %>
<% include_css "info" %>
<% include_js "info" %>
<%= javascript_pack_tag "map" %>

<%= render 'other_events' %>

<div class="hl">
  Häufig gestellte Fragen
</div>

<div class="hcen">
  <%= image_tag "theater/#{@event.assets_identifier}/title.svg", width: 300 %>
</div>
