<% title "Häufig gestellte Fragen" %>
<% include_css "info" %>
<% include_js "info" %>
<div class="hl">
  Häufig gestellte Fragen
</div>

<div class="section">
  <h2>Vorverkauf</h2>

  <div class="question">Wo erhalte ich Tickets?</div>
  <div class="answer">
    Tickets können Sie bequem von zu Hause aus <%= link_to "online", new_ticketing_order_path %> bestellen oder Sie besuchen die Buchhandlung Walgenbach in Kaisersesch.
  </div>

  <div class="question">Gibt es Platzreservierungen?</div>
  <div class="answer">Nein, beim Kinder- und Jugendtheater gilt freie Platzwahl.</div>

  <div class="question">Ist der Zugang zum Aufführungsort barrierefrei?</div>
  <div class="answer">Ja, das Alte Kino in Kaisersesch ist barrierefrei zugänglich.</div>

  <div class="question">Welche Zahlungsarten stehen mir bei der Online-Bestellung zur Verfügung?</div>
  <div class="answer">Wir akzeptieren SEPA-Lastschrift und Zahlungen per Überweisung.</div>

  <div class="question">Wie erhalte ich meine Tickets, die ich online bestellt habe?</div>
  <div class="answer">
    Sofern Sie Zahlung per Lastschrift gewählt haben, werden Ihnen Ihre Tickets umgehend nach Ihrer Bestellung per E-Mail zugesandt. Bei Vorkasse per Überweisung erhalten Sie Ihre Tickets nach Zahlungseingang.
    <p>Im Anhang der E-Mail finden Sie ein PDF-Dokument, das Ihre Tickets enthält. Dieses können Sie sich ausdrucken, um es am Abend der Aufführung bei der Einlasskontrolle vorzuzeigen.</p>
  </div>

  <div class="question">Kann ich meine Tickets auch auf einem Handy vorzeigen?</div>
  <div class="answer">
    Ja, das ist kein Problem. Zeigen Sie dazu einfach das PDF-Dokument auf Ihrem Handy-Display vor.
    <p>Falls Sie ein iPhone besitzen, haben Sie alternativ auch die Möglichkeit, Ihre Tickets in der vorinstallierten App „Wallet“ zu hinterlegen. Nutzen Sie dazu einfach den Button in der Bestätigungs-E-Mail oder scannen Sie mit der genannten App den Barcode auf Ihrem Ticket. Unter Android ist dies mit der App „<%= link_to "Wallet Passes", "https://play.google.com/store/apps/details?id=io.walletpasses.android", target: "_blank" %>“ möglich.</p>
  </div>

  <div class="question">Lassen sich Tickets umbuchen oder stornieren?</div>
  <div class="answer">
    Sie können Ihre Tickets bis 24 Stunden vor Aufführungsbeginn jederzeit umbuchen oder stornieren. Dies gilt auch für Tickets, die in einer Vorverkaufsstelle gekauft wurden. Selbstverständlich erhalten Sie bei einer Stornierung den vollen Betrag der stornierten Tickets zurück.
    <p>Bitte kontaktieren Sie uns hierzu telefonisch: <b>(02653) 28 27 09</b>. In Zukunft werden wir den Umbuchungsservice auch online anbieten.
  </div>
</div>

<div class="trenner"></div>

<div class="section">
  <h2>Anfahrt</h2>

  <div id="map" class="fall"></div>
</div>

<div class="trenner"></div>

<div class="section">
  <h2>Aufführung</h2>

  <div class="question">Ich habe Tickets kurzfristig abzugeben. Kann ich diese an der Abendkasse zurückgeben?</div>
  <div class="answer">Ja, das ist möglich. Sofern wir einen neuen Besitzer für Ihre Tickets finden können, erhalten Sie den vollen Betrag zurück.</div>

  <div class="question">Kann ich an der Abendkasse mit EC-Karte bzw. bargeldlos bezahlen?</div>
  <div class="answer">
    Gerne können Sie bei uns an der Abendkasse mit Ihrer EC- oder Kreditkarte (auch kontaktlos) bezahlen. Ein Mindestbetrag gilt hierbei ebenfalls nicht.
  </div>

  <!-- <div class="question">Wird es eine Pause geben?</div>
  <div class="answer">Ja.</div>

  <div class="question">Wie lange dauert die Aufführung?</div>
  <div class="answer">Wir spielen bis etwa 19 Uhr, also circa zwei Stunden.</div> -->

  <div class="question">Kann ich während der Aufführung fotografieren oder filmen?</div>
  <div class="answer">Leider können wir Ihnen dies nicht gestatten.</div>

  <div class="question">Gibt es ein Rauchverbot?</div>
  <div class="answer">Das Rauchen im Alten Kino ist nicht gestattet.</div>
</div>

<div class="trenner"></div>

<div class="section">
  <h2>Meine Frage wurde nicht beantwortet</h2>
  <p>
    Kein Problem! Rufen Sie uns gerne an oder schreiben Sie uns:
  </p>
  <p>
    Telefon: <b>(02653) 28 27 09</b><br />
    e-mail: <script>document.write(deobfuscate("wiuznfuquow@tzqhqeaqtuuer-zkqawisqeuwrusuesczh.wqqduze"));</script>
  </p>
</div>
