doctype html
html
  head
    meta charset='utf-8'
    title Freilichtbühne am schiefen Turm e. V.
    css:
      body {
        background: white;
        font-family: sans-serif;
        font-size: 13px;
        color: black;
      }
      a {
        text-decoration: none;
        color: #0064ec;
      }
      table {
        margin: 20px auto;
        border-collapse: collapse;
      }
      table td {
        border: 0 solid;
        border-color: #e5e5e5;
        border-bottom-width: 1px;
        padding: 3px 10px;
      }
      table tr.top td {
        font-weight: bold;
        border-bottom-width: 2px;
      }
      #items {
        width: 100%;
      }
      #items td {
        border-width: 1px 0;
      }
      #items .category td {
        font-weight: bold;
      }
      #items .total td {
        border-top-width: 2px;
        border-bottom: 0;
        padding: 10px;
        font-weight: bold;
      }
      #items .amount {
        text-align: right;
      }
      #items .category td, #items .total td {
        background: #f6f4f9;
      }
      .item-notes {
        background: #f5f5f5;
        border-spacing: 7px;
        text-align: center;
      }
      .hl {
        text-align: center;
        margin: 10px;
        font-weight: bold;
      }
      .header {
        text-align: center;
      }
      .signature {
        font-weight: bold;
      }
      .address, .content, .signature, .footer, .imprint {
        margin-top: 30px;
      }
      .imprint {
        color: gray;
        border-top: 1px solid gray;
      }
      .imprint, .imprint h2 {
        font-size: 12px;
      }
      .imprint h2 {
        font-weight: bold;
      }
      .hcen {
        text-align: center;
      }
      .buttons {
        padding: 30px 0;
        text-align: center;
      }
      .buttons a {
        display: inline-block;
        padding: 15px 25px;
        font-size: 14px;
        font-weight: bold;
        background: #0064ec;
        color: white;
      }
      .coupon-code {
        font-family: monospace;
        font-weight: bold;
      }
      .newsletter h2 {
        margin-top: 20px;
        margin-bottom: -5px;
      }
      .newsletter .image {
        width: 200px;
        margin: 15px;
      }
      .newsletter .image.small {
        width: 100px;
      }
      .newsletter .image img {
        width: 100%;
      }
      .newsletter .image.left {
        float: left;
        margin-left: 0;
      }
      .newsletter .image.right {
        float: right;
        margin-right: 0;
      }
      .newsletter .section {
        overflow: auto;
      }
  body
    .header = attached_image_tag('logo.png', height: 114)

    p.address = yield :address

    .content = yield

    - unless @skip_ending
      p.signature = render 'layouts/mailer_ending'

    - if content_for? :footer
      p.footer = yield :footer

    .imprint
      = render 'application/imprint'
      p
        => link_to 'Impressum', impressum_url
        | –
        =< link_to 'Datenschutzerklärung', privacy_url
